<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
GP portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
              }) }}

              <header>
                <h1>
                   <span class="nhsuk-caption-xl nhsuk-caption--bottom">GP portal</span>     
                  Submission attempted too early
                </h1>
              </header>


            
              <p>You cannot submit for (Month Year) yet.</p>

              <p>You can add patients that you have seen during (Month Year), but you cannot complete the declaration until 1 (Following month Year).</p>

              <p>We’ve saved the information you entered. You can continue your submission later. </p>
              <br>

              <p class="nhsuk-body"><a href="months" class="nhsuk-link">Back to select a month</a></p>

            <p class="nhsuk-body"><a href="../dashboard" class="nhsuk-link">Back to MYS dashboard</a></p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}