<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage users
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    
    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
    
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <header>
      <h1>
         
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Manage users</span>
         Edit user details
      </h1>
    </header>

   
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="Full nam">
        Full name
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="Full nam" name="Full nam" type="text" value="AADUser2">
    </div>
    
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="Email">
       Email address
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="Email" name="Email" type="text" value="aaduser2@nhs.net">
    </div>
    
    <div class="nhsuk-form-group">
      
      <label class="nhsuk-label" for="ODS">
        Pharmacy ODS or YP code
      </label>
      <div class="nhsuk-hint" id="nationality-hint">
        For example FA999 or YP11111  </div>
      <input class="nhsuk-input nhsuk-input--width-20" id="ODS" name="test-width-20" type="text" value="FAAAA">
    </div>

    <br>
    
    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h2 class="nhsuk-fieldset__heading">
            User permissions
          </h2>
        </legend>
    
        <div class="nhsuk-hint" id="nationality-hint">
          Select the user’s MYS access permissions. Only give Management and financial user permissions if full access is required.
         </div>

        <div class="nhsuk-radios">

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="Pharmacy-hints-1" name="permissions-hints" type="radio" value="mobile" aria-describedby="Pharmacy-hints-1-item-hint" value="" checked>
            <label class="nhsuk-label nhsuk-radios__label" for="Pharmacy-hints-1">
              Pharmacy
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="Pharmacy-hints-1-item-hint">
              Access to pharmacy submissions and surveys.
            </div>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="Financial-hints-1" name="permissions-hints" type="radio" value="mobile" aria-describedby="Financial-hints-1-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="Financial-hints-1">
              Financial reports
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="Financial-hints-1-item-hint">
              Access to Prescription item report, Schedule of payments, Supplementary report.
            </div>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="Management-hints-1" name="permissions-hints" type="radio" value="mobile" aria-describedby="Management-hints-1">
            <label class="nhsuk-label nhsuk-radios__label" for="Management-hints-1">
              Management
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="Management-hints-1-hint">
              Access to pharmacy reports and user management.
            </div>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="Double-item-hint" name="permissions-hints" type="radio" value="mobile" aria-describedby="Double-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="Double-item-hint">
              Management and financial
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="Double-item-hint">
              These permissions will give the user full access. It combines the Pharmacy, Financial reports and Management user permissions.
            </div>
          </div>
    
        </div>
      </fieldset>
    
    </div>

       
       
    <a class="nhsuk-button" href="confirmation-update">Save</a>

    <a href="cya-user" class="nhsuk-button nhsuk-button--secondary">Cancel</a>

    

    <br>
    <br>
    <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start now</button> -->

    </div>
    </div>

  </div>
</div>
{% endblock %}