<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Planned/unplanned closures
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

    <h1>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Notify us about an unplanned closure</span>
      Unplanned temporary suspension of services
    </h1>

    <form action="NoDate" method="post">

      <div class="nhsuk-form-group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">
            Enter the reason for the closure on [date]
          </h1>
        </legend>

        <div class="nhsuk-radios nhsuk-radios--conditional">

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
              Short notice staff sickness
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
              Locum could not be found
            </label>
          </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
          <label class="nhsuk-label nhsuk-radios__label" for="example-1">
            Late arrival due to traffic
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
            Other issue with the building (power cut, water supply issue, bomb scare etc)
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
            Adverse weather (including snow, flood, flooded building)
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="text"
            aria-controls="conditional-contact-3" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
            Other
          </label>
        </div>

        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="mobile">
              Enter details
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
          </div>

        </div>

      </div>
      
      <button class="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

    <!-- End of content -->

  </div>
</div>
{% endblock %}