<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Community Seasonal Influenza Vaccination Advanced Service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
                <h1>
                  Community Seasonal Influenza Vaccination Advanced Service
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
                </h1>
              </header>

              <h2 class="nhsuk-heading-l">You've confirmed your Flu vaccination data for February 2023</h2>


              <form action="FLUCHECKYOURANSWERS" method="post">

                <table role="table" class="nhsuk-table-responsive">
                  <caption class="nhsuk-table__caption"></caption>
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Month
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Total number of vaccines
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Period</span>February 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Total number of vaccines</span>0
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status</span><strong class="nhsuk-tag">
                          CONFIRMED
                        </strong>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <br>
                <br>

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-fieldset__heading">
                        Do you want to add another month?
                      </h1>
                    </legend>

                    <div class="nhsuk-radios nhsuk-radios--inline">

                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-inline-1" name="FLUCHECKYOURANSWERS" type="radio"
                          value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                          Yes
                        </label>
                      </div>

                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-inline-2" name="FLUCHECKYOURANSWERS" type="radio"
                          value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                          No
                        </label>
                      </div>

                    </div>
                  </fieldset>

                </div>

                <br>

                <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                  Continue
                </button>

              </form>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}