<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}


{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <!-- Change the page title here -->
        <header>
            <h1 class="nhsuk-caption--bottom">
                Import covid vaccine site selection process
            </h1>
        </header>
<br>
        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
        <!-- <h2>Context</h2> -->

        <p>Import covid vaccine site selection process by uploading a excel file</p>

        
        <div class="govuk-form-group">
            <label class="nhsuk-heading-s" for="file-upload-1">
              Upload a file    
            </label>                      
            <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file" style="font-size: larger;">
        </div>
         
    <br>
    <br>

    <a href="confirmation" class="nhsuk-button">Upload covid vaccine site selection process</a>
        
</div>
</div>
{% endblock %}