<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
LFD
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">NHS Lateral Flow Device (LFD) tests service for patients potentially eligible for COVID-19 treatmentse</span>
        You cannot enter claims for this service yet
      </h1>
    </header>

    <!-- Add your content here -->
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>You are registered to provide the service. You will be able to enter claims for the service from <b>27 November 2023</b>.</p>
    </div>

<br>

    <h3>Monthly submissions</h3>
     
   
<p>There are currently no months available to submit data for.</p>
    

    <br>
    <br>



    <p class="nhsuk-body"><a href="de-registration" class="nhsuk-link">Deregister from this service</a></p>



    <!-- End of content -->

  </div>
</div>
{% endblock %}