<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'BOOTS.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Information Service Portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">

    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">

       
        
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
              
            

                  <div class="nhsuk-form-group">
                
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                         Logged in as
                        </h1>
                      </legend>
                
                      <div class="nhsuk-hint" id="example-hint">
                        Select all options that you would like to view.
                      </div>
                
                      <div class="nhsuk-checkboxes">
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            BSA
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Boots UK Ltd
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            HALE SMITHS PHARMACY
                          </label>
                        </div>
                
                      </div>
                    </fieldset>
                
                  </div>
                
                </form>
                 
                <a href="home-hale" class="nhsuk-button">Select</a>

                </div>

              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a class="active" href="home-boots">Home</a></li>
              <li><a href="eschedule">E-Schedule data file</a></li>
              <li><a href="prescription">Prescription item report</a></li>
              <li><a href="schedule">Schedule of payments</a></li>
              <li><a href="supplementary">Supplementary report</a></li>
              <li><a href="change-account">Changes to my account</a></li>
            
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}