<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
RSV and pertussis vaccines
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<!-- Feedback and Notification block starts here -->

<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">



       

        
        
        <!-- Change the page title here -->
        <header>
             <h1 class="nhsuk-caption--bottom">
          Upload VMP and AMP data to the MYS medicines table

            </h1>
        </header>

<br>   

       <p>Use this function to upload VMP and AMP information from the Common Drug Reference (CDR) database to the MYS medicines table.</p>
<p>The MYS medicines table is used to look up items and price medicines for Pharmacy First urgent medicines claims.</p>

<p>You can either:<p>

<ul>
  <li>
    delete all medicines from the table, you must do this first if uploading new data
  </li>
  <li>upload VMP and AMP data from the CDR database</li>
</ul>


<div class="nhsuk-button-group">
  <button class="nhsuk-button nhsuk-button--warning" data-module="nhsuk-button" type="submit">
  Delete all medicines
</button>


  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
Upload file
  </button>

</div>

    <br><br>
      

    

    </div>
</div>

{% endblock %}