<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
LFT
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    <!-- {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }} -->



    <!-- Change the page title here -->
    <!-- <header>
      <h1>
        Covid-19 Lateral Flow Device Distribution Service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>
    </header> -->

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content goes here.</p> -->

    <form action="Select" method="post">


      <div class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

              <div class="nhsuk-card__content">

                <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                  Done
                </h1>

                <p class="nhsuk-u-font-size-24">
                  <strong>Covid-19 Lateral Flow Device Distribution Service</strong>
                </p>

              </div>

            </div>

            <h2>What happens next</h2>
            <p class="nhsuk-body">Content</p>

            <p class="nhsuk-body"><a href="lft-start-page-new" class="nhsuk-link">
                Submit another month
              </a></p>
            <p class="nhsuk-body"><a href="#" class="nhsuk-link">
                Back to MYS dashboard
              </a></p>


          </div>
        </div>
      </div>


    </form>


      <!-- <a class="nhsuk-button" href="patient-details-new">Continue</a> -->


      <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start now</button> -->

    </form>
    <!-- End of content -->

  </div>
</div>
{% endblock %}