<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: Site Sign-up Process for Suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
   

    <!-- Change the page title here -->
    <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: Site Sign-up Process for Suppliers</span>
        Lead contact information
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content?</p> -->
  

    
    <form action="Select" method="post">


     
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Lead contact name
            </h1>
          </legend>
        <div class="nhsuk-hint" id="example-hint">This should be the person that we can speak to about the completion of this Response Document.</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
        </div>

        <br>
        
        <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Lead contact telephone number
          </h1>
        </legend>
        <div class="nhsuk-hint" id="example-hint">Provide a UK mobile telephone number</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      
      </div>
      
      <br>

      <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Lead contact email address
          </h1>
        </legend>
        <div class="nhsuk-hint" id="example-hint">This is the primary email address we will use to communicate with about this submission</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      </div>
      
            
        
        </fieldset>

     

    <!-- <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Patient representative details
      </h1>
    </legend> -->


  


    </form>

   <br>

    <a class="nhsuk-button" href="cya-contact">Save and continue</a>

    
    <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start now</button> -->

    </form>
    <!-- End of content -->

  </div>
</div>
{% endblock %}