<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: Site Sign-up Process for Suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: Site Sign-up Process for Suppliers</span>
       Location
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content?</p> -->
   <hr>

  
    
   <div class="nhsuk-form-group">

    <form>

      <div class="nhsuk-form-group">
    
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Please provide the ICB(s) within which you would be willing to provide a vaccination site.
            </h1>
          </legend>
    
          <div class="nhsuk-hint" id="example-hint">
            Select all options that are relevant to you.
          </div>
    
          <div class="nhsuk-checkboxes">
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="" checked>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS Bedfordshire, Luton and Milton Keynes Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Birmingham and Solihull
                Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Black Country Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Buckinghamshire,
                Oxfordshire and Berkshire
                West Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Cambridgeshire and
                Peterborough Integrated Care
                Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Cheshire and Merseyside
Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="" checked>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS Cornwall and the Isles of
Scilly Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Coventry and
                Warwickshire Integrated Care
                Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Derby and Derbyshire
Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Devon Integrated Care
Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Dorset Integrated Care
Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Frimley Integrated Care
Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="" checked>
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS Gloucestershire
                Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Greater Manchester
                Integrated Care Board 
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Hampshire and Isle of
Wight Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Herefordshire and
Worcestershire Integrated
Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Hertfordshire and West
Essex Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Humber and North
                Yorkshire Integrated Care
                Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS Kent and Medway
Integrated Care Board 
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Lancashire and South
                Cumbria Integrated Care
                Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Leicester, Leicestershire
and Rutland Integrated Care
Board 
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Lincolnshire Integrated
Care Board 
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Mid and South Essex
Integrated Care Board 
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Norfolk and Waveney
Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS North Central London
Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS North East and North
                Cumbria Integrated Care
                Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS North East London
                Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS North West London
Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Northamptonshire
Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Nottingham and
Nottinghamshire Integrated
Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Shropshire, Telford and
Wrekin Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS Somerset Integrated Care
                Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS South East London
Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS South West London
                Integrated Care Board 
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS South Yorkshire
                Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Staffordshire and Stokeon-Trent Integrated Care
Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS Suffolk and North East
                Essex Integrated Care Board
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                NHS Surrey Heartlands
                Integrated Care Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                NHS Sussex Integrated Care
Board
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                NHS West Yorkshire
Integrated Care Board 
              </label>
            </div>
    
            
          </div>
        </fieldset>
    
      </div>
    
    </form>
  </div>

   <br>

    <a class="nhsuk-button" href="cya-site-off">Confirm</a>

    

    <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start now</button> -->

    </form>
    <!-- End of content -->

  </div>
</div>
{% endblock %}