<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
        Your ability to meet the Minimum Requirements - check your answers
      </h1>
    </header>
<hr>
   

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Have authority of Supplier and the Supplier Parties to answer questions on their behalf regarding ability to meet the Minimum Requirements?
                   </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-2-cya">
                      Change <span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Have, or will you have, GPhC registration by the Commencement Date?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-3-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Confirm contractual documents read and that you are confident Supplier/Supplier Parties can meet requirements in contractual agreement as published 
                    and you will enter contractual relations on basis of contractual documents supplied between the Supplier, Supplier Parties and Commissioner and any reasonable variations required by Commissioner?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-4-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Able to offer and then deliver if accepted at least 100 COVID-19 vaccinations per week if required?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-5-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>


                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    No current restrictions are imposed on any Supplier Parties (or clinical leadership at proposed Designated Sites), and no ongoing regulatory or assurance investigations taking place?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-6-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GPhC inspection of pharmacy resulted in ‘Standards Met’ for all five principles (or no inspection has taken place)?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-7-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Not had previously held COVID-19 vaccination contract terminated early due to performance issues?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-8-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

               
                

               

                </dl>


                

              </div>

              
           
          </div>
          <br>
          
                
          
                <a href="contact-1" class="nhsuk-button">Continue</a>

                <a href="save-and-continue-off" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>
              

                    
            
    
         
  </div>
</div>
{% endblock %}