<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: Site Sign-up Process for Suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: Site Sign-up Process for Suppliers</span>
        Your ability to meet the Minimum Requirements - check your answers
      </h1>
    </header>
<hr>
   

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you confirm that you have the authority of the Supplier and the Supplier Parties to answer the questions on their behalf with regard to you and their ability to meet the Minimum Requirements of the service? </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-2-cya">
                      Change <span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do the Potential Supplier and the Potential Supplier Parties have, or will they have, CQC or GPhC registration by the Commencement Date?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-3-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you confirm that you have read the contractual documents supplied as part of this Response Document process and that you:
                  <ul>
                    <li>are confident that the Potential Supplier and the Potential Supplier Parties can meet all of the requirements within those contractual documents</li>
                 <li>will enter into contractual relations between the Potential Supplier, Potential Supplier Parties and the Commissioner on the basis of those contractual documents and will accept any reasonable variations required by the Commissioner (for example, to reflect JCVI guidance)?</li>
                  </ul></dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-4-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Are you, as the Potential Supplier, able to offer (and then deliver if commissioned) at least 100 COVID-19 vaccinations per week if required by the Commissioner? </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-5-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>


                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you confirm that no current restrictions are imposed on the Potential Supplier or any of the Potential Supplier Parties (or the clinical leadership at the proposed Designated Site) after an investigation by any NHS, System, supervisory, assurance, or regulatory body, and that there are no ongoing regulatory or assurance investigations taking place? </legend>
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-6-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do the Potential Supplier and Potential Supplier Parties have a CQC rating of 'outstanding', 'good' or ‘requires improvement’, or for pharmacies, has the GPhC inspection of the pharmacy resulted in ‘Standards Met’ for all 5 principles? </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-7-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Can you confirm that no Potential Supplier or Potential Supplier Parties have had a previously held COVID-19 vaccination contract terminated early due to performance issues?  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="requirements-8-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

               
                

               

                </dl>


                

              </div>

              
           
          </div>
          <br>
          
                
          
                <a href="contact-1" class="nhsuk-button">Continue</a>

                <a href="save-and-continue-off" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>
              

                    
            
    
         
  </div>
</div>
{% endblock %}