<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}

    <!-- Change the page title here -->
    <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
        Your ability to meet Minimum Requirements - current restriction
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content?</p> -->
 
<hr>
   
<div class="nhsuk-form-group">
  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Do you confirm that no current restrictions are imposed on any of the supplier parties (or the clinical leadership at the proposed designated sites) after an investigation, 
          and that there are no ongoing regulatory or assurance investigations taking place (for example, by any NHS, System or regulatory bodies).
        </h1>
      </legend>
      
      <div class="nhsuk-radios nhsuk-radios--conditional">
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="yes"
            aria-controls="conditional-contact-1" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
            Yes
          </label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="no"
            aria-controls="conditional-contact-2" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
            No
          </label>
        </div>
      </div>
      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2" style="margin: 0; border-left: none; padding-left: 0; margin-top: 50px;">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="if-no">
            Provide further details. 
          </label>
          <div class="nhsuk-hint" id="contact-hint">
            You must include the supplier name and sufficient details of the investigation which will allow the Commissioner to evaluate your response. If 
            you do not provide sufficient further detail this submission may fail and may not be considered any further.<br>See the Procurement Process Guidance for further information.
          </div>
          <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
        </div>
      </div>
    </fieldset>
  </div>
</div>
  <br>

    <a class="nhsuk-button" href="requirements-7">Save and continue</a>


    <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start now</button> -->

    </form>
    <!-- End of content -->

  </div>
</div>
{% endblock %}