<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: Site Sign-up Process for Suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: Site Sign-up Process for Suppliers</span>
        Full submission summary for Response Document
      </h1>
    </header>
<hr>
<br>
<h3 class="nhsuk-heading-m">Your ability to meet the Minimum Requirements</h3>
<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do you confirm that you have the authority of the Supplier and the Supplier Parties to answer the questions on their behalf with regard to you and their ability to meet the Minimum Requirements of the service? </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do the Potential Supplier and the Potential Supplier Parties have, or will they have, CQC or GPhC registration by the Commencement Date?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do you confirm that you have read the contractual documents supplied as part of this Response Document process and that you:

      <ul>
   <li>are confident that the Potential Supplier and the Potential Supplier Parties can meet all of the requirements within those contractual documents</li>
<li>will enter into contractual relations between the Potential Supplier, Potential Supplier Parties and the Commissioner on the basis of those contractual documents and will accept any reasonable variations required by the Commissioner (for example, to reflect JCVI guidance)?</li>    
</ul>
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Are you, as the Potential Supplier, able to offer (and then deliver if commissioned) at least 100 COVID-19 vaccinations per week if required by the Commissioner?   </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do you confirm that no current restrictions are imposed on the Potential Supplier or any of the Potential Supplier Parties (or the clinical leadership at the proposed Designated Site) after an investigation by any NHS, System, supervisory, assurance, or regulatory body, and that there are no ongoing regulatory or assurance investigations taking place? </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do the Potential Supplier and Potential Supplier Parties have a CQC rating of 'outstanding', 'good' or ‘requires improvement’, or for pharmacies, has the GPhC inspection of the pharmacy resulted in ‘Standards Met’ for all 5 principles? </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Can you confirm that no Potential Supplier or Potential Supplier Parties have had a previously held COVID-19 vaccination contract terminated early due to performance issues?  </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>
 </dl>

<br>

<h3 class="nhsuk-heading-m">Lead contact information</h3>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lead contact name 
    </dt>
    <dd class="nhsuk-summary-list__value">
      John Snow
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lead contact telephone number
    </dt>
    <dd class="nhsuk-summary-list__value">
      01234 678909
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lead contact email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      JohnSnow@abc.co.uk
    </dd>
  </div>

  </dl>

 

 

  <br>

  <h3 class="nhsuk-heading-m">About your proposed service</h3>
  <dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        How many COVID-19 vaccinations per week would you prefer to deliver from the site?
      </dt>
      <dd class="nhsuk-summary-list__value">
        10
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What is the maximum number of COVID-19 vaccinations per week that you would be able to safely provide from the site?   </dt>
      <dd class="nhsuk-summary-list__value">
        25
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What is the age of patients you could vaccinate at your site?
      </dt>
      <dd class="nhsuk-summary-list__value">
        12 years and over
      </dd>
     
    </div>

   


    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 1 name
      </dt>
      <dd class="nhsuk-summary-list__value">
        Katy Peterson
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 1 email address
      </dt>
      <dd class="nhsuk-summary-list__value">
        katy.peterson@nhs.net
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 1 mobile telephone number
      </dt>
      <dd class="nhsuk-summary-list__value">
        07712345678
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 2 name
      </dt>
      <dd class="nhsuk-summary-list__value">
        Romain Bonnet 
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 2 email address
      </dt>
      <dd class="nhsuk-summary-list__value">
        romain.bonnet@nhs.net
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 2 mobile telephone number
      </dt>
      <dd class="nhsuk-summary-list__value">
        01286325697
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Does your proposed Designated Site have any storage or capacity limitations with regards to storing COVID-19 vaccines? </dt>
      <dd class="nhsuk-summary-list__value">
        Yes
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Maximum number of COVID-19 vaccine doses your proposed Designated Site can safely store?
      </dt>
      <dd class="nhsuk-summary-list__value">
        250
      </dd>
      
    </div>
   
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What Point of Care System will the site use?</dt>
      <dd class="nhsuk-summary-list__value">
        Outcomes4Health 
      </dd>
     
    </div>

    </dl>       

   
    <br>

    <h3 class="nhsuk-heading-m">
      Temporary activity away from Designated Site</h3>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you have any plans to deliver temporary activity away from your Designated Site?
               <dd class="nhsuk-summary-list__value">
         Yes
        </dd>
      
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Designated site name </dt>
        <dd class="nhsuk-summary-list__value">
          General Care
        </dd>
      
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address line 1 </dt>
        <dd class="nhsuk-summary-list__value">
          41 
        </dd>
       
      
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address line  2 (optional) </dt>
        <dd class="nhsuk-summary-list__value">
          Beaconsfield St
        </dd>
     
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Town or city </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle upon Tyne
        </dd>
     
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Postcode </dt>
        <dd class="nhsuk-summary-list__value">
          NE4 9NP
        </dd>
      
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          For each one, when? </dt>
        <dd class="nhsuk-summary-list__value">
          15 July 2024
        </dd>
       
      </div>

     

      </dl>

      <br>
    

           <h3 class="nhsuk-heading-m">Third party disclosure</h3>

           <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Will any of the details contained in your Response Document be unavailable for disclosure to third parties and/or a Freedom of Information request?
              </dt>
              <dd class="nhsuk-summary-list__value">
                Yes
              </dd>
              
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Enter details of which parts are not for disclosure and give valid reasons to support this</dt>
              <dd class="nhsuk-summary-list__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare rhoncus nisi eu aliquet. Nam volutpat mattis orci, at finibus lorem ornare a. Integer nec justo in leo rutrum imperdiet eget sed est. 
              </dd>
              
            </div>
          </dl>

       
       
          <br>
          
                
          
                <a href="front-page-3" class="nhsuk-button">Back to submissions page</a>

                
                    
            
    
         
  </div>
</div>
{% endblock %}