<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
        Full submission summary for Response Document B
      </h1>
    </header>
<hr>
<br>
<h3 class="nhsuk-heading-m">Your ability to meet Minimum Requirements</h3>
<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Have authority of Supplier and the Supplier Parties to answer questions on their behalf regarding ability to meet the minimum requirements?
     </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Have, or will you have, a GPhC registration by the commencement date?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Confirm contractual documents read and that you are confident Supplier/Supplier Parties can meet requirements in contractual agreement as published 
      and you will enter contractual relations on basis of contractual documents supplied between the Supplier, Supplier Parties and Commissioner and any reasonable variations required by Commissioner?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Able to offer and then deliver if accepted at least 100 COVID-19 vaccinations per week if required?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      No current restrictions are imposed on any supplier parties (or clinical leadership at proposed designated sites), and no ongoing regulatory or assurance investigations taking place?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      GPhC inspection of pharmacy resulted in ‘Standards Met’ for all five principles (or no inspection has taken place)?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Not had previously held COVID-19 vaccination contract terminated early due to performance issues?
    </dt>
    <dd class="nhsuk-summary-list__value">
      Yes
    </dd>
  </div>
 </dl>

<br>

<h3 class="nhsuk-heading-m">Lead contact information</h3>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lead contact name 
    </dt>
    <dd class="nhsuk-summary-list__value">
      John Snow
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lead contact telephone number
    </dt>
    <dd class="nhsuk-summary-list__value">
      01234 678909
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lead contact email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      JohnSnow@abc.co.uk
    </dd>
  </div>

  </dl>

  <br>

  <h3 class="nhsuk-heading-m">Site reference</h3>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of submission</dt>
    <dd class="nhsuk-summary-list__value">
     01 October 2023
    </dd>
    
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
     Site reference
     </dt>
    <dd class="nhsuk-summary-list__value">
    Off site 1
    </dd>
   
  </div>
  </dl>

  <br>

<h3 class="nhsuk-heading-m">Location</h3>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do you know the address of the proposed site?
     </dt>
    <dd class="nhsuk-summary-list__value">
    No
    </dd>
   
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      ICBs within which you would be willing to provide vaccination site</dt>
    <dd class="nhsuk-summary-list__value">
      NHS Bedfordshire, Luton and Milton Keynes<br>
      NHS Cornwall and the Isles of Scilly <br>
      NHS Gloucestershire 
    </dd>
    
  </div>

  </dl>

  <br>

  <h3 class="nhsuk-heading-m">About your proposed service</h3>
  <dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        How many COVID-19 vaccinations per week would you prefer to deliver from the site?
      </dt>
      <dd class="nhsuk-summary-list__value">
        10
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What is the maximum number of COVID-19 vaccinations per week that you would be able to safely provide from the site?
      </dt>
      <dd class="nhsuk-summary-list__value">
        25
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What is the age of patients you could vaccinate at your site?
      </dt>
      <dd class="nhsuk-summary-list__value">
        12 years and over
      </dd>
     
    </div>

   


    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 1 name
      </dt>
      <dd class="nhsuk-summary-list__value">
        Katy Peterson
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 1 email address
      </dt>
      <dd class="nhsuk-summary-list__value">
        katy.peterson@nhs.net
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 1 telephone number
      </dt>
      <dd class="nhsuk-summary-list__value">
        07712345678
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 2 name
      </dt>
      <dd class="nhsuk-summary-list__value">
        Romain Bonnet 
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 2 email address
      </dt>
      <dd class="nhsuk-summary-list__value">
        romain.bonnet@nhs.net
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        IT User 2 telephone number
      </dt>
      <dd class="nhsuk-summary-list__value">
        01286325697
      </dd>
      
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Does your proposed Designated Site have any storage / capacity limitations with regards to storing COVID-19 vaccines?
      </dt>
      <dd class="nhsuk-summary-list__value">
        Yes
      </dd>
     
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What is the maximum amount of COVID-19 vaccine doses your proposed Designated Site can safely store? Please provide response in number of doses.
      </dt>
      <dd class="nhsuk-summary-list__value">
        250
      </dd>
      
    </div>
   
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        What point of care system will the site use?</dt>
      <dd class="nhsuk-summary-list__value">
        Outcomes4Health 
      </dd>
     
    </div>

    </dl>       

    <br>
    <br>

    <h3 class="nhsuk-heading-m">Details about your off site service - safety and clinical quality</h3>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do the team at your proposed COVID-19 vaccination site have experience in offering vaccinations?
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dd>
        
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          What experience does your team have?
        </dt>
        <dd class="nhsuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </dd>
        
      </div>
     </dl>

     <br>
     <br>

     <h3 class="nhsuk-heading-m">Details about your off site service - coverage and access</h3>

     <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Indication of the days and times your service will be available for patients
        </dt>
        <dd class="nhsuk-summary-list__value">
          Every Monday and Friday 1-6pm, or every Saturday 1-3pm
        </dd>
       
      </div>

      </dl>

      <br>
      <br>

      <h3 class="nhsuk-heading-m">Details about your off site service - addressing inequality</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            How would your site meet the local population needs?
          </dt>
          <dd class="nhsuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vehicula ipsum a arcu cursus vitae congue mauris. Viverra accumsan in nisl nisi scelerisque eu. Quis vel eros donec ac. Faucibus vitae aliquet nec ullamcorper sit. 
          </dd>
          
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            How would your proposed service reduce health inequalities?
          </dt>
          <dd class="nhsuk-summary-list__value">
            Duis tristique sollicitudin nibh sit amet. Vulputate odio ut enim blandit. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. 
          </dd>
          
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            How would your proposed service support patients with additional needs?
          </dt>
          <dd class="nhsuk-summary-list__value">
            Landit aliquam etiam erat velit scelerisque in dictum. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Sed elementum tempus egestas sed sed risus pretium. Enim ut sem viverra aliquet.
          </dd>
          
        </div>

        </dl>

        <br>
        <br>

        <h3 class="nhsuk-heading-m">Details about your off site service - capacity</h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              How would you optimise COVID-19 vaccine supply and ensure that vaccine wastage is minimised?
            </dt>
            <dd class="nhsuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </dd>
            
          </div>

          </dl>

          <br>
          <br>

          <h3 class="nhsuk-heading-m">Details about your off site service - value for money</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Will there be set-up costs, ongoing costs or equipment requested from NHS England in relation to this site?
              </dt>
              <dd class="nhsuk-summary-list__value">
                Yes
              </dd>
             
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Details of team's experience
              </dt>
              <dd class="nhsuk-summary-list__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </dd>
              
            </div>
           </dl>

           <br>
           <br>

           <h3 class="nhsuk-heading-m">Third party disclosure</h3>

           <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Will any of the details contained in your response document be unavailable for disclosure to third parties?
              </dt>
              <dd class="nhsuk-summary-list__value">
                Yes
              </dd>
              
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Enter details of which parts are not for disclosure and give valid reasons to support this</dt>
              <dd class="nhsuk-summary-list__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare rhoncus nisi eu aliquet. Nam volutpat mattis orci, at finibus lorem ornare a. Integer nec justo in leo rutrum imperdiet eget sed est. 
              </dd>
              
            </div>
          </dl>


         </div>
         </div>
          <br>
          
                
          
                <a href="front-page-2" class="nhsuk-button">Back to submissions page</a>

                
                    
            
    
         
  </div>
</div>
{% endblock %}