<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

                            <header>
                                <h1>
                                    MYS Service Registration
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">Register for services</span>
                                </h1>
                            </header>
                            <hr>


                            <h2 class="nhsuk-heading-l">Version 1</h2>

                            <p>First version of the registration and deregistration services. <br><br><a href="v1">Version 1</a></p>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}