<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS Service De-registration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

                            <header>
                                <h1>
                                    MYS Service de-registration
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">De-register for services</span>
                                </h1>
                            </header>
                            

                            <form action="dereg-declaration" method="post">

                                

                                <div class="grid-row">
                                    <div class="nhsuk-grid-column-one-third">
                                        <h2 class="heading-small" style="margin-top:20px;">Declaration</h2>
                                      </div>
                                      <div class="nhsuk-grid-column-two-thirds">
                                        <div class="declaration">

                                    
                                            <ol>
                                                <br>
                                                <li style="margin-left:40px; padding-bottom:10px;">1. I confirm that I
                                                    have
                                                    reviewed the summary above and that the information provided within
                                                    this
                                                    submission is correct and accurate. </li>

                                                <li style="margin-left:40px; padding-bottom:10px;">2. I confirm that my
                                                    acceptance of the declaration below shall act as my electronic
                                                    signature.
                                                </li>

                                            </ol>

                                            
                                        </div>
                                        <br>
                                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                                            Accept
                                        </button>
                                        
                                    </div>

                                </div>

                                <br>

                            
                                
                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}