<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS Service Registration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

                            <header>
                                <h1>
                                    MYS Service Registration
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">Register for services</span>
                                </h1>
                            </header>
                            <hr>

                            <form action="opt-in" method="post">


                                <div class="nhsuk-form-group">

                                    <fieldset class="nhsuk-fieldset">
                                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                                            <h1 class="nhsuk-fieldset__heading">
                                                Which services would you like to register for?
                                            </h1>
                                        </legend>

                                        <div class="nhsuk-checkboxes">

                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="example-1" name="example"
                                                    type="checkbox" value="email">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                                    Service 1
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="example-2" name="example"
                                                    type="checkbox" value="phone">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                                                    Service 2
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="example-3" name="example"
                                                    type="checkbox" value="text message">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                                                    Service 3
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="example-3" name="example"
                                                    type="checkbox" value="text message">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                                                    Service 4
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="example-3" name="example"
                                                    type="checkbox" value="text message">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                                                    Service 5
                                                </label>
                                            </div>

                                        </div>
                                    </fieldset>

                                </div>

                                <br>

                                <a class="nhsuk-button" data-module="nhsuk-button" href="cya">
                                    Coninue
                                </a>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}