<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

                            <header>
                                <h1>
                                    MYS Service Registration
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">Register for services</span>
                                </h1>
                            </header>
                            <hr>


                            <h2 class="nhsuk-heading-l">Registering for a service</h2>

                            <p>You'll need to register to provide some services through MYS.  When you register, your registration request will be sent to us for approval.
                            <br><br>Some services pay a registration fee. <br><br>
                            <div class="nhsuk-action-link">
                                <a class="nhsuk-action-link__link" href="service-opt-in">
                                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                  </svg>
                                  <span class="nhsuk-action-link__text">Register to provide services</span>
                                </a>
                              </div></p>

                              <h2 class="nhsuk-heading-l">De-registering for a service</h2>

                              <p>If you need to stop providing a service you should de-register.  You'll need to provide a reason for the de-registration. <br><br>
                              <div class="nhsuk-action-link">
                                  <a class="nhsuk-action-link__link" href="service-opt-out">
                                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                                      <path d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                    </svg>
                                    <span class="nhsuk-action-link__text">De-register to provide services</span>
                                  </a>
                                </div></p>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}