<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-column-two-thirds">


<!-- phase banner -->
<!--div class="phase-banner"
style="margin-bottom: 20px;
line-height: 1.25;
margin-top: 40px;
border-bottom: 1px solid #bfc1c3;">

<p></strong> Your <a href="https://online1.snapsurveys.com/MYS_FEEDBACK_SURVEY?pgn=CPCS" target="_blank">feedback (opens in a new tab)</a> 
    will help us improve our service.</p>
</div-->

<!-- Feedback and Notification block ends here -->

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

          

        <!-- Change the page title here -->
        <header>
            <h1 class="nhsuk-caption--bottom">
              Delete submission
            </h1>
        </header>
<br>


        <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h3 class="nhsuk-fieldset__heading">
                Are you sure you want to delete this month's submission?
            </h3>
            </legend>

            <p class="nhsuk-body">
            You will not be able to recover the data once it has been deleted.
            </p>

            <div class="nhsuk-radios nhsuk-radios--inline">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
                </label>
            </div>
            </div>
        </fieldset>
        </div>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
        <!-- <h2>Context</h2> -->

<br>        
      
      <a href="confirmation-delete" class="nhsuk-button">Confirm</a>

        <br>
        <br>
    
    


       

      </div>
    </div>
</div>

{% endblock %}