<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<!-- Feedback and Notification block starts here -->

<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-column-two-thirds">



       
      

        <!-- Change the page title here -->
        <header>
            <h1 class="nhsuk-caption--bottom">
              FP34C submissions report
            </h1>
        </header>
<br>

       <p>Use this application to download an FP34C submissions report as a CSV file to your device.</p>
       <p>You can download a report for this month and the previous two months. For example, download a report anytime from 1 March 2025.</p>
<br>         
      
            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                    <h2 class="nhsuk-fieldset__heading">
                        Enter start date of report
                    </h2>
                    </legend>
                    <div class="nhsuk-hint" id="example-hint">
                    For example, 1 3 2024
                    </div>
                    <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                            Day
                        </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                            Month
                        </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example[month]" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                            Year
                        </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example[year]" type="text" inputmode="numeric">
                        </div>
                    </div>
                    </div>
                </fieldset>
            
            </div>


<br>            

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                    <h2 class="nhsuk-fieldset__heading">
                        Enter end date of report
                    </h2>
                    </legend>
                    <div class="nhsuk-hint" id="example-hint">
                    For example, 31 5 2024
                    </div>
                    <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                            Day
                        </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                            Month
                        </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example[month]" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                            Year
                        </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example[year]" type="text" inputmode="numeric">
                        </div>
                    </div>
                    </div>
                </fieldset>
            
            </div>

<br>              


      <a href="" class="nhsuk-button">Get report</a>


        </div>
    </div>
</div>

{% endblock %}