<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-column-two-thirds">


<!-- phase banner -->
<!--div class="phase-banner"
style="margin-bottom: 20px;
line-height: 1.25;
margin-top: 40px;
border-bottom: 1px solid #bfc1c3;">

<p></strong> Your <a href="https://online1.snapsurveys.com/MYS_FEEDBACK_SURVEY?pgn=CPCS" target="_blank">feedback (opens in a new tab)</a> 
    will help us improve our service.</p>
</div-->

<!-- Feedback and Notification block ends here -->

        {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

          

        <!-- Change the page title here -->
        <header>
            <h1 class="nhsuk-caption--bottom">
              Search FP34C submission to delete
            </h1>
        </header>
<br>
        <p>Search for a submission to delete</p>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-20">
            Dispenser Code
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
        </div>
        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
        <!-- <h2>Context</h2> -->

<br>        
      
      <a href="search-result" class="nhsuk-button">Search for submission</a>

        <br>
        <br>
    
    


       

      </div>
    </div>
</div>

{% endblock %}