<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS Optometry
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">



          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h1 class="nhsuk-heading-xl">
                Special School Eye Care Service
              </h1>
            </div>

          </div>



        </div>

      </div>

    </div>
    <div class="nhsBSA-sidebar-nav">

      <div class="side-nav">



        <ul>
          <div id="options" class="options">
            <li>
              <a href="index-opth">Summary</a>
            </li>
            <li>
              <a class="active" href="ssecs/ssecs">Special School Eye Care Service</a>
            </li>
          </div>
        </ul>

        <!-- <div class="action-buttons">
              <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
          </div> -->
      </div>

    </div>
  </div>

</div>
{% endblock %}
