<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: Site Sign-up Process for Suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
              }) }}

              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: Site Sign-up Process for Suppliers</span>
        	
        Temporary activity away from Designated Site - check your answers
      </h1>
    </header>
<hr>
   

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you have any plans to deliver temporary activity away from your Designated Site?
                         <dd class="nhsuk-summary-list__value">
                   Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="popup-1-example-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    If yes, what post code would this be delivered from?
                         <dd class="nhsuk-summary-list__value">
                          NE1 1DE
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="popup-1-example-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

               

                </dl>


                

              </div>

              
           
          </div>
          <br>
          
                
          
                <a href="tasklist-onsite-met-2" class="nhsuk-button">Continue</a>

                <a href="save-and-continue" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>
              

                    
            
    
         
  </div>
</div>
{% endblock %}