<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search for a performer to deactivate
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                      {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
                          <header class="page-header">
                            <span class="heading-secondary">PA Admin Portal</span>
                            <h1 class="nhsuk-heading-l govuk-heading-l">Search for a performer to deactivate</h1>
                          </header>

                    <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="contractor-name">
                      Search for a performer to deactivate by keying their name and selecting Continue.
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="contractor-name" name="contractor-name" type="text" value="Search by name">
                  </div>

<br>
<a href="deactivate-performer-list" class="nhsuk-button">Continue</a>
              

                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
