{% extends "layout.html" %}

{% block pageTitle %}
Prescribing Consultation Claim (PCC)
{% endblock %}

{% block content %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}

<h1>
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">
    Prescribing Consultation Claim
  </span>
  Add prescription items
</h1>

<p>Add every item listed on the prescription.</p>

<form method="post" action="/pharmacy/ipp-v1/outcome-unlimited-nojava">

  <div class="nhsuk-form-group">

    <label class="nhsuk-label" for="item">
      Add each prescribed item
    </label>

    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="item" name="item" type="text">

 <button class="nhsuk-button nhsuk-button--small" data-module="nhsuk-button" type="submit">
    Add
  </button>

  </div>
</form>


{% if data.prescriptionItems and data.prescriptionItems.length %}

<h2 class="nhsuk-heading-m">
Prescription items
</h2>

<dl class="nhsuk-summary-list">

{% for item in data.prescriptionItems %}

<div class="nhsuk-summary-list__row">

<dt class="nhsuk-summary-list__key">
Item {{ loop.index }}
</dt>

<dd class="nhsuk-summary-list__value">
{{ item }}
</dd>

<dd class="nhsuk-summary-list__actions">

<a href="/pharmacy/ipp-v1/remove-prescription-item/{{ loop.index0 }}">
Remove
<span class="nhsuk-u-visually-hidden">
item {{ loop.index }}
</span>
</a>

</dd>

</div>

{% endfor %}

</dl>

{% endif %}


<a href="cya" class="nhsuk-button">
Finish adding items
</a>

{% endblock %}