{% extends "layout.html" %}

{% block pageTitle %}
Prescribing Consultation Claim (PCC)
{% endblock %}

{% block content %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}

<h1>
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">
    Prescribing Consultation Claim
  </span>
  Add prescription items
</h1>

<p>Add every item listed on the prescription.</p>

<h3 class="nhsuk-heading-m">Prescription items</h3>
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Item 1
    </dt>
    <dd class="nhsuk-summary-list__value">
      Ibuprofen 200mg tablets
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden">Ibuprofen 200mg tablets</span></a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Item 2
    </dt>
    <dd class="nhsuk-summary-list__value">
      Metformin 500mg tablets
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden">Metformin 500mg tablets</span></a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Item 3
    </dt>
    <dd class="nhsuk-summary-list__value">
      Paracetamol 500 mg Capsules
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden">Paracetamol 500 mg Capsules</span></a>
    </dd>
  </div>
</dl>



<a href="cya-updated" class="nhsuk-button">
Finish adding items
</a>

<a href="outcome-unlimited-search" class="nhsuk-button nhsuk-button--secondary">
Add another item
</a>
{% endblock %}