<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Information Service Portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container" style="margin: 0; padding-left: 32px;">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
             

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
             
              
              <header>
                <h1>
                 
                   <span class="nhsuk-caption-xl nhsuk-caption--bottom">Eschedule data file</span>
                   What report range would <br>you like to download? 
                </h1>
              </header>
          
              <!-- Add your content here -->
              <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
              <!-- <h2>Context</h2> -->
              <!-- <p class="nhsuk-body">Content?</p> -->
            
          
            
    
     
    <p>Reports are available from the month you began using MYS (June <br>2018) and are held for a maximum of 18 months.</p>
   
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content?</p> -->
  

    
    <form action="eschedulerange" method="post">

      <div class="nhsuk-radios nhsuk-radios--conditional">
              
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-1" name="eschedulerange" type="radio" value="yes"
            aria-controls="conditional-contact-1" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
            Single range
          </label>
        </div>

        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">

          <div class="nhsuk-form-group">
            <br>
            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                  <h2 class="nhsuk-fieldset__heading">
                   Report date
                  </h2>
                </legend>
                <div class="nhsuk-hint" id="example-hint">
                  For example, 3 2018
                </div>
            
               
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            
            </div>
            </div>
         

       

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-2" name="eschedulerange" type="radio" value="no"
            aria-controls="conditional-contact-2" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
            Month range
          </label>
        </div>

        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">

          <br> 

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                <h2 class="nhsuk-fieldset__heading">
                 Report start date
                </h2>
              </legend>
              <div class="nhsuk-hint" id="example-hint">
                For example, 3 2018
              </div>
          
             
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          
          
    
            <br>
           
            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                  <h1 class="nhsuk-fieldset__heading">
                   Report end date
                  </h1>
                </legend>
                <div class="nhsuk-hint" id="example-hint">
                  For example, 3 2019
                </div>
            
               
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
      </div>

</div>
  </div>
</div>
        <br>
       
       
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Next</button>
        
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="../../pharmacy/summary-new">Back to MYS dashboard</a></li>
              
              <li><a class="active" href="eschedule-data-first">E-Schedule data file</a></li>
              <li><a href="prescription-data-first">Prescription item report</a></li>
              <li><a href="schedule-data-first">Schedule of payments</a></li>
              <li><a href="supplementary-data-first">Supplementary report</a></li>
              <li><a  href="user-manage">User management</a></li>
              <li><a href="changes-my-account">Help</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}