<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Planned/unplanned closures
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Unplanned temporary suspension of services</span>
        Mitigating actions
      </h1>

<form action="unplanned-check-your-answers-new">

  <form>

    <div class="nhsuk-form-group">
  
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What are the actions taken to help reduce the impact of the suspension of services on the users of your pharmacy?
          </h1>
        </legend>
  
        <div class="nhsuk-hint" id="example-hint">
          Select all that apply.
        </div>
  
        <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              The pharmacy has updated or will update their Dos profiles via Profile Manager to show the 
              temporary suspension.
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
              The pharmacy has implemented or will implement arrangements for making sure that patients 
              are not referred to it for directed urgent care services during the temporary suspension, as practicable.
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
              The pharmacy has implemented or will implement its arrangements for notifying other 
              pharmaceutical service providers and GP practices about the suspension and anticipated duration, as practicable.
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
              The pharmacy has displayed or will display information to patients about the suspension and anticipated 
              duration, in the approved manner, so that it is visible from outside the pharmacy (or, for DSPs, made the 
              necessary changes to their website).
            </label>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
              The pharmacy has arranged or will arrange for the continuity of patient care, including for those patients 
              with booked appointments or those attending regularly for supervised administration of medicines.  
            </label>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">              
              The pharmacy has endeavoured to implement its business continuity plan.
            </label>
          </div>

          
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
              Other (provide details)
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-3">
  
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="mobile">
                Avoid including any identifiable information such as names of staff or patients here
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
            </div>
  
          </div>

        </div>
      </fieldset>
  
    </div>
  
  </form>

  </fieldset>

  <a class="nhsuk-button" href="check-your-answers">Continue</a>

</div>

</form>



<!-- End of content -->

    </div>
  </div>
{% endblock %}
