<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Information Service Portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">

    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">

        
      

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                 
                  <header>
                    <h1>
                       
                       <span class="nhsuk-caption-xl nhsuk-caption--bottom">Information service portal</span>
                       Find a pharmacy
                    </h1>
                  </header>
              
                  <!-- Add your content here -->
                  <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
                  <!-- <h2>Context</h2> -->
                  <!-- <p class="nhsuk-body">Content?</p> -->
                
                  <p >Use this service to download monthly reports for your pharmacies.</p>
                 <br>
                 
                    <div class="nhsuk-form-group">
                      <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                          <h1 class="nhsuk-fieldset__heading">
                            Pharmacy
                          </h1>
                        </legend>
                      <div class="nhsuk-hint" id="example-hint">Enter ODS code, YP code or location</div>
                      <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
                      </div>
              
                     
                     
                     
                  <a class="nhsuk-button" href="home-bsa-range">Next</a>


              </div>

              </div>
            </div>
          </div>

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                
                  

                  <h1 class="nhsuk-heading-l">Broadcast</h1>

                  <span class="nhsuk-caption-m">10 June 2024</span>
                 
                  <h2 class="nhsuk-heading-m">Supplementary report is now available</h2>

                  <p class="nhsuk-u-font-size-19">Supplementary report is now available on MYS ISP.
                    <br>
                    Select the side bar to view supplementary report.</p>
              
               
                  <hr>

                  <span class="nhsuk-caption-m">13 May 2024</span>
                 
                  <h2 class="nhsuk-heading-m">ISP user guidance</h2>

                  <p class="nhsuk-u-font-size-19">Use the link below for more ISP information.</p>
              
                <p class="nhsuk-u-font-size-19">  <a href="">ISP user guidence</a>
                  </p>
               


              </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="../../pharmacy/summary-new">Back to MYS dashboard</a></li>
              <li><a class="active" href="home-bsa">Home</a></li>
              <li><a href="">E-Schedule data file</a></li>
              <li><a href="">Prescription item report</a></li>
              <li><a href="">Schedule of payments</a></li>
              <li><a href="">Supplementary report</a></li>
              <li><a href="user-manage">User management</a></li>
              <li><a href="changes-my-account">Help</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}