<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Information Service Portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container" style="margin: 0; padding-left: 32px;">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
             
             
              <header>
                <h1>
                 
                   <span class="nhsuk-caption-xl nhsuk-caption--bottom">Supplementary report</span>
                   What report range would you like to download? 
                </h1>
              </header>
          
              <!-- Add your content here -->
              <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
              <!-- <h2>Context</h2> -->
              <!-- <p class="nhsuk-body">Content?</p> -->
            
          
              
              <form action="supplementaryrange" method="post">
          
          
               
                <div class="nhsuk-form-group">
          
                  <fieldset class="nhsuk-fieldset">
                   
                
                    <div class="nhsuk-radios">
                
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="Single" name="supplementaryrange" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="Single">
                         Single range
                        </label>
                      </div>
                
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="Month" name="supplementaryrange" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="Month">
                          Month range
                        </label>
                      </div>
                
                    </div>
                  </fieldset>
                
                </div>
                  <br>
                 
                 
                  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                   Next
                </button>
    <br>
    <br>   
          
   
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="../../pharmacy/summary-new">Back to MYS dashboard</a></li>
              <li><a href="home-bsa">Home</a></li>
              <li><a href="eschedule">E-Schedule data file</a></li>
              <li><a href="prescription">Prescription item report</a></li>
              <li><a href="schedule">Schedule of payments</a></li>
              <li><a class="active" href="supplementary-data-first">Supplementary report</a></li>
              <li><a  href="user-manage">User management</a></li>
              <li><a href="changes-my-account">Help</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}