<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: Site Sign-up Process for Suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Response Document</span>
        Third party disclosure - check your answers
      </h1>
    </header>

    

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Will any of the confidential/commercially sensitive details contained in your Response Document be unavailable for disclosure to third parties and/or a Freedom of Information request?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="expression-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Enter details of which parts are not for disclosure and give valid reasons to support this</dt>
                  <dd class="nhsuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare rhoncus nisi eu aliquet. Nam volutpat mattis orci, at finibus lorem ornare a. Integer nec justo in leo rutrum imperdiet eget sed est. 
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="expression-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                
          
                    </div>
                  </fieldset>
          
                </div>
          
          
                
          
                <a href="tasklist-onsite-met" class="nhsuk-button">Continue</a>
                <a href="save-and-continue" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}