<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19 Expression of Interest
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
              }) }}

              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination selection process: April 2024 to August 2025</span>
        Check your answers
      </h1>
    </header>
<hr>
    <h3 class="nhsuk-heading-m">Location</h3>

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you propose to deliver the COVID-19 vaccination service at your healthcare premises?</dt>
                  <dd class="nhsuk-summary-list__value">
                    No, at another site within 1 mile of my premises
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="site-2-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Please provide the designated site name and address of your alternative site</dt>
                  <dd class="nhsuk-summary-list__value">
                    General Care <br> 41 Beaconsfield St <br> Newcastle upon Tyne<br> NE4 9NP
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="site-3-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                

               

                </dl>


                

              </div>

              
           
          </div>
          <br>
          
                
          
                <a href="tasklist-onsite-met" class="nhsuk-button">Continue</a>

                <a href="save-and-continue" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>
              

                    
            
    
         
  </div>
</div>
{% endblock %}