<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
              }) }}

              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
        Check your answers
      </h1>
    </header>
<hr>
    <h3 class="nhsuk-heading-m">About your proposed service</h3>

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    How many COVID-19 vaccinations per week would you prefer to deliver from the site?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    10
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-1-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What is the maximum number of COVID-19 vaccinations per week that you would be able to safely provide from the site?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    25
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-2-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What is the age of patients you could vaccinate at your site?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    12 years and over
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-3-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

               


                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    IT User 1 name, email, phone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Katy Peterson <br> katy.peterson@nhs.net <br> 07712345678
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-4-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    IT User 2 name, email, phone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Romain Bonnet <br> romain.bonnet@nhs.net <br> 01286325697
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-5-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Does your proposed Designated Site have any storage / capacity limitations with regards to storing COVID-19 vaccines?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-6-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What is the maximum amount of COVID-19 vaccine doses your proposed Designated Site can safely store? Please provide response in number of doses.
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    250
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-7-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>
               
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What point of care system will the site use?</dt>
                  <dd class="nhsuk-summary-list__value">
                    Outcomes4Health 
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="proposed-8-cya-off">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                </dl>


                

              </div>

              
           
          </div>
          <br>
          
                
          
                <a href="tasklist-offsite-met" class="nhsuk-button">Continue</a>

                <a href="save-and-continue-off" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>
              

                    
            
    
         
  </div>
</div>
{% endblock %}