<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!-- Feedback and Notification block starts here -->
<div class="alert-banner" style="background-color: #FAE100; padding-bottom: 80px;"></div>
<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

<!-- Feedback and Notification block starts here -->

<p style="color: #000;
font-size: 16px;
text-align: left;
line-height: 1.25;
margin-top: -14%;
text-transform: capitalize;
letter-spacing: 1px;">
<span style="font-size: 16px;">
<span style="text-decoration: none;">
  <strong>Reminder: </strong>
  You Must Submit Your Pharmacy Quality Scheme (PQS) Declaration For 2023/24 By 11:59pm On 1st June 2024.
  </span></p>

<!-- phase banner -->
<div class="phase-banner"
style="margin-bottom: 20px;
line-height: 1.25;
margin-top: 40px;
border-bottom: 1px solid #bfc1c3;">

<p></strong> Your <a href="https://online1.snapsurveys.com/MYS_FEEDBACK_SURVEY?pgn=" target="_blank">
  feedback (opens in a new tab)</a> will help us improve our service.</p>
</div>

<!-- Feedback and Notification block ends here -->
              
              <header>
                <h1>
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
                Submissions summary
                </h1>
              </header>
              
              <h3>On site submissions (Response Document A)</h3>
              <div class="nhsuk-hint" id="example-hint">For on site provision or sites within 1 mile of your healthcare premises</div>

            <hr>
            <p>There are no records to show</p>
 
              <br>
              <a href="tasklist" class="nhsuk-button">Start an on site submission</a>

             <br>
              <br>
              <br>

              <h3>Off site submissions (Response Document B)</h3>
              <div class="nhsuk-hint" id="example-hint">For provision at sites more than 1 mile from your healthcare premises. 
               <br>
                You need to make a separate submission for each of your proposed sites.</div>

              <hr>
            <p>There are no records to show</p>
 <br>
              
              <a href="tasklist-offsite" class="nhsuk-button">Start an off site submission</a>

              
              <br>
              <br>
              

                
                


                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}