<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19 Expression of Interest
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
              }) }}

              <header>
                <h1>
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">Covid-19 Expression of Interest Spring/Summer 2024</span>
                Submissions
                </h1>
              </header>
              
              <h3>On site Submissions</h3>
              <div class="nhsuk-hint" id="example-hint">For on site provision or sites within 1 mile of your healthcare premises</div>

            <hr>
            <p>There are no records to show</p>
 
              <br>
              <a href="tasklist" class="nhsuk-button">Start an on site submission</a>

             <br>
              <br>
              <br>

              <h3>Off site Submissions</h3>
              <div class="nhsuk-hint" id="example-hint">For provision at sites more than 1 mile from your healthcare premises</div>

              <hr>
            <p>There are no records to show</p>
 <br>
              
              <a href="tasklist-offsite" class="nhsuk-button">Start an off site submission</a>

              
              <br>
              <br>
              

                
                


                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}