<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}
    <header>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
      <h1>
        Your ability to meet Minimum Requirements - terminated contracts
      </h1>
    </header>
    <hr>
    <div class="nhsuk-form-group">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Can you confirm that you have not had a previously held COVID-19 vaccination contract terminated early due to performance issues?
            </h1>
          </legend>
           
          <div class="nhsuk-hint" id="example-hint">This does not include COVID-19 contracts that have been paused.</div>
          
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="yes"
                aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="no"
                aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                No
              </label>
            </div>
          </div>
          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2" style="margin: 0; border-left: none; padding-left: 0; margin-top: 50px;">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="if-no">
                Provide further details.
              </label>
              <div class="nhsuk-hint" id="contact-hint">
                You must include the provider name here. The details you provide here will allow the Commissioner to evaluate your response. Please provide sufficient further detail. If you do not provide sufficient further detail this submission may fail and will not be considered any further.
                <br>
                See the Procurement Process Guidance for further information.
              </div>
              <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <br>
    <a class="nhsuk-button" href="cya-requirements">Continue</a>

    
  </div>
</div>
{% endblock %}