<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

            

              <header>
                <h1>
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">COVID-19 vaccination programme: 1 April 2024 to 31 August 2025 - Site selection process for suppliers</span>
                  Response Document A - summary of completion status
                </h1>
              </header>
              

              <p>Complete your declaration by answering the questions in all of the sections. <br>The status on all sections must be 'Completed' before you can submit your declaration.</p>

                <br>

              <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption">About your proposed designated site</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    </th>
                    <th role="columnheader" class="" scope="col"><td style="text-align: right;"></td>
                    </th>
                  </tr>
                </thead>


                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Age </span><a href="site-2">
                      Location<span class="nhsuk-u-visually-hidden"> Actions</span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span><td style="text-align: right;"><strong class="nhsuk-tag nhsuk-tag--green">
                      Completed
                    </strong>
                  </td></td>
                  
                </tr>


                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Age </span><a href="proposed-1">
                      About your proposed service<span class="nhsuk-u-visually-hidden"> Actions</span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span><td style="text-align: right;"><strong class="nhsuk-tag nhsuk-tag--yellow">
                      In Progress
                    </strong>
                  </td></td>
                </tr>
                
              </tbody>
            </table>

            <br>
            <br>

            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-table__caption">Third party disclosure and declaration</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                  </th>
                  <th role="columnheader" class="" scope="col"><td style="text-align: right;"></td>
                  </th>
                </tr>
              </thead>


              <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Age </span><a href="expression">
                    Third party disclosure<span class="nhsuk-u-visually-hidden"> Actions</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Status </span><td style="text-align: right;"><strong class="nhsuk-tag nhsuk-tag--grey">
                    Not started
                  </strong></td>
                </td>
                
              </tr>


              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Age </span><a href="declaration">
                    Declaration<span class="nhsuk-u-visually-hidden"> Actions</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Status </span><td style="text-align: right;"><strong class="nhsuk-tag nhsuk-tag--white">
                    Cannot start
                  </strong>
                </td></td>
              </tr>
              
            </tbody>
          </table>

          <br>
          <br>

          <a href="front-page-2" class="nhsuk-button">Back to submissions page</a>

          

              <p class="nhsuk-body"><a href="de-registration" class="nhsuk-link"></a></p>

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

</div>
{% endblock %}