<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Pharmacy Contraception Service (PCS)
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
<br>
<br>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    <header>
      <h1>
        NHS Pharmacy Contraception Service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Declaration to opt out of service</span>
      </h1>
    </header>

    <p>Read the following summary of terms and conditions and, if you agree, complete the details required and tick the agreement box. </p>

    <p>If you choose not to accept (sign this declaration) your decision to opt out of the revised service will not be progressed.</p>

    <p>If you decide to opt in to the new service instead, you must do so by 29 February 2024. You will be automatically deregistered from the service with effect from 1 March 2024 if you do not make us aware of your decision.</p>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    
    <div class="nhsuk-grid-column-two-thirds">
      <div class="declaration">

        <p>I declare that:</p>
        <br>
        <ul>
          <li style="margin-left:40px; padding-bottom:10px;">I  wish to cease service provision and that I am giving 30 days notice of my intention to do so 
          </li>

          <li style="margin-left:40px; padding-bottom:10px;">I am aware that the date 30 days after my notice will constitute the final date of service provision</li>

          <li style="margin-left:40px; padding-bottom:10px;">If my notice occurs fewer than 30 days before 1 March 2024, the notice period will reflect the number of days remaining before 1 March 2024 and the final date of service provision will be 29 February 2024.</li>

          <li style="margin-left:40px; padding-bottom:10px;">I will continue to deliver the service, or, where I am unable to provide it, direct people to where they can access the service until the final date of service provision</li>
         
            <li style="margin-left:40px; padding-bottom:10px;">I am aware that claims for consultations that were delivered up to and including the final date of service provision will be paid according to payment arrangements in the Drug Tariff</li>

          <li style="margin-left:40px; padding-bottom:10px;">I am aware that claims for consultations that were delivered on any date beyond the final date of service provision will not be eligible for payment</li>

          <li style="margin-left:40px; padding-bottom:10px;">I am aware the set-up fee I have been paid is a one-off fee and should I reregister my pharmacy in the future, my pharmacy will not be eligible to receive it again</li>
        
        </ul>
      </div>
      <fieldset>
        <legend class="visually-hidden">New Submission</legend>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-10">
            First name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="first-name" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-10">
            Last name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="last-name" name="last-name" type="text">
        </div>
        <div class="nhsuk-form-group">
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>A confirmation email will be sent to XXXXXX. If you would like a copy sent to another email
              address, enter it below.</p>
          </div>
          <label class="nhsuk-label" for="email-with-hint-text">
            Email address (optional)
          </label>
        
          <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text"
            aria-describedby="email-with-hint-text-hint">
        </div>


        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="agree-check" name="agree-check" type="checkbox"
                  value="agree-check" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="agree-check">
                  I agree and accept this declaration
                </label>
              </div>
            </div>
          </fieldset>
        </div>
       <br>
        <div class="form-group">
          <a href="optin-confirm" class="nhsuk-button">
            Submit
          </a>
        </div>

      </fieldset>
    </div>

    <br>


    <!-- <a class="nhsuk-button" href="reg-confirmation">Submit</a> 

    <!-- End of content -->

  </div>
</div>
{% endblock %}