<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Unpaid items
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                           

                            <h1>
                                <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
                                Unpaid items
                              </h1>
                             
    
                        </div>
                    </div>
                   
                    <p>Unpaid items are prescription items we cannot pay because information is missing. </p>
                      
                      <p>You must provide the missing information within 18 months from the date that we returned the prescription back to your pharmacy.</p>

                <div class="nhsuk-inset-text">
                  <span class="nhsuk-u-visually-hidden">Information: </span>

                  <p>View <a href="../disallowed-items/disallowed-items" >disallowed items.</a> These are items we cannot pay because information is missing.</p>
                </div>

<br>


                        <h2>Missing information (23)</h2>

                        <p>We cannot pay for these items until you enter the missing information.</p>

                        <details class="nhsuk-details nhsuk-expander">
                          <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                              EPS prescription items (9 items)
                            </span>
                          </summary>
                          <div class="nhsuk-details__text">
                              <div class="nhsuk-grid-row">
                                 
                              </div>
                               
                              <table class="nhsuk-table">
                                <caption class="nhsuk-table__caption">
                                   </caption>
                                <thead role="rowgroup" class="nhsuk-table__head">
                                  <tr role="row">
                                    <tr role="row">
                                      <th role="columnheader" class="" scope="col">
                                        Part month of the <br>prescription item 
                                    </th>
                                        <th role="columnheader" class="" scope="col">
                                          Date the item is deleted
                                  </th>  
                                    <th role="columnheader" class="" scope="col">
                                      Name of prescription item
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                      Action
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sulfasalazine 250mg/5ml oral suspension</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Carmellose 0.5% eye drops</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Dexamethasone 0.1% eye drops preservative free</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sodium chloride 0.9% infusion 1litre bags</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Prednisolone 1mg gastro-resistant tablets</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Paracetamol 500mg caplets (Galpharm International Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Metformin 500mg modified-release tablets (Actavis UK Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">DDuoResp Spiromax 320micrograms/dose / 9micrograms/dose dry powder inhaler (Teva UK Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Propranolol 160mg modified-release capsules</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                          </details>
             
                    <details class="nhsuk-details nhsuk-expander">
                        <summary class="nhsuk-details__summary">
                          <span class="nhsuk-details__summary-text">
                            Paper prescription items (14 items)
                          </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <div class="nhsuk-grid-row">
                               
                            </div>
                             
                            <table class="nhsuk-table">
                                <caption class="nhsuk-table__caption">
                                    These items have missing information</caption>
                                <thead role="rowgroup" class="nhsuk-table__head">
                                  <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                      Part month of the <br>prescription item 
                                  </th>
                                      <th role="columnheader" class="" scope="col">
                                        Date the item is deleted
                                </th>  
                                <th role="columnheader" class="" scope="col">
                                  Name of prescription item
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                      Action
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Item name not available</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </details>

                        <br>   
                        
                        <h2> Information added (30)</h2>

                        <p>We have received the missing information from you and we will now review these items.</p>
             
                    <details class="nhsuk-details nhsuk-expander">
                        <summary class="nhsuk-details__summary">
                          <span class="nhsuk-details__summary-text">
                            EPS prescription items (20 items)
                          </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <div class="nhsuk-grid-row">
                               
                            </div>
                             
                            <table class="nhsuk-table">
                                <caption class="nhsuk-table__caption">
                                   </caption>
                                <thead role="rowgroup" class="nhsuk-table__head">
                                  <tr role="row">
                                    <tr role="row">
                                      <th role="columnheader" class="" scope="col">
                                        Part month of the <br>prescription item 
                                    </th>
                                        <th role="columnheader" class="" scope="col">
                                          Date the item is deleted
                                  </th>  
                                    <th role="columnheader" class="" scope="col">
                                      Name of prescription item
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                      Action
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sulfasalazine 250mg/5ml oral suspension</td>
                                    <td class="nhsuk-table__cell "> <a href="information-received-eps">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Carmellose 0.5% eye drops</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Dexamethasone 0.1% eye drops preservative free</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sodium chloride 0.9% infusion 1litre bags</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Prednisolone 1mg gastro-resistant tablets</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Paracetamol 500mg caplets (Galpharm International Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Metformin 500mg modified-release tablets (Actavis UK Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">DDuoResp Spiromax 320micrograms/dose / 9micrograms/dose dry powder inhaler (Teva UK Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Propranolol 160mg modified-release capsules</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sodium chloride 0.9% irrigation solution 25ml sachets</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Micropore tape (3M Health Care Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>

                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Nurse It sterile dressing pack with medium/large gloves (Medicareplus International Ltd)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Hypodermic insulin needles for pre-filled / reusable pen injectors screw on 8mm/30gauge</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Cavilon No Sting barrier film</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Olive oil ear drops</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Dexamethasone 0.1% eye drops preservative free</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Temgesic sublingual tablets</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Canesten 500mg pessaries (Bayer Plc)</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sulfasalazine 250mg/5ml oral suspension</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">October 2023</td>
                                    <td class="nhsuk-table__cell ">30 April 2026</td>
                                    <td class="nhsuk-table__cell">Sulfasalazine 250mg/5ml oral suspension</td>
                                    <td class="nhsuk-table__cell "> <a href="">View</a></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </details>
                    
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                              <span class="nhsuk-details__summary-text">
                                Paper prescription items (10 items)
                              </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <div class="nhsuk-grid-row">
                                   
                                </div>
                                 
                                <table class="nhsuk-table">
                                    <caption class="nhsuk-table__caption">
                                       </caption>
                                    <thead role="rowgroup" class="nhsuk-table__head">
                                      <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                          Part month of the <br>prescription item 
                                      </th>
                                          <th role="columnheader" class="" scope="col">
                                            Date the item is deleted
                                    </th>  
                                        <th role="columnheader" class="" scope="col">
                                          Name of prescription item
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Action
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody class="nhsuk-table__body">
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="information-received-paper">View</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                            </details>
                  
                            <br>
                            
                            <h2> Processed (2)</h2>

                            <p>These items have been reviewed and processed for payment.</p>

                            <p>Items will move to archived 2 months from the processed date.</p>

                            <details class="nhsuk-details nhsuk-expander">
                              <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                  EPS prescription items (1 items)
                                </span>
                              </summary>
                              <div class="nhsuk-details__text">
                                  <div class="nhsuk-grid-row">
                                     
                                  </div>
                                   
                                  <table class="nhsuk-table">
                                      <caption class="nhsuk-table__caption">
                                         </caption>
                                      <thead role="rowgroup" class="nhsuk-table__head">
                                        <tr role="row">
                                          <tr role="row">
                                            <th role="columnheader" class="" scope="col">
                                              Part month of the prescription<br> item 
                                          </th>
                                              <th role="columnheader" class="" scope="col">
                                                Date the item is deleted
                                        </th>  
                                          <th role="columnheader" class="" scope="col">
                                            Name of prescription item
                                          </th>
                                          <th role="columnheader" class="" scope="col">
                                            Action
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody class="nhsuk-table__body">
                                        <tr role="row" class="nhsuk-table__row">
                                          <td class="nhsuk-table__cell">October 2023</td>
                                          <td class="nhsuk-table__cell ">30 April 2026</td>
                                          <td class="nhsuk-table__cell">Sulfasalazine 250mg/5ml oral suspension</td>
                                          <td class="nhsuk-table__cell "> <a href="accepted-item-eps">View</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </details>
                 
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                              <span class="nhsuk-details__summary-text">
                                Paper prescription items (1 items)
                              </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <div class="nhsuk-grid-row">
                                   
                                </div>
                                 
                                <table class="nhsuk-table">
                                    <caption class="nhsuk-table__caption">
                                       </caption>
                                    <thead role="rowgroup" class="nhsuk-table__head">
                                      <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                          Part month of the <br>prescription item 
                                      </th>
                                          <th role="columnheader" class="" scope="col">
                                            Date the item is deleted
                                    </th>  
                                        <th role="columnheader" class="" scope="col">
                                          Name of prescription item
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Action
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody class="nhsuk-table__body">
                                      <tr role="row" class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">October 2023</td>
                                        <td class="nhsuk-table__cell ">30 April 2026</td>
                                        <td class="nhsuk-table__cell">Item name not available</td>
                                        <td class="nhsuk-table__cell "> <a href="accepted-item">View</a></td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                                </div>
                            </details>


                   <!--h2> Archived items (1)</h2>

                   <p>These are items that have been processed and reimbursed within the last 2 to 18 months. <br>Items processed after 18 months are deleted.</p>
        
                   <details class="nhsuk-details nhsuk-expander">
                              <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                  EPS prescription items (1 items)
                                </span>
                              </summary>
                              <div class="nhsuk-details__text">
                                  <div class="nhsuk-grid-row">
                                     
                                  </div>
                                   
                                  <table class="nhsuk-table">
                                      <caption class="nhsuk-table__caption">
                                         </caption>
                                      <thead role="rowgroup" class="nhsuk-table__head">
                                        <tr role="row">
                                          <tr role="row">
                                            <th role="columnheader" class="" scope="col">
                                              Part month of the <br>prescription item 
                                          </th>
                                              <th role="columnheader" class="" scope="col">
                                                Date the item is deleted
                                        </th>  
                                          <th role="columnheader" class="" scope="col">
                                            Name of prescription item
                                          </th>
                                          <th role="columnheader" class="" scope="col">
                                            Action
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody class="nhsuk-table__body">
                                        <tr role="row" class="nhsuk-table__row">
                                          <td class="nhsuk-table__cell">October 2023</td>
                                          <td class="nhsuk-table__cell ">30 April 2026</td>
                                          <td class="nhsuk-table__cell">Sulfasalazine 250mg/5ml oral suspension</td>
                                          <td class="nhsuk-table__cell "> <a href="accepted-item-eps-archived">View information</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </details-->
               <!--details class="nhsuk-details nhsuk-expander">
                   <summary class="nhsuk-details__summary">
                     <span class="nhsuk-details__summary-text">
                       Paper prescription items (1 items)
                     </span>
                   </summary>
                   <div class="nhsuk-details__text">
                       <div class="nhsuk-grid-row">
                          
                       </div>
                        
                       <table class="nhsuk-table">
                           <caption class="nhsuk-table__caption">
                              </caption>
                           <thead role="rowgroup" class="nhsuk-table__head">
                             <tr role="row">
                               <th role="columnheader" class="" scope="col">
                                 Part month of the <br>prescription item 
                             </th>
                                 <th role="columnheader" class="" scope="col">
                                  Date the item is deleted
                           </th>  
                               <th role="columnheader" class="" scope="col">
                                Name of prescription item
                               </th>
                               <th role="columnheader" class="" scope="col">
                                 Action
                               </th>
                             </tr>
                           </thead>
                           <tbody class="nhsuk-table__body">
                             <tr role="row" class="nhsuk-table__row">
                               <td class="nhsuk-table__cell">August 2023</td>
                               <td class="nhsuk-table__cell "> 30 April 2024</td>
                               <td class="nhsuk-table__cell">Item name not availabl</td>
                               <td class="nhsuk-table__cell "> <a href="accepted-item-archived">View information</a></td>
                             </tr>
                            
                           </tbody>
                         </table>
                       </div>
                   </details-->
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}