<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Coronavirus (COVID-19) Vaccination Service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
                "href": "javascript:history.go(-1)",
                "text": "Go back"
                }) }}

              <header>
                <h1>
                  Coronavirus (COVID-19) Vaccination Service
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Covid vaccination claim breakdown for
                    Sonar</span>
                </h1>
              </header>


              <p>You have a total of 1 vaccines from Sonar recorded during April 2023.</p>
              <p>This is the breakdown of those vaccines.</p>

              <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption"></caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Category
                    </th>
                    <th role="columnheader" class="" scope="col">
                      First dose totals
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Second dose totals
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Booster dose totals
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Category</span>Standard
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">First dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Second dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Booster dose totals</span>0
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Category</span>Long-Stay Care Home or Long-Stay
                      Residential
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">First dose totals</span>2
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Second dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Booster dose totals</span>0
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Category</span>Home of Housebound
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">First dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Second dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Booster dose totals</span>0
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Category</span>Other Residential Care Settings,
                      Immunosuppressed Individuals, or At Risk Children aged 5-15
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">First dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Second dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Booster dose totals</span>0
                    </td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Category</span>5-11 Year olds (not "at risk")
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">First dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Second dose totals</span>0
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Booster dose totals</span>0
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}