<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Prototype Templates - API Prototype
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #EFF4F5;">
      <div class="nhsuk-width-container" >
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home-bsa">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-user-groups">Manage user groups</a></li>
          <li class="nhsuk-breadcrumb__item">Delete user group</a></li>
         
        </ol>
       
      </div>
    </nav>

    <h1>
      Delete user group
    </h1>

   
<!-- deletion table -->
<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
  <caption class="nhsuk-table__caption"></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
User groups
      </th>
      <th role="columnheader" class="" scope="col">
        Description
      </th>
    
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">group</span>Default standard
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Description</span>Default NHS users
      </td>   
     
    </tr>
  </tbody>
</table>

<br>

<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

            <h2 class="nhsuk-fieldset__heading">
              Are you sure you want to remove this role?
            </h2>
          </legend>
      
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="Remove" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="Yes">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="Remove" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="no">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <br>

      <a href="manage-user-groups" class="nhsuk-button">Continue</a>
    </form>

    <!-- End of content -->

  </div>
</div>
{% endblock %}