<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Opt in to deliver NHS Pharmacy First service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        NHS Pharmacy First Service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Opt-in to revised service</span>
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->

    <p>By opting in for this service pharmacy contractors:</p>

    <ul>

      <li>
        Are committing to register for and to provide the NHS Pharmacy First Service from the 31st
       of January 2024.  
      </li>

      <li>Are confirming that they have read the service specification and understand their obligations
        regarding service provision.</li>

        <li>Understand that they are eligible for a one off initial fixed £2,000 payment (if they opt-in
          before the 31st of January 2024)</li>

          <li>Are confirming that a minimum of 5 clinical pathway consultations will be completed before
            31 March 2024 and that if this defined activity threshold is not met, they authorise the
            reclaiming of any overpayment in relation to this.</li>
    
            <li>
              Understand that they are eligible for payments as described in the Drug Tariff including the
              activity-related block payments.
            </li>

            <li>Understand that they will be automatically enrolled on to the National Data Sharing
              Agreement for GP (General Practice) Connect (more details can be found here).</li>
          </ul>
    
    <br>

    <form action="earlyoptinstandalone" method="post">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you want to opt-in to this service?
            </h1>
          </legend>

          <div class="nhsuk-radios nhsuk-radios--inline">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="CPCSReg" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="CPCSReg" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
              </label>
            </div>

          </div>
        </fieldset>

      </div>
      <br>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

    </form>


    <!-- <a class="nhsuk-button" href="reg-declaration">Register</a> -->

    <!-- <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="reg-declaration">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Register</span>
      </a>
    </div> -->

    <!-- End of content -->

  </div>
</div>
{% endblock %}