<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Opt in to deliver NHS Pharmacy First service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        NHS Pharmacy First Service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Opt-in to revised service</span>
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->

    <p>NHS Pharmacy First will be a new advanced service that will replace the NHS Community Pharmacist Consultation Service (CPCS).</p>
    <p>You should <a href="https://www.nhsbsa.nhs.uk/pharmacies-gp-practices-and-appliance-contractors/dispensing-contractors-information/nhs-pharmacy-first-service-pfs">read the service specification</a> before opting in to provide the NHS Pharmacy First Service.
  </p>

    <p>If you choose to opt in to provide this service, you will need to confirm that:</p>

    <ul>

      <li>
        you are committing to register for and to provide the NHS Pharmacy First Service from 31 January 2024 
      </li>

      <li>you have read the service specification and understand your obligations regarding service provision</li>

        <li>you understand that you are eligible for a one-off initial fixed £2,000 payment, if you register before 31 January 2024, and further item of service fees and activity-related block payments as detailed in the Drug Tariff</li>

          <li>a minimum of 5 clinical pathway consultations will be completed before 31 March 2024 and that if this defined activity threshold is not met, you authorise the reclaiming of any overpayment in relation to this</li>
    
            <li>
              you understand that you will be automatically enrolled on to the <a href="" >National Data Sharing Agreement for GP (General Practice) Connect</a>
            </li>

            <li>Understand that they will be automatically enrolled on to the National Data Sharing
              Agreement for GP (General Practice) Connect (more details can be found here).</li>
          </ul>
    
    <br>

    <p>Note that the existing CPCS will continue as it is until 30 January 2024. </p>

    <p>If you are already registered for the CPCS you should continue to provide this service until 30 January 2024. You may deregister from this service earlier in the usual way through the CPCS tab in the Manage Your Service (MYS) portal, giving the required notice.  </p>

    <p>If you are not already registered for the CPCS you will not be able register for this service any longer as the registration for the CPCS has now closed.</p>
    
    <br>
    
    <form action="earlyoptinstandalone" method="post">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you want to opt in to this Pharmacy First Service?
            </h1>
          </legend>

          <div class="nhsuk-radios nhsuk-radios--inline">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="CPCSReg" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="CPCSReg" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
              </label>
            </div>

          </div>
        </fieldset>

      </div>
      <br>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

    </form>


    <!-- <a class="nhsuk-button" href="reg-declaration">Register</a> -->

    <!-- <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="reg-declaration">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Register</span>
      </a>
    </div> -->

    <!-- End of content -->

  </div>
</div>
{% endblock %}