<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Opt in to deliver NHS Pharmacy First service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        NHS Pharmacy First Service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Declaration not to opt in to the NHS Pharmacy First service</span>
      </h1>
    </header>

   <p>You have decided not to opt in to provide the NHS Pharmacy First service. If you are currently providing the NHS Community Pharmacy Consultation Service (CPCS), your decision will result in you deregistering from the CPCS.</p>

   <p>Read the following summary of terms and conditions and, if you agree, complete the details required and tick the agreement box. </p>
   
   <p>If you choose not to accept (sign this declaration) your decision will not be progressed. </p>

   <p>If you do not make us aware of your decision, and you currently provide the CPCS, you will be automatically deregistered from the service with effect from 31 January 2024. </p>
   <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    
    <div class="nhsuk-grid-column-two-thirds">
      <div class="declaration">

        <p>I declare that:</p>
        <br>
        <ul>
          <li style="margin-left:40px; padding-bottom:10px;">
            I do not want to opt in to provide the NHS Pharmacy First Service and understand I will not receive the initial £2,000 fixed payment
          </li>

          <li style="margin-left:40px; padding-bottom:10px;">
            I understand that should I wish to provide the NHS Pharmacy First service in the future I will need to register for the service through the Manage Your Service (MYS) registration page for the service, and that by registering after 30 January 2024 I will not be eligible to receive the initial £2,000 fixed payment 
</li>

<li style="margin-left:40px; padding-bottom:10px;">
  I understand that, if I currently provide the CPCS, this decision will act as my 30 day notice to cease provision of this service 
</li>

<li style="margin-left:40px; padding-bottom:10px;">
  I understand that, if I currently provide the CPCS service, if my notice occurs fewer than 30 days before 31 January 2024, the notice period will be reduced to the number of days remaining before this date and the final date of CPCS provision will be 30 January 2024 
</li>

<li style="margin-left:40px; padding-bottom:10px;">
  I understand that, if I currently provide the CPCS service, claims for CPCS consultations that have been provided up-to-and-including 30 January 2024 (or the end of my notice period, if earlier) can be claimed in accordance with the remuneration arrangements outlined in the Drug Tariff and that these CPCS claims can be submitted up to 6 May 2024 for remuneration and reimbursement for urgent medicines supply claims 
</li>

<li style="margin-left:40px; padding-bottom:10px;">
  I understand that, if I currently provide the CPCS service, claims for CPCS consultations that were provided after 30 January 2024 will not be eligible for payment </li>


          <!--
                             <li style="margin-left:40px; padding-bottom:10px;">I confirm that my name below shall act as my electronic signature.</li>-->
        </ul>
      </div>
      <fieldset>
        <legend class="visually-hidden">New Submission</legend>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-10">
            First name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="first-name" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-10">
            Last name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="last-name" name="last-name" type="text">
        </div>

         <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>A confirmation email will be sent to XXXXXX. If you would like a copy sent to another email
                      address, please enter it below.</p>
                  </div>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="email-with-hint-text">
                      Email address (optional)
                    </label>
                  
                    <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text"
                      aria-describedby="email-with-hint-text-hint">
                  </div>


        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="agree-check" name="agree-check" type="checkbox"
                  value="agree-check" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="agree-check">
                  I agree and accept this declaration
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <a href="CCS-early-no-optin-confirmation-standalone" class="nhsuk-button">
            Submit
          </a>
        </div>

      </fieldset>
    </div>

    <br>


    <!-- <a class="nhsuk-button" href="reg-confirmation">Submit</a> 

    <!-- End of content -->

  </div>
</div>
{% endblock %}