<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Pharmacy First Service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
                <h1>
                  NHS Pharmacy First Service
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Urgent medicines supply, minor illness referrals and clinical pathway consultations
                    </span>
                </h1>
              </header>

              <h3>Current submissions</h3>

              <br>

              <h3>November 2023</h3>
              <dl class="nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Items
supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GP Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>7</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Minor
                    illness
                    consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>4</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>2</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC
                    Items
                    supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical pathway consultations
                    
                    
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical
                    pathway
                    items
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                   
                  </dd>
              
                </div>
              
              </dl>

              <br>

              <h3>October 2023</h3>
              <dl class="nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Items
supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GP Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>7</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Minor
                    illness
                    consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>4</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>2</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC
                    Items
                    supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical pathway consultations
                    
                    
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical
                    pathway
                    items
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                   
                  </dd>
              
                </div>
              
              </dl>

              <br>

              <h3>September 2023</h3>
              <dl class="nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Items
supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GP Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>7</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Minor
                    illness
                    consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>4</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>2</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC
                    Items
                    supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical pathway consultations
                    
                    
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical
                    pathway
                    items
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                   
                  </dd>
              
                </div>
              
              </dl>

              <br>
              <br>
              <a href="checkbox-submit-v3" class="nhsuk-button">Start submmission</a>
              
              

              <hr>
              <h3>Previous submissions</h3>

              <br>

              <h3>August 2023</h3>
              <dl class="nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Items
supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GP Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>7</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Minor
                    illness
                    consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>4</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>2</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC
                    Items
                    supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical pathway consultations
                    
                    
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical
                    pathway
                    items
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                   
                  </dd>
              
                </div>
              
              </dl>

              <br>

              <h3>July 2023</h3>
              <dl class="nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Items
supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GP Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>7</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Minor
                    illness
                    consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>4</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>2</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC
                    Items
                    supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical pathway consultations
                    
                    
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical
                    pathway
                    items
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                   
                  </dd>
              
                </div>
              
              </dl>

              <br>

              <h3>June 2023</h3>
              <dl class="nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Items
supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GP Minor
illness
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>7</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Minor
                    illness
                    consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>4</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC Urgent
medicines
consultations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>2</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    UEC
                    Items
                    supplied
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical pathway consultations
                    
                    
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Clinical
                    pathway
                    items
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>3</p>
                   
                  </dd>
              
                </div>
              
              </dl>
              
              <br>
              <br>
              <br>

              <h3>Missed a submission?</h3>
              <p>Contact the helpdesk on 0300 330 1368 or via email at <a href="">nhssa.mys@nhs.net</a> for help.</p>


              <br>
              <br>
              <br>

              <p class="nhsuk-body"><a href="de-registration" class="nhsuk-link">Deregister from this service</a></p>

            </div>


          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}