<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
CPCS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        NHS Common Condition Service (CCS)
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Early opt in</span>
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->

    <p>I am opting in to provide the CCS service as of 1st January 2024. I understand that I will receive an early set up fee to facilitate the running of this service.atment and urgent repeat prescriptions to Community Pharmacies.</p>

    <p>I understand that if I choose to deregister from providing this service within 30days of the service going live then the NHSBSA can receive the money back.</p>


    <br>

    <form action="cpcsearlyoptin" method="post">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you want to opt in for this service?
            </h1>
          </legend>

          <div class="nhsuk-radios nhsuk-radios--inline">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="cpcsearlyoptin" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="cpcsearlyoptin" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
              </label>
            </div>

          </div>
        </fieldset>

      </div>
<br>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

    </form>


    <!-- <a class="nhsuk-button" href="reg-declaration">Register</a> -->

    <!-- <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="reg-declaration">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Register</span>
      </a>
    </div> -->

    <!-- End of content -->

  </div>
</div>
{% endblock %}