<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Pharmacy First Service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "back"
              }) }}

              <header>
                <h1>
                  NHS Pharmacy First Service
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Declaration</span>
                </h1>
              </header>

              <p>Read the following summary of terms and conditions and, if you agree, complete the details required and tick the agreement box.

              </p>
              <div class="nhsuk-grid-column-two-thirds">
                <div class="declaration">

                  <p>I am claiming payment in accordance with the terms of the NHS Pharmacy First Service, as set out in the service specification and the Pharmaceutical Services (Advanced and
                    Enhanced Services) (England) (Amendment) Directions 2016.</p>

                    <p>I confirm that this pharmacy has been registered
                      with the NHS Business Services Authority as a provider of this service and understand that this
                      payment claim will not be approved if the pharmacy has not been registered.</p>

                    <p>I declare that the information on this submission
                      form is correct and complete. Any drugs and scheduled appliances supplied and recorded via the NHS Pharmacy First Service IT provider were supplied by the contractor in the period and from the premises. If not, I
                      understand that further action may be taken.</p>
                      
                </div>
                <fieldset>
                  <legend class="visually-hidden">New Submission</legend>
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-width-10">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="first-name" type="text">
                  </div>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-width-10">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="last-name" name="last-name" type="text">
                  </div>

                  <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>A confirmation email will be sent to XXXXXX. If you would like a copy sent to another email
                      address, please enter it below.</p>
                  </div>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="email-with-hint-text">
                      Email address (optional)
                    </label>
                  
                    <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text"
                      aria-describedby="email-with-hint-text-hint">
                  </div>


                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="agree-check" name="agree-check" type="checkbox"
                            value="agree-check" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="agree-check">
                            I agree and accept this declaration
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="form-group">
                    <a href="confirmation" class="nhsuk-button">
                      Submit
                    </a>
                  </div>

                </fieldset>
              </div>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}