<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Pharmacy First Service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

    <h1>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      Confirm removal
    </h1>

    <form action="PFremove" method="post">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Are you sure you want to remove this claim?
            </h1>
          </legend>
      
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="PFremove" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="PFremove" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <br>

      <div class="form-group">
        <a href="cpcs-CCS-main-v2" class="nhsuk-button">
          Continue
        </a>
      </div>
    </form>

    <!-- End of content -->

  </div>
</div>
{% endblock %}