<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
RSVP-Pertussis and RSV Claims Error UI
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage your service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">RSVP Pertussis and RSV Claims Error Scenario Prototype</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="index">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
      <hr>


      <h2 class="nhsuk-heading-l">RSVP Pertussis Claim - Error Scenarios</h2>

      <p class="nhsuk-body"><a href="error-empty" class="nhsuk-link">If number of Pertussis vaccines is empty</a></p>
      <p class="nhsuk-body"><a href="error-character" class="nhsuk-link">If character entered into Pertussis vaccines is not a number</a></p>
      <p class="nhsuk-body"><a href="error-greater-99" class="nhsuk-link">If number entered is greater than 99</a></p>
      <p class="nhsuk-body"><a href="error-rsv-pertussis-vaccine-claims" class="nhsuk-link">If number is greater than 20 (warning message)</a></p>


      <hr>

      <h2 class="nhsuk-heading-l">RSVP RSV Claim - Error Scenarios</h2>

      <p class="nhsuk-body"><a href="error2-empty" class="nhsuk-link">If number of RSV vaccines is empty</a></p>
      <p class="nhsuk-body"><a href="error2-character" class="nhsuk-link">If character entered into RSV vaccines is not a number</a></p>
      <p class="nhsuk-body"><a href="error2-greater-99" class="nhsuk-link">If number entered is greater than 99</a></p>
      <p class="nhsuk-body"><a href="error2-enter-number-RSV-vaccines" class="nhsuk-link">If number is greater than 20 (warning message)</a></p>
      

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
