<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  HRT
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">

            <div class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                      {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
                          
                          <header class="page-header">
                              <span class="nhsuk-caption-xl nhsuk-caption--bottom">Sell a Hormone Replacement Therapy Prescription Prepayment Certificate (HRT PPC)</span>
                              <h1 class="nhsuk-heading-xl">Check your answers</h1>
                          </header>

<div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Before you continue
          </span>
        </h3>
        <p>
          
          <p>This is an HRT PPC which only covers <a href="#">certain HRT drugs.</a></p> 
          <p>If your customer needs a prescription for something other than HRT, a <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates-ppcs" target="_blank">Prescription Prepayment Certificate (PPC) that covers all NHS prescriptions (link opens in new tab)</a> may be better for you.</p>
      </div>
                          <h2>Customer details</h2>
                        
<dl class="nhsuk-summary-list">                        

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Name
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                Jane Smith
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Date of birth
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                01 Jan 2000
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                NHS number
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                123 456 7890
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Address 
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                Stella House,<br>Newcastle,<br>NE15 8NY
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>



                          </dl>
                          <h2>HRT PPC details</h2>
                        
                          <dl class="nhsuk-summary-list">                        

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Sold date
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                31/05/2022
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Start date
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                30/06/2022
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>

<div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                HRT PPC receipt option
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                Email<br>
                                jane.smith@email.com
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                  Change<span class="nhsuk-u-visually-hidden">address</span>
                                </a>
                              </dd>
                            </div>
                          </dl>

                        <a href="hrt-done" class="nhsuk-button">
                            Continue
                        </a>

                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
