<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19 Expression of Interest
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}
    <header>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Covid-19 Expression of Interest Spring/Summer 2024</span>
      <h1>
        Value for Money
      </h1>
    </header>
    <div class="nhsuk-form-group">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Will there be set-up or ongoing costs or equipment requested from NHS
England in relation to this site?
            </h1>
          </legend>
          <div class="nhsuk-hint" id="contact-hint">
            <p>NHS England Regional Teams may have access to additional funding for
              outreach. You should outline if you expect to incur any additional costs which
              you may deem to be eligible for such funding.</p>

              <p>NHS England Regional Teams may be able to provide support to Pharmacy
                Contractors by way of equipment loan. You should also state here should
                you like to request any loan equipment and provide full details of the loan
                equipment requested.</p>
          </div>
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="yes"
                aria-controls="conditional-contact-1" aria-expanded="false" value="" checked>
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="no"
                aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                No
              </label>
            </div>
          </div>
          </div>
          <br>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="if-yes">
                If yes, please provide more information.
              </label>
              <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <br>
    <a href="cya-value" class="nhsuk-button">Next</a>
  </div>
</div>
{% endblock %}