<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Children's vaccine service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.back()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <h1>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Children's vaccine service</span>
      Confirm deletion
    </h1>

        <table class="nhsuk-table">
  <caption class="nhsuk-table__caption">June 2025</caption>
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Type of vaccines</th>
      <th scope="col" class="nhsuk-table__header">Total</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Number of Vaccine A</td>
      <td class="nhsuk-table__cell">10</td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Number of Vaccine B</td>
      <td class="nhsuk-table__cell">6</td>
    </tr>
  </tbody>
</table>

      <br>

      <form action="childrenvaccinedelete" method="post">

<div class="nhsuk-form-group">
 <fieldset class="nhsuk-fieldset">
   <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

    <h1 class="nhsuk-fieldset__heading">
              Are you sure you want to delete this claim?
            </h1>
          </legend>
      
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item ">
              <input class="nhsuk-radios__input" id="example-inline-1" name="childrenvaccinedelete" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="childrenvaccinedelete" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <br>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>
     
<!-- End of content -->

  </div>
</div>
{% endblock %}