<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid Premises
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- Feedback and Notification block starts here -->

<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">



        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">

        <!-- Change the page title here -->
        <header>
            <h1>
              Covid Premises & Refrigeration Payment Reports
            </h1>
        </header>

        <div class="nhsuk-form-group">
          <h2 class="nhsuk-heading-s">Part month</h2>
      <p>
        Select a year and month.
      </p>
      </div>
  
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="year">
          Year
        </label>
        <select class="nhsuk-select" id="year" name="year">
          <option value="Select" selected>Select option</option>
          <option value="2024" >2020</option>
          <option value="2023" >2021</option>
          <option value="2022" >2022</option>
          <option value="2021" >2023</option>
          <option value="2022" >2024</option>
          <option value="2021" >2025</option>
        </select>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="month">
          Month
        </label>
        <select class="nhsuk-select" id="month" name="month">
          <option value="Select" selected>Select option</option>
          <option value="January" >January</option>
          <option value="February" >February</option>
          <option value="March" >March</option>
          <option value="April" >April</option>
          <option value="May" >May</option>
          <option value="June" >June</option>
          <option value="July" >July</option>
          <option value="August" >August</option>
          <option value="September" >September</option>
          <option value="October" >October</option>
          <option value="November" >November</option>
          <option value="December" >December</option>
        </select>
      </div>
  <br>
      
    
      <a href="COVIDPRE-download-payment-report" class="nhsuk-button">Download report</a>

      
    


       
</div>
</div>
    </div>
</div>

{% endblock %}