<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid Premises
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- Feedback and Notification block starts here -->

<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">



        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">

        <!-- Change the page title here -->
        <header>
            <h1>
              COVID-19 premises and refrigeration payment reports
            </h1>
        </header>

        <p>Use this application to  download COVID-19 premises and refrigeration payment reports as a CSV file.</p>
  
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="year">
          Select month and year
        </label>
      
        <select class="nhsuk-select" id="monthyear" name="monthyear" style="width: 630px;">
          <option value="Select" selected>Select option</option>              
        
          <option value="January 2020">January 2020</option>
          <option value="February 2020">February 2020</option>
          <option value="March 2020">March 2020</option>
          <option value="April 2020" >April 2020</option>
          <option value="May 2020" >May 2020</option>
          <option value="June 2020" >June 2020</option>
          <option value="July 2020" >July 2020</option>
          <option value="August 2020" >August 2020</option>
          <option value="September 2020">September 2020</option>
          <option value="October 2020">October 2020</option>
          <option value="November 2020">November 2020</option>
          <option value="December 2020">December 2020</option>  

          <option value="January 2021">January 2021</option>
          <option value="February 2021">February 2021</option>
          <option value="March 2021">March 2021</option>
          <option value="April 2021" >April 2021</option>
          <option value="May 2021" >May 2021</option>
          <option value="June 2021" >June 2021</option>
          <option value="July 2021" >July 2021</option>
          <option value="August 2021" >August 2021</option>
          <option value="September 2021">September 2021</option>
          <option value="October 2021">October 2021</option>
          <option value="November 2021">November 2021</option>
          <option value="December 2021">December 2021</option>  

          <option value="January 2022">January 2022</option>
          <option value="February 2022">February 2022</option>
          <option value="March 2022">March 2022</option>
          <option value="April 2022" >April 2022</option>
          <option value="May 2022" >May 2022</option>
          <option value="June 2022" >June 2022</option>
          <option value="July 2022" >July 2022</option>
          <option value="August 2022" >August 2022</option>
          <option value="September 2022">September 2022</option>
          <option value="October 2022">October 2022</option>
          <option value="November 2022">November 2022</option>
          <option value="December 2022">December 2022</option>  
          
          <option value="January 2023">January 2023</option>
          <option value="February 2023">February 2023</option>
          <option value="March 2023">March 2023</option>
          <option value="April 2023" >April 2023</option>
          <option value="May 2023" >May 2023</option>
          <option value="June 2023" >June 2023</option>
          <option value="July 2023" >July 2023</option>
          <option value="August 2023" >August 2023</option>
          <option value="September 2023">September 2023</option>
          <option value="October 2023">October 2023</option>
          <option value="November 2023">November 2023</option>
          <option value="December 2023">December 2023</option>

          <option value="January 2024">January 2024</option>
          <option value="February 2024">February 2024</option>
          <option value="March 2024">March 2024</option>
          <option value="April 2024" >April 2024</option>
          <option value="May 2024" >May 2024</option>
          <option value="June 2024" >June 2024</option>
          <option value="July 2024" >July 2024</option>
          <option value="August 2024" >August 2024</option>
          <option value="September 2024">September 2024</option>
          <option value="October 2024">October 2024</option>
          <option value="November 2024">November 2024</option>
          <option value="December 2024">December 2024</option>

          <option value="January 2025">January 2025</option>
          <option value="February 2025">February 2025</option>
          
          
        </select>
      
      
      
      
      </div>
  <br>

      
    
      <a href="COVIDPRE-download-payment-report" class="nhsuk-button">Get reports</a>

      
    


       
</div>
</div>
    </div>
</div>

{% endblock %}