<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Flu
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- Feedback and Notification block starts here -->

<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">



        {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">

        <!-- Change the page title here -->
        <header>
             <h1 class="nhsuk-caption--bottom">
              Flu vaccination payments reports
            </h1>
        </header>
<br>
       <p>Select a report to download as a CSV file.</p>
       <p>Reports will be available in your download folder or any folder configured as your default download folder.</p>
         
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Report
            </th>
            <th role="columnheader" class="" scope="col">
             Action
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Breakdown report</td>
            <td class="nhsuk-table__cell "><a href="">Download report</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Drug cost report</td>
            <td class="nhsuk-table__cell "><a href="">Download report</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Flu fee report</td>
            <td class="nhsuk-table__cell "><a href="">Download report</a></td>
          </tr>
        </tbody>
      </table>
  
      <a href="" class="nhsuk-button">Download all</a>

      
    


       
</div>
</div>
    </div>
</div>

{% endblock %}