<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-back-link">
                                <a class="nhsuk-back-link__link" href="javascript:history.back()">
                                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" aria-hidden="true">
                                        <path
                                            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                        </path>
                                    </svg>
                                    Back</a>
                            </div>

                            <div class="main-content">

                                <header>
                                    <h1>
                                      Submission success
                                      <span class="nhsuk-caption-xl nhsuk-caption--bottom">December 2023 submission</Summary></span>
                                    </h1>
                                  </header>
                                


                                <div
                                    class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

                                    <div class="nhsuk-card__content">

                                        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                                            <span id="done-tick"></span>Submission sent
  
                                        </h1>

                                        <div class="nhsuk-date-input" id="example">
                                           
                                            <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                              <div class="nhsuk-form-group">
                                                <p>Paper prescriptions</p>
                                              </div>
                                            </div>
                                            <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                  <p>EPS prescriptions</p>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>
                                            
                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                  <p>Other activities</p>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                  <p>Declaration</p>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>

                                              
                                              
                                            </div>
                                           
                                          </div>
                                      
                                    </div>
                                <br>
                                </div>

                               

                                <div class="grid-row">
                                    <div class="column-two-thirds">
                                        <h2 class="heading-large">What's next?</h2>

                                        <div class="nhsuk-hint" id="contact-hint">
                                            Sort and send your paper prescriptions
                                          </div>
                                      <br>
                                        
                                                <dt class="cya-question">
                                                    <h3>Sorting and submissions of forms</h3>
                                                </dt>
                                                
                                               
                                              <div class="govuk-warning-text">
                                                <span class="govuk-warning-text__icon" aria-hidden="true" style = top:-13px;">!</span>
                                                <strong class="govuk-warning-text__text">
                                                  <span class="govuk-warning-text__assistive">Warning</span>
                                                  Remove any adhesive tape, pins or staples.
                                                </strong>
                                              </div>
                                              
                                              <br>

                                              <ol>
                                                <li>Complete one submission document only per practice in accordance with paragraph 16 of the Statement of Financial Entitlements.</li>
                                               <br>
                                                <li>Prescription forms must be sorted into the following order
                                                  <ul>
                                                    <li>Into patient charge group, i.e. exempt, paid, and paid at old rate. Each group should be segregated. PLEASE DO NOT use adhesive tape, 
                                                      pins or staples as these have to be removed and can delay processing.</li>
                                                      <li>It will assist if within each group, forms are sorted by prescriber name, as stamped on the form, in alphabetical order. Different
                                                         prescribers with the same surname should be sorted numerically according to the prescriber index number as printed on the prescription form.</li>
                                                  </ul>
                                                </li>
                                                <li>ETP tokens for non payment must be kept separate from the FP10 prescriptions submitted for processing and reimbursement as in paragraph 2.</li>
                                               <br>
                                                <li>Please fold this submission document along the fold line on page 4, so that the barcode is visible on the top. Place this completed submission document on top of the submitted forms, pack securely and despatch to NHS Prescription Services by NO LATER THAN the FIFTH day of the month following
                                                  that in which they were dispensed, using the address label provided.</li>
                                                  <br>
                                                  <li>The FP34D Appendix should be completed and attached to the FP34D.</li>
                                                  <br>
                                                  <li>Details of vaccines which have been purchased and personally administered for influenza, typhoid, hepatitis A, hepatitis B, pneumococcal, and meningococcal should be entered on the FP34D Appendix. Combinations of these vaccines eg Twinrix, Hepatyrix, can also be claimed on this form.
                                                  FP10s for items claimed on the Appendix must not be submitted for this account.</li>
                                                  <br>
                                                  <li>The number of items claimed for vaccines on the FP34D Appendix must be included in the total number of prescriptions submitted as exempt group overleaf.
                                                 <br>
                                                 <br>
                                                  The FP34D Appendix should be completed as follows:
                                                  <ul>
                                                      <li>  The name and doctor index number should be completed for each doctor prescribing. </li>
                                                        <li>  Identify the brand name or the manufacturer of the vaccine. </li>
                                                          <li> Identify the presentation and pack size from which the vaccine was administered. </li>
                                                            <li> Identify the dosage administered to each patient e.g. 0.25ml. </li>
                                                              <li> Identify the total number of doses administered in the month. </li>
                                                    </li>
                                                   </ul>

                                                </li>
                                              </ol>
                                              
                                            <hr>
                                           
                                           
                                              <h3>Notes</h3>
                                          

                                          
                                            <p>Each group should be ordered from top to bottom in the following way:</p>
                                           

                                            <ul>
                                                <li>Address labels (for submission of parcels to the NHS Prescription Services) are supplied by
                                                  the NHS Prescription Services.</li>
                                                <li>Postage on parcels and correspondence sent to the NHS Prescription Services MUST be pre-
                                                  paid.</li>
                                                <li>The forms must be despatched in a secure manner that enables tracking and tracing of the
                                                  delivery.</li>
                                                  <li>Further supplies of FP34D and Appendix are available from NHS Prescription Services Help
                                                    Desk.</li>
                                            </ul>

                                            </div>

                                            <div>
                                               
                                                
                                            <hr>
                                                

                                            </div>


                                            <div>
                                              <h3>Send us your batch</h3>
                                                
                                                    <p>Send batch by a secure, pre-paid postage method with track and trace.</p>

                                                   <hr>

                                           <p>You can <a href="">print your batch documentation</a> again if you have lost it.</p>
                                              
                                          
                                          <br>
                                           <br>
                            <a href="V3"><p>Continue</p></a>
                            
                            <a href="../summary-new" class="nhsuk-link"><p>Back to MYS dashboard</p></a>

                                            </div>


                                          </div>


                                        </dl>


                                    </div>


                                </div>
                            </div>
                           

                            {% endblock %}