<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'MDT-v2.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
WT&E
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">    
    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container" style="margin: 0; padding-left: 30px;">

        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                Workforce, Training and Education
              </h2>

<br>

              <ul class="nhsuk-grid-row nhsuk-card-group">


                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 250px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="./WT&E/FTP-PTPT-reports">Foundation trainee pharmacist and pre-registration trainee pharmacy technician reports</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>   

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 250px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="./WT&E/FTP-PTPT-payment-report">Foundation trainee pharmacist and pre-registration trainee pharmacy technician payment report</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>   

                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
           
            <ul>
              <div class="options" id="options">
              <li><a href="admin-index">Administration</a></li>
              <li><a href="contraception-index">Contraception</a></li>
              <li><a href="covid-premises-index">COVID-19 premises and refrigeration</a></li>
              <li><a href="covid-19-site-selection-index">COVID-19 site selection process</a></li>
              <li><a href="covid-index">COVID-19 vaccination</a></li>
              <li><a href="dms-index">Discharge Medicine Service (DMS)</a></li>
              <li><a href="flu-index">Flu vaccinations</a></li>
              <li><a href="FP34C-index">FP34C</a></li>
              <li><a href="CVD-index">Hypertension</a></li>
              <li><a href="LFD-index">Lateral flow device</a></li>
              <li><a href="pharmacyFirst-index">Pharmacy First</a></li>
              <li><a href="pqs-index">Pharmacy Quality Scheme (PQS)</a></li>
              <li><a href="rtec-index">Real Time Exemption Checking (RTEC)</a></li>
              <li><a href="refer-back-index">Referred back</a></li>
              <li><a href="SCS-index">Smoking Cessation Service (SCS)</a></li>
              <li><a href="WT&E-index" class="active">Workforce, Training and Education</a></li>
              <li><a href="all-deregistration-reports">All deregistration reports</a></li>
              <li><a href="all-payments-reports">All payment reports</a></li>
              <li><a href="all-registration-reports">All registration reports</a></li>
            </div>
           </ul>

          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}