<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS New Medicine Service Claims
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

   
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

                            <header>
                                <h1>
                                    NHS New Medicine Service Claims
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">For information this is currently part of the FP34C journey (additional activities)</span>
                                </h1>
                            </header>
                            <hr>


                            <h1 class="nhsuk-heading-l">Version 1</h1>

                            <h3>9 May 2024</h3>

                            <p>The new NMS prototype. <br><br><a href="reg">View prototype version 1</a></p>

                            
                            <hr>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}