<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS New Medicine Service Claims 
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

     
      
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <span class="nhsuk-caption-xl nhsuk-caption--bottom" style="margin-top: -20px; font-size: 25px;">Vaccinations</span>
             
                <h2 style="padding-top: 10px;">
                 Has the vaccinated person been diagnosed with <br> any of the following:
                </h2>
       
                <form>

                  <div class="nhsuk-form-group">
                
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    
                
                      <div class="nhsuk-hint" id="example-hint">
                        Select all options that are relevant.
                      </div>
                
                      <div class="nhsuk-checkboxes">
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Anaphylaxis
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Bell’s Palsy
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Blood clotting disorders
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Capillary Leak Syndrome
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Cerebral Venous Sinus Thrombosis (CVST)
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Chronic Inflammatory Demyelinating Polyneuropathy (CIDP)
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Cutaneous Vasculitis
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Delayed hypersensitivity
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Guillain-Barré Syndrome (GBS)
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Immune Thrombocytopenic Purpura (ITP)
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Menorrhagia
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Myocarditis
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Narcolepsy
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Pericarditis
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Shoulder Injury Related to Vaccine Administration (SIRVA)
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Tinnitus
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Transverse Myelitis
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Vaccine-Induced Immune Thrombocytopenia and Thrombosis (VITT)
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            None of the above
                          </label>
                        </div>
                
                      </div>
                    </fieldset>
                
                  </div>
                
                </form>
            
                    <div class="form-group">
                      <a href="reg-confirmation" class="nhsuk-button">
                        Submit
                      </a>
                    </div>
            
                  </fieldset>
                </div>
              <br>
              <br>

          


        

      

{% endblock %}