<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Independent Pharmacy Prescribing (IPP)
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<br>
<br>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">


              <header>
                <h1>
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Independent Pharmacy Prescribing (IPP)</span>
                  Date of consultation
                </h1>
              </header>


              <p class="nhsuk-body">You can enter a date of consultation between 1 [current month minus 1] [Year] and [today's date in format d Month yyyy for example 1 June 2026] </p>

              <div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group" aria-describedby="appointment-date-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h2 class="nhsuk-fieldset__heading">
        Enter a date
      </h2>
    </legend>
    <div class="nhsuk-hint" id="appointment-date-hint">
      For example, 18 5 2026
    </div>
    <div class="nhsuk-date-input" id="appointment-date">
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="appointment-date-day">
            Day
          </label>
          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="appointment-date-day" name="appointmentDate[day]" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="appointment-date-month">
            Month
          </label>
          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="appointment-date-month" name="appointmentDate[month]" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="appointment-date-year">
            Year
          </label>
          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="appointment-date-year" name="appointmentDate[year]" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

            

              <a href="patient-details-july" class="nhsuk-button">Continue</a>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}