<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'ISP.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Information Service Portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

          <div class="nhsuk-back-link">
              <a class="nhsuk-back-link__link" href="javascript:history.back()">
                  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" aria-hidden="true">
                      <path
                          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                      </path>
                  </svg>
                  Go back</a>
          </div>

          <header>
              <h1>
                Information Service Portal
              </h1>
          </header>
          <hr>


          
          <h3>31 May 2024</h3>

          <h2>Super User view (admin - internal team)</h2>
            <p>It has "add user", "delete user", "change users details"
               <br><br>
             <b>Version 1 </b>(31 May 2024): <br>
             <a href="v1/home-bsa">Here for Super User view prototype</a></p>

             <p><b>Version 2 *LATEST UPDATE</b> (2 July 2024): <br>
              <a href="v3/home-bsa">Here for Super User view prototype</a> - Added Broadcast and Manage roles and groups
                 <br>

             <h2>Single user view (pharmacy user)</h2>
              <p>This allows the user access to past, present data and as data is generated over time the user will receive access to the reports going forwards  from when the pharmacy was created on ISP and also up to the date that the pharmacy started trading i.e. if a pharmacy started trading from June 2023, got access to ISP in Sept 2023, they would see the information dated back to June 2023.
                <br>
              <br><b>Version 1</b>(31 May 2024): <br><a href="v1-single/eschedule">Here for  Single User view prototype</a></p>
 
              <br>

              <h2>Group access - have access to multiple pharmacies (just sees multiple reports)</h2>
              <p>This allows the user access data from the date the user signs up from ISP going forwards. Groups are created within DPC and pulled into ISP
              <br>
                <br><b>Version 1 </b> (31 May 2024):<br><a href="v1-group/eschedule">Here for Group access view prototype</a></p>
   
                <br>

                <h2>Profile user (an analyst 3rd party) - has access to multiple pharmacies and YP codes- has the drop down</h2>
                  <p>This allows the user access data from any groups or single users within their profiles. So, they may be able to access multiple single pharmacy and multiple groups. This will allow them to see whatever the user can see in accordance with the level of access as called out above.
                  <br> <br><b>Version 1 </b>(31 May 2024):<br><a href="v1-profile/home-boots">Here for Profile user view prototype</a></p>
                 
                  <p>Suggestion: <a href="v1-profile/home-boots-checklist">Here for Profile user view prototype </a> - checklist to be able to view multiple profiles at the same time.</a></p>
   
          <hr>

          <h3>24 July 2024</h3>

            <h2 class="nhsuk-heading-l">Version 2</h2>

            <h2>Existing MYS users</h2>
            
               <br>
               
            <p> <b>Option 1<br></b> Click on <b>"Pharmacy reports"</b> tab for the journey, the ISP reports are in the checklist along with the others. 
              <br>
             <a href="../../pharmacy/admin">Here for option 1 prototype</a></p>

             <br>

             <p><b>Option 2<br></b> Click on <b>"Information service portal"</b> tab for the journey, the checklist are only fill with ISP reports.
            <br>
             <a href="../../pharmacy/admin">Here for option 2 prototype</a></p>

             <br>
             <p><b>Option 3<br></b> Click on <b>"Information service portal (First search)"</b> tab for the journey. In this journey you select the relevant date first, then selecting the reports from the side bar and it will only show the reports of the dates you selected at first.
                <br>
                 <a href="../../isp/v5/home-bsa">Here for option 3 prototype</a></p>

                 <br>
    
             <p><b>Option 4<br> Without user management </b> - Click on <b>"Information service portal (Tab search)"</b> tab for the journey. In this journey you can search reports in relevant date by selecting from the side bar.
              <br>
               <a href="../../pharmacy/services">Here for option 4 prototype</a></p>
  
               <p><b>With user management </b>- Click on <b>"Information service portal (User management)"</b> tab for the journey. In this journey you can search reports in relevant date by selecting from the side bar.
                <br>
                 <a href="../isp/v4-user-manage/eschedule-data-first">Here for option 4 prototype</a></p>
    
             
      </div>

  </div>

</div>

</div>

</div>

</div>
</div>
{% endblock %}