<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mdt.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MDT
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage submissions processing and admin
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Admin
      </span>
      </summary>
      <div class="nhsuk-details__text">
        <h4 class="nhsuk-heading-s">Org</h4>
      <a href="#" class="nhsuk-link">Import and download dispenser details</a><br>
      <a href="#" class="nhsuk-link">Manage distance selling pharmacy codes</a><br>
      <a href="#" class="nhsuk-link">Organization unlock</a><br>
      <a href="#" class="nhsuk-link">Manage LPS pharmacy codes</a><br><br>
      <h4 class="nhsuk-heading-s">System</h4>
      <a href="#" class="nhsuk-link">Edit application settings</a><br>
      <a href="#" class="nhsuk-link">Manage shared emails</a><br>
      <a href="#" class="nhsuk-link">Create user management user records in bulk</a><br>
      <a href="#" class="nhsuk-link">Import user management user details</a><br><br>
      <h4 class="nhsuk-heading-s">Reports</h4>
      <a href="#" class="nhsuk-link">Head office MI report</a><br>
      <a href="#" class="nhsuk-link">Single pharmacy MI reports</a><br>
      <a href="#" class="nhsuk-link">Head Office user extract</a><br>
      </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Advanced Services
      </span>
    </summary>
    <div class="nhsuk-details__text">

      <h4 class="nhsuk-heading-s">Flu</h4>
      <a href="#" class="nhsuk-link">Manage flu vaccines</a><br>
      <a href="#" class="nhsuk-link">Flu submission reports</a><br>
      <a href="#" class="nhsuk-link">Search flu submission to delete</a><br>
      <a href="#" class="nhsuk-link">Flu submission NHSE reports</a><br>
      <a href="#" class="nhsuk-link">Search flu premises and refrigeration submission to delete</a><br>
      <a href="#" class="nhsuk-link">Flu premises and refrigeration payment reports</a><br><br>

      <h4 class="nhsuk-heading-s">Hep C</h4>
      <a href="#" class="nhsuk-link">Heptitis C Registration Report</a><br>
      <a href="#" class="nhsuk-link">Hepatitis C payment reports</a><br>
      <a href="#" class="nhsuk-link">Manage Hepatitis C Charges</a><br>
      <a href="#" class="nhsuk-link">Hepatitis C de-registrations</a><br><br>

      <h4 class="nhsuk-heading-s">CPCS</h4>
      <a href="#" class="nhsuk-link">CPCS registrions report</a><br>
      <a href="#" class="nhsuk-link">Manage medicines</a><br>
      <a href="#" class="nhsuk-link">Manage CPCS Prescription Charges</a><br>
      <a href="#" class="nhsuk-link">CPCS deregistrations report</a><br>
      <a href="#" class="nhsuk-link">CPCS Claim submission reports</a><br>
      <a href="#" class="nhsuk-link">GP Referral Engagement payment report</a><br>
      <a href="#" class="nhsuk-link">Manage CPCS uploads</a><br>
      <a href="#" class="nhsuk-link">CPCS payment reports</a><br>
      <a href="#" class="nhsuk-link">CPCS deregistration</a><br>
      <a href="#" class="nhsuk-link">Unlock (delete) CPCS submission</a><br>


    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
  <span class="nhsuk-details__summary-text">
    Assurance
  </span>
  </summary>
  <div class="nhsuk-details__text">

    <h4 class="nhsuk-heading-s">NSAID</h4>
    <a href="#" class="nhsuk-link">Manage NSAID drugs</a><br>
    <a href="#" class="nhsuk-link">Unlock NSAID Audits</a><br><br>

    <h4 class="nhsuk-heading-s">PQS</h4>
    <a href="#" class="nhsuk-link">Manage pharmacy quality plans</a><br>
    <a href="#" class="nhsuk-link">Amend pharmacy quality scheme PQS submissions</a><br>
    <a href="#" class="nhsuk-link">Upload PQS Covid checklist declarations in bulk</a><br>
    <a href="#" class="nhsuk-link">Manage pharmacy quality gateway checks</a><br>
    <a href="#" class="nhsuk-link">Pharmacy Quality Reports</a><br>
    <a href="#" class="nhsuk-link">Manage Pharmacy quality scheme PQS questions</a><br>
    <a href="#" class="nhsuk-link">NHSE PQS Covid declaration reports</a><br><br>

    <h4 class="nhsuk-heading-s">CPAF</h4>
    <a href="#" class="nhsuk-link">Manage CPAF F Codes</a><br>

  </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
<summary class="nhsuk-details__summary">
  <span class="nhsuk-details__summary-text">
    Core services
  </span>
</summary>
<div class="nhsuk-details__text">

      <h4 class="nhsuk-heading-s">RB/DA</h4>
      <a href="#" class="nhsuk-link">Process resubmitted prescription forms</a><br>
      <a href="#" class="nhsuk-link">Import referback data from CIP</a><br>
      <a href="#" class="nhsuk-link">Run user audit</a><br>
      <a href="#" class="nhsuk-link">Referback activity report</a><br>
      <a href="#" class="nhsuk-link">Load missing referback images</a><br><br>

      <h4 class="nhsuk-heading-s">FP34</h4>
      <a href="#" class="nhsuk-link">Manage pharmacy quality plans</a><br>
      <a href="#" class="nhsuk-link">Amend pharmacy quality scheme PQS submissions</a><br>
      <a href="#" class="nhsuk-link">Upload PQS Covid checklist declarations in bulk</a><br>
      <a href="#" class="nhsuk-link">Manage pharmacy quality gateway checks</a><br><br>
      <a href="#" class="nhsuk-link">Pharmacy Quality Reports</a><br>
      <a href="#" class="nhsuk-link">Manage Pharmacy quality scheme PQS questions</a><br>
      <a href="#" class="nhsuk-link">NHSE PQS Covid declaration reports</a><br><br>

      <h4 class="nhsuk-heading-s">DMS</h4>
      <a href="#" class="nhsuk-link">Upload NHS Trust Data</a><br><br>

      <h4 class="nhsuk-heading-s">RTEC</h4>
      <a href="#" class="nhsuk-link">Upload RTEC declarations in bulk</a><br>
      <a href="#" class="nhsuk-link">RTEC Declarations report</a><br>

</div>
</details>

<details class="nhsuk-details nhsuk-expander">
<summary class="nhsuk-details__summary">
<span class="nhsuk-details__summary-text">COVID Services
</span>
</summary>
<div class="nhsuk-details__text">

        <h4 class="nhsuk-heading-s">COVID</h4>
        <a href="#" class="nhsuk-link">Manage Covid treatments</a><br>
        <a href="#" class="nhsuk-link">Covid Premises and refrigeration payment reports</a><br>
        <a href="#" class="nhsuk-link">Single GP MI reports</a><br><br>

        <h4 class="nhsuk-heading-s">LFD</h4>
        <a href="#" class="nhsuk-link">Covid-19 Lateral Flow Device Distribution Service Reports</a><br>
        <a href="#" class="nhsuk-link">Manage LFT WholeSaler</a><br><br>

        <h4 class="nhsuk-heading-s">HDAS</h4>
        <a href="#" class="nhsuk-link">Home Delivery Advanced Service Payment Reports</a><br><br>

        <h4 class="nhsuk-heading-s">PPE</h4>
        <a href="#" class="nhsuk-link">Search PPE submission to delete</a><br>
        <a href="#" class="nhsuk-link">PPE payment report</a><br>

</div>
</details>

<details class="nhsuk-details nhsuk-expander">
<summary class="nhsuk-details__summary">
<span class="nhsuk-details__summary-text">
  Warehouse  Search
</span>
</summary>
<div class="nhsuk-details__text">
<a href="#" class="nhsuk-link">Warehouse Search</a><br>
</div>
</details>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
