<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19 Expression of Interest
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

              {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
              }) }}

              <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Covid-19 Expression of Interest Spring/Summer 2024</span>
        Check your answers
      </h1>
    </header>
<hr>
    <h3 class="nhsuk-heading-m">About the location of your proposed site</h3>

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you know the address of the proposed site away from your pharmacy?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="away-2-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    If yes, non-registered site address(es) from which the service will be provided:
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    12 Bend Street, Greater, Old Trafford, Stretford, Manchester M12 3AB
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="away-2-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    If you would like to propose any more specific areas within the ICBs, please give further details on location here:
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    No
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="away-3-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

               


                

                

               

                </dl>


                

              </div>

              
           
          </div>
          <br>
          
                
          
                <a href="tasklist" class="nhsuk-button">Continue</a>

                <a href="tasklist" class="nhsuk-button nhsuk-button--secondary">Save and continue later</a>
              

                    
            
    
         
  </div>
</div>
{% endblock %}