<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container" style="margin: 0; padding-left: 32px;">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">


              <div class="nhsBSA-sidebar-container">

                <div class="nhsBSA-sidebar-wrapper">
                  <div class="nhsBSA-sidebar-content">
                    <div class="nhsuk-width-container">
                      <div class="nhsuk-main-wrapper" id="maincontent">
                        <div class="nhsuk-grid-row">
                          <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-back-link">
                              <a class="nhsuk-back-link__link" href="javascript:history.back()">
                                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 24 24" aria-hidden="true">
                                  <path
                                    d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                  </path>
                                </svg>
                                Back</a>
                            </div>

                            <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

                              <div class="nhsuk-card__content">
              
                                <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                                  Done
                                </h1>

                                <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                                  COVID-19 Vaccination Service submission complete.
                                </h2>
              
              
                              </div>
              
                            </div>
              
                            <h2>What happens next</h2>
                            <p>We will send you an email confirmation.
                              The details of your unplanned suspension of services has been sent to your regional team.</p>
                            <br>
              
              
              
                            <p class="nhsuk-body"><a href="covid-vaccination" class="nhsuk-link">Back to start of this service</a></p>
              
                            <!-- <h3 class="nhsuk-heading-m">Missed a submission?</h3>
                            <p class="nhsuk-body">Contact the helpdesk on 0300 330 1368 or email <a class="nhsuk-link"
                                href="mailto:nhsbsa.mys@nhs.net">nhsbsa.mys@nhs.net</a> for help</p> -->

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>







            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="../summary-new">Summary</a></li>
              <li><a href="../index3">Prescription Submissions</a></li>
              <li><a class="active" href="../services">Services</a></li>
              <li><a href="../pqs">PQS</a></li>
              <li><a href="../audits">Audits</a></li>
              <li><a href="../admin">Admin</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}