<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Planned/unplanned closures
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

    <h1>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Unplanned temporary suspension of services</span>
      Check the details about your suspension of services
    </h1>

    <form action="UnplannedCheckYourAnswersNew" method="post">
      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" style="font-weight:700; padding: 8px 24px 8px 0px;">Date of unplanned
              suspension</td>
            <td class="nhsuk-table__cell" style="font-weight:700; padding: 8px 24px 8px 0px;">Time of unplanned
              suspension</td>
            <!-- <td class="nhsuk-table__cell" style="font-weight:700; padding: 8px 24px 8px 0px;">Reason for unplanned
              suspension</td> -->
            <td class="nhsuk-table__cell" style="font-weight:700; padding: 8px 24px 8px 0px;"></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 0px;">14/04/2023</td>
            <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 0px;">08:00 - 18:00</td>
            <!-- <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 0px;">	Adverse weather, such as snow or flood</td> -->
            <td class="nhsuk-table__cell" style="text-align: right; padding: 8px 24px 8px 0px;">
              <a class="nhsuk-link" href="check-your-answers">View</a>
            </td>
            <td class="nhsuk-table__cell" style="text-align: right; padding: 8px 24px 8px 0px;">
              <a class="nhsuk-link" href="delete-confirmation">Delete</a>
            </td>



          </tr>
        </tbody>
      </table>

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you want to add details of another unplanned temporary suspension of services?
            </h1>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="radioInlineGroup1" name="addanotherdate" type="radio" value="Yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="radioInlineGroup2" name="addanotherdate" type="radio" value="No">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No
              </label>
            </div>

          </div>
        </fieldset>

      </div>

      <br>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

    <!-- End of content -->

  </div>
</div>
{% endblock %}