<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Administration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
  



       

        <!-- Change the page title here -->
        <header>
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">Import refer back from CIP</span>
            <h1 class="nhsuk-caption--bottom">Import CIP Referred Back data</h1>            
        </header>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
        <!-- <h2>Context</h2> -->
<br>
        <p>Use this function to upload Referred Back data from CIP</p>
<br>     
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
              <strong>Digital RB/DA Extract</strong>  
            </label>
            <div class="nhsuk-hint" id="example-hint">
              Paste a digital RB/DA extract
            </div>
            <textarea class="nhsuk-textarea" id="example" name="example" rows="15" aria-describedby="example-hint"></textarea>
          </div>
         
<br>

 <a href="confirmation-referback-download" class="nhsuk-button">Upload</a>

</div>
</div>

{% endblock %}