<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}

{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <div class="nhsuk-back-link">
                <a class="nhsuk-back-link__link" href="javascript:history.back()">
                  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                  </svg>
                  Go back</a>
              </div>

              <header>
                <h1>
                  Accepted item
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Item information</Summary></span>
                </h1>
              </header>
              
              

             <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

              <div class="nhsuk-card__content" style="text-align: center;">

                  <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                    Additional information was accepted <br>on 13 November 2023
                  </h2>
                  <p>You will be paid for this item</p>
              </div>

          </div>

            <br>
            
              <div class="column-two-thirds">


                <div class="grid-row">
                  <div class="column-third">
                    <h2 class="heading-small" style="margin-top:10px;">Paper prescription item</h2>
                  </div>
                  <div class="column-two-thirds">
                   
                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Quantity
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          0
                        </dd>
                    
                      </div>
                    
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Additional
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                         
                        </dd>
                    
                      </div>
                    
                    
                    </dl>
                    </div>
                  <h3>Information you added</h3>

                    <div class="column-two-thirds">
                   
                      <dl class="nhsuk-summary-list">
  
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Supplier
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Sanofi
                          </dd>
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Pack size
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           1 x 200 dose inhaler
                          </dd>
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Pack price
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           £3.56
                          </dd>
                        </div>
                      
                      </dl>
                      </div>

                             
              <h3>Conversation history </h3>
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Show conversation history
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption"></caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                         
                        </th>
                      </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b><i>Contractor added the following on 09 Sep 2023 13:52:43</i></b>
                        <br>
                          <b>Supplier: </b> Apex  <b>Pack size: </b> 3  <b>Pack price: </b> £23.33  <b>Quantity: </b> 56  <b>Vial/Amp/Cartridge size: </b> 2.5
                        </td>
                      </tr>
    
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b> <i>Contractor added the following on 23 Jun 2023 11:11:12</i></b>
                        <br>
                          <b>Supplier: </b> Studio1  <b>Pack size: </b> 1 x 200 dose inhaler  <b>Pack price: </b> £3.58  <b>Quantity: </b> 23  
                        </td>
                      </tr>
    
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b>  <i>Contractor added the following on 09 April 2023 09:54:13</i></b>
                        <br>
                          <b>Supplier: </b> Barbie  <b>Pack size: </b> 10  <b>Pack price: </b> £20.30  <b>Quantity: </b> 100  
                        </td>
                      </tr>
    
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b> <i>Previous message from CIP operator on 09 April 2023 09:54:13</i></b>
                        <br>
                        Eque porro quisquam est qui dolorem ipsum.
                      </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </details>


                  </div>
                </div>

                

                
          
                
                
                </div>


              </div>


            </div>

          </div>

        </div>
   

  


{% endblock %}