<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Unpaid items
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <header>
                <h1>
                  Add missing information to item
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Item 1 of 14</Summary></span>
                </h1>
              </header>
             
              <h2>Paper prescription</h2>
           

              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Show prescription information
                  </span>
                </summary>
                <br>
                <br>
                <h3>Patient</h3>
                <img alt="paper-prescription-patient" class="gallery-item-visible gallery-item gallery-item-preloaded" data-hook="gallery-item-image-img" data-idx="0" src="/images/paper-prescription-patient.png" loading="eager" >
              <br>
              <br>
                <h3>Dispenser</h3>
                <img alt="paper-prescription-dispenser" class="gallery-item-visible gallery-item gallery-item-preloaded" data-hook="gallery-item-image-img" data-idx="0" src="/images/paper-prescription-dispenser.png" loading="eager" >
             </details>
              <br>
              <h3>Item information</h3>
              <img alt="paper-prescription-information" class="gallery-item-visible gallery-item gallery-item-preloaded" data-hook="gallery-item-image-img" data-idx="0" src="/images/paper-prescription-information.png" loading="eager" >
            
              <br>
              <br>
              
              <h3>Current prescription form</h3>
              <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption"></caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Prescriber code
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Paper type
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Prescribing type
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Exemption category
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Charge status
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Prescriber code </span>RDERH
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading"> Paper type</span>FP10NC
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Prescribing type</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading"> Exemption category </span>M
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Charge status</span>E
                    </td>
                  </tr>
                </tbody>
              </table>
              
              <br>
              <br>
              
              <h3>Conversation history </h3>
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Show conversation history
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption"></caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                         
                        </th>
                      </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b><i>Contractor added the following on 09 Sep 2023 13:52:43</i></b>
                        <br>
                          <b>Supplier: </b> Apex  <b>Pack size: </b> 3  <b>Pack price: </b> £23.33  <b>Quantity: </b> 56  <b>Vial/Amp/Cartridge size: </b> 2.5
                        </td>
                      </tr>
    
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b> <i>Contractor added the following on 23 Jun 2023 11:11:12</i></b>
                        <br>
                          <b>Supplier: </b> Studio1  <b>Pack size: </b> 1 x 200 dose inhaler  <b>Pack price: </b> £3.58  <b>Quantity: </b> 23  
                        </td>
                      </tr>
    
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b>  <i>Contractor added the following on 09 April 2023 09:54:13</i></b>
                        <br>
                          <b>Supplier: </b> Barbie  <b>Pack size: </b> 10  <b>Pack price: </b> £20.30  <b>Quantity: </b> 100  
                        </td>
                      </tr>
    
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"> 
                          <b> <i>Previous message from NHSBSA on 09 April 2023 09:54:13</i></b>
                        <br>
                        Eque porro quisquam est qui dolorem ipsum.
                      </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </details>

              <br>
              <h3>Enter the missing information</h3>
               <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-20">
                  Supplier
                </label>
                <div class="nhsuk-hint" id="example-hint">
                  There is more than one manufacturer and supplier of this product. There may also be more than one name for the same company, such as AAH Hillcross, AAH Pharmaceuticals Ltd, Alliance Healthcare or Alliance Pharmaceuticals. Enter full name of supplier  </div>
                <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-20">
                  Pack size
                </label>
                <div class="nhsuk-hint" id="example-hint">
                  Enter the size of the pack from which this item was dispensed
                 </div>
                <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
              </div>

              
              
              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                 
                    <label class="nhsuk-label nhsuk-date-input__label" for="pounds">
                        Pack price<br>

                  <div class="nhsuk-hint" id="example-hint">
                    Orders not listed in Part VIIIA of the Drug Tariff a pack size and basic price (excluding VAT) are required. Enter the price per pack.
                 
                  </div>
              
                  <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="pounds">
                          Pound
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-6" id="pounds" name="pounds" type="text" inputmode="numeric">
                      </div>
                    </div>
                    
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <p>.</p>
                        </div>
                      </div>

                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="pence">
                          Pence
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="pence" name="pence" type="text" inputmode="numeric">
                      </div>
                    </div>
                    
                  </div>
                </fieldset>
              
              </div>

  
                
                
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Additional information
                  </label>
                  <div class="nhsuk-hint" id="example-hint">
                    Enter any other information that may help us to process this item.
                  </div>
                  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                </div>

                
                <a href="unpaid-items" class="nhsuk-button">Submit</a>
                
          
                
                
                </div>


              </div>


            </div>

          </div>

        </div>
   

  


{% endblock %}