<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
LFT
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <h1>
        COVID-19 Lateral Flow Device (LFD) - Highest Risk Patient Access Service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">LFD details</span>
      </h1>
    </header>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content goes here.</p> -->

    <p>Key the details of up to 5 kit collections.</p>

    <br>

    <h3>Kit 5</h3>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date collected
          <div class="nhsuk-hint" id="example-hint">
            For example, 15 3 1984
          </div>
        </dt>
        <dd class="nhsuk-summary-list__value">
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">

              <div class="nhsuk-date-input" id="example">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                      name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                      name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year"
                      name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>

          </div>
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Lot number
          <div class="nhsuk-hint" id="example-hint">

          </div>
        </dt>
        <dd class="nhsuk-summary-list__value">


          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-5" id="collection-code-1"
                name="collection-code-1" type="number" pattern="[0-9]*">
            </div>
          </div>

          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <p>-</p>
            </div>
          </div>

          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-5" id="collection-code-2"
                name="collection-code-2" type="number" pattern="[0-9]*">
            </div>
          </div>
        </dd>

      </div>

    </dl>

    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

        <div class="nhsuk-checkboxes">

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              I confirm I have provided the patient or representative with one box of 7 LFDs
            </label>
          </div>

        </div>
      </fieldset>

    </div>

    <br>
    <br>


    <a href="cya" class="nhsuk-button">Continue</a>


    <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button> -->

    </form>
    <!-- End of content -->

  </div>
</div>
{% endblock %}