<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Pharmacy Contraception Service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

                            <header>
                                <h1>
                                    NHS Pharmacy Contraception Service
                                  
                                </h1>
                            </header>
                            <hr>

                            <strong class="nhsuk-tag nhsuk-tag--red">
                                26 Apr 2024
                    </strong>
                    
                    <br>
                    <br>

                            <h1 class="nhsuk-heading-l">Version 1</h1>
                                

                            <h3>Registration</h3>

                            <p>First version of the registration for Contraception. <br><br><a href="Contraception/optin">Full journey start from registration</a></p>

                            <br>

                            <h3>Prototype for the service</h3>

                            <p>First version of the Contraception prototype, based on the development on the Miro boards.</p>
                            
                            <a href="Contraception/v1/main"><p>Prototype of the service</p></a>

                            <br>

                           
                            
                            <br>

                           
                                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}