<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Prescribing Consultation Claim
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">


              <header>
                <h1>
                  Prescribing Consultation Claim
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Previously called Independent Pharmacy Prescribing (IPP)</span>
                </h1>
              </header>

              <h3><a href="ipp-v1/months" class="nhsuk-link">Version 1 - June 2026</a></h3>
              <ul style="list-style: disc; margin-left: 30px;">
                <li>First version of prototype based on <a href="https://nhsbsauk.sharepoint.com/:x:/t/IndependentPharmacyPrescriptionsProject/IQA40Dyg35H5T6MX0XD-bti4ARZZS9vjL3gCbcCIBduG4ss?e=yRNZ7d" target="_blank">Requirements</a></li>
                <li>Wireframes on <a href="https://miro.com/app/board/uXjVHN1_ZdM=/?share_link_id=34250008742" target="_blank">Miro</a> - Password is 12345678</li>
              </ul>


              <h3><a href="ipp-v2/months" class="nhsuk-link">Version 2 - July 2026</a></h3>
              <ul style="list-style: disc; margin-left: 30px;">
                <li><b>Postcode:</b> <br>1. Updated the order of the radio buttons, so that the options about postcode are on the top. <br> 2. Removed the link for "Enter address manually" from the option of "I have an address for patient" User can enter the address manually when they choose the postcode unknown option or there is no correct address from the dropdown after entered the postcode. <br> 3. No fixed abode changed to No fixed address - no fixed abode is a little old-fashioned.</li>
                <li><b>Outcome:</b> Has changed to radio buttons and in two questions due to the updated requirements on certain selections cannot be selected together</li>
                <li><b>Prescription items:</b> Has removed auto complete with add and remove functionality on the same page, due to JavaScript issues if user disabled the JavaScript. It has now updated to search and add with multiple pages.</li>
                <li><b>Paid / Unpaid content:</b> Has updated to Claims submitted / Submitted for payment and Invalid submissions on the Submission summary and Monthly submission page, because it was brought up in the meeting and the terminology better reflects the current state of the claims.</li>
                <li><b>NHS number:</b> Has updated the dummy NHS numbers to include spaces for better readability.</li>
                 <li><b>Select a service:</b> Separated by conditional radios; Contraception and Pharmacy First</li>
              </ul>


  </div>

</div>
{% endblock %}