<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19 Expression of Interest
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            {{ backLink({
                                href: 'javascript:history.back()',
                                text: 'Back'
                            }) }}

                            <header>
                                <h1>
                                    COVID-19 vaccination programme
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">Covid-19 Expression of Interest</span>
                                </h1>
                            </header>
                            <hr>

                            <strong class="nhsuk-tag nhsuk-tag--red">
                                9 Oct 2023
                    </strong>
                    
                    <br>
                    <br>

                            <h1 class="nhsuk-heading-l">Version 1</h1>
                                

                            <h3>MYS users</h3>

                            <p>First version of the Covid-19 Expression of Interest Spring/Summer 2024 prototype. <br><br><a href="cvp-mys/registration">MYS users</a></p>

                            <br>

                            <h3>Non-MYS users</h3>

                            <ul>
                                <li>
                                   Additional contact page before summary 
                                </li>
                                <li>
                                   More questions in contact and pharmacy details page
                                </li>
                            <li>
                                Without the save and continue later buttons and the change options in cya pages
                            </li>
                            
                            </ul>
                            
                            <a href="cvp-non-mys/registration"><p>Non-MYS users</p></a>

                            <br>

                            <h3>Return MYS users</h3>

                            <ul>
                                <li>
                                    Add in the option that a pharmacy could submit this expression of interest for their on site pharmacy (logged in ODS) and then they may be able to return to MYS in order to submit a second option (submission) for a satellite site (off site premises). This would be a different ODS code from the original.
                                </li>
                                
                            </ul>
                            
                            <a href="cvp-return/front-page"><p>Return MYS users</p></a>
                          
                            
                            <hr>

                            <strong class="nhsuk-tag nhsuk-tag--red">
                                22 Nov 2023
                    </strong>
                    
                         
                    <br>
                    <br>

                            <h1 class="nhsuk-heading-l">Version 2</h1>
                           
                        

                            <h3>MYS users</h3>

                            <ul>
                                <li>
                                   Questions and user journey has changed.
                                </li>
                                <li>
                                    Minimum requirements section has added before submission page for on-site and off-site.
                                 </li>
                                
                            </ul>
                           
                                
                            <a href="cvp-mys-v2/registration"><p>MYS users</p></a>

                     
                     
                            <hr>
                            <strong class="nhsuk-tag nhsuk-tag--red">
                                12 Mar 2024
                    </strong>
                            <br>
                            <br>
        
                                    <h1 class="nhsuk-heading-l">Version 3</h1>
                                   
                                
        
                                    <ul>
                                        <li>
                                          Text has been updated.
                                        </li>
                                        <li>
                                           Added 'View submission' page for On site submissions (Response Document A) <b>ONLY</b> after declaration
                                          </li>
                                        <li>
                                            Removed Off site submissions (Response Document B)
                                         </li>
                                         <li>
                                        Added a <a href="cvp-mys-v3/service-end">service ended page</a>
                                    </li>
                                    </ul>
                                   
                                        
                                    <a href="cvp-mys-v3/registration"><p>Click here for Version 3</p></a>


                                    
                            <hr>
                            <strong class="nhsuk-tag nhsuk-tag--red">
                                17 Mar 2024
                    </strong>
                            <br>
                            <br>
        
                                    <h1 class="nhsuk-heading-l">Version 4</h1>
                                   
                                
        
                                    <ul>
                                        <li>
                                          Text has been updated.
                                        </li>
                                        <li>
                                          Temporary site has changed. </li>
                                           
                                    </ul>
                                   
                                        
                                    <a href="cvp-mys-v4/registration"><p>Click here for Version 4</p></a>


                                    <hr>
                                    
        
                                    <strong class="nhsuk-tag nhsuk-tag--red">
                                        18 Mar 2024
                            </strong>
                                    <br>
                                    <br>
                
                                            <h1 class="nhsuk-heading-l">Version 5</h1>
                                           
                                        
                
                                            <ul>
                                                <li>
                                                  There are two options to add temporary sites
                                                </li>
                                                <li>
                                                 <a href="cvp-mys-v5/tasklist">Option 1</a> - Enter multiple postcodes in one large textbox</li>
                                               <li> <a href="cvp-mys-v5/tasklist-2">Option 2</a> - Enter the postcode one by one</li>
                                                
                                            </ul>
                                           
                                                
                                            <a href="cvp-mys-v5/registration"><p>Click here for Version 5 full journey</p></a>
        
        
                                            <hr>

                                    <strong class="nhsuk-tag nhsuk-tag--red">
                                        18 Mar 2024
                            </strong>
                            <br>
                            <br>
                                            <h1 class="nhsuk-heading-l">Version 6</h1>
                                           
                                        
                
                                            <ul>
                                                <li>
                                                  They have chosen Option 2 to add temporary sites
                                                </li>
                                               
                                               <li> Updated <a href="cvp-mys-v6/tasklist-2">Option 2</a> and added extra radio option for users who answer 'Yes' for temp site but don't know the postcode.</li>
                                                
                                            </ul>
                                           
                                                
                                            <a href="cvp-mys-v6/registration"><p>Click here for Version 6 full journey</p></a>
        
        
                                            <hr>

                                    <strong class="nhsuk-tag nhsuk-tag--red">
                                        24 Mar 2024
                            </strong>
                            <br>
                            <br>
                                            <h1 class="nhsuk-heading-l">Version 7</h1>
                                           
                                        
                
                                            <ul>
                                                <li>
                                                   Content has been updated
                                                  </li>
                                                <li>
                                                  They have chosen the combination of Option 1 from version 5 and Option 2 from version 6 to add temporary sites
                                                </li>
                                               
                                               <li> Updated <a href="cvp-mys-v7/tasklist-2">add temporary sites</a> and added free textbox for radio option for users who answear 'Yes' for enter multiple postcodes.</li>
                                                
                                            </ul>
                                           
                                                
                                            <a href="cvp-mys-v7/registration"><p>Click here for Version 7 full journey</p></a>
        
                                            <br>
                                            <br>

                                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}