<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
GP Portal
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

          <div class="nhsuk-back-link">
              <a class="nhsuk-back-link__link" href="javascript:history.back()">
                  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" aria-hidden="true">
                      <path
                          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                      </path>
                  </svg>
                  Go back</a>
          </div>

          <header>
              <h1>
                GP Portal
              </h1>
          </header>
          <hr>


          <h2>Jan 2024</h2>
            <p>New prototype - a dashboard for GP portal, inclduing profile, FP34D, High volume vaccinations on the service tab.
               <br><br>
             <a href="../gp-portal/gp-portal-v1/summary-gp-portal">Here for Version 1- GP portal</a> </p>

             <br>

             <h2>April 2025</h2>
             <p>Version 2 - a dashboard for GP portal, remove profile, FP34D, and only keep High volume vaccinations on the service tab.
                <br><br>
              <a href="../gp-portal/gp-portal-v2/index-gp-portal">Here for Version 2- GP portal</a> </p>

             <br>

             <h2>May 2025</h2>
             <p>Version 3 -</p>
              <ul>
                <li>Remove API option</li>
                <li>Can't have vaccine type and vaccine on the same page as this causes issue, user would need to have Java enabled. Need to separate the 2 fields on to different pages.</li>
                <li>Remove the go back button on the check your answers page. Want users to use edit or delete. As causes confusion if they try to change the prescriber.</li>
                <li>The user to select an ODS code from those they have access to so they can select one.</li>
              </ul>
                <br>
             <p><a href="../gp-portal/gp-portal-v3/select-ods">Here for Version 3 - GP portal</a> </p>


             <br>
             <br>
             <br>



          <header>
            <h2>
              GP Admin Portal
            </h2>
        </header>
        <hr>

        <h2>April 2025</h2>
          <p>New prototype - a dashboard with user managerment.
             <br><br>
           <a href="../gp-admin-portal/gp-admin-portal-v1/admin-gp-portal">Here for Version 1- GP admin portal</a> </p>

           <br>


        <h2>August 2025</h2>
           <ul>
                <li>Removing the address and change dispenser Tab on the dashboard</li>
                <li>Add a new user to be changed to Edit a New user to reflect the function of the screen</li>
              </ul>
             
          <p><a href="../gp-admin-portal/gp-admin-portal-v2/admin-gp-portal">Here for Version 2- GP admin portal</a> </p>
        
          </div>

</div>

</div>

</div>

</div>
</div>
{% endblock %}