<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  WT&E
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage your service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Workforce, Training & Education</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="index">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
      <hr>

     <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Previous work
    </span>
  </summary>
  <div class="nhsuk-details__text">
     <h2 class="nhsuk-heading-m">Version 5</h2>

      <p class="nhsuk-body"><a href="mys-hee-v5/hee-navpage" class="nhsuk-link">Trainee driven claim</a></p>

      <h2 class="nhsuk-heading-m">Version 7</h2>

      <p class="nhsuk-body"><a href="mys-hee-v7/hee-navpage" class="nhsuk-link">Monthly claim</a></p>

      </div>
</details>

      <h2 class="nhsuk-heading-l">New version - monthly claim</h2>

      <p class="nhsuk-body"><a href="mys-hee-v8/hee-landing-page" class="nhsuk-link">Monthly claim</a></p>

      <hr>

      <h2 class="nhsuk-heading-l">Version 9 - 07 February 2023 - monthly claim</h2>

      <p class="nhsuk-body"><a href="mys-hee-v9/hee-landing-page" class="nhsuk-link">Monthly claim</a></p>

      <h2 class="nhsuk-heading-l">Version 10 - 21 April 2023 - Terms and conditions</h2>

      <p class="nhsuk-body"><a href="mys-hee-v10-a/hee-landing-page" class="nhsuk-link">Option A - Accept terms for both courses</a></p>

      <p class="nhsuk-body"><a href="mys-hee-v10-b/hee-landing-page" class="nhsuk-link">Option B - Individual terms lead to different journeys</a></p>

      <h2 class="nhsuk-heading-l">Version 11 - 10 May 2023 - Updated prototype, minus the terms</h2>

      <p class="nhsuk-body"><a href="mys-hee-v11/hee-landing-page" class="nhsuk-link">Version 11</a></p>

      <h2 class="nhsuk-heading-l">Version 12 - 12 May 2023 - Prototype now includes a reg/de-reg option at the start of the journey</h2>

      <p class="nhsuk-body"><a href="mys-hee-v12/registration" class="nhsuk-link">Version 12</a></p>

      <h2 class="nhsuk-heading-l">Version 13 - 22 May 2023 - HEE now WT&E. New prototype based on BP275-6259 requirments.</h2>

      <p class="nhsuk-body"><a href="mys-hee-v13/registration" class="nhsuk-link">Version 13</a></p>

      <h2 class="nhsuk-heading-l">Version 14 - 26 July 2023 - This version of WT&E does not include the PTPT journey.</h2>

      <p class="nhsuk-body"><a href="mys-hee-v14/registration" class="nhsuk-link">Version 14</a></p>

      <h2 class="nhsuk-heading-l">Version 15 - 25 September 2023 - This version of WT&E include the PTPT journey and to have different trainee options.</h2>

      <p class="nhsuk-body"><a href="mys-hee-v15/registration" class="nhsuk-link">Version 15</a></p>

      <h2 class="nhsuk-heading-l">Version 16 - 2 June 2024 - This version of WT&E include the PTPT journey and to have different trainee options.</h2>

      <p class="nhsuk-body"><a href="mys-hee-v16/index-versions" class="nhsuk-link">Version 16</a></p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
