<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage your service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prototypes</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


    <hr>

    <h3>Main Dashboards</h3>

      <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable" style="height:180px;">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="summary-new">MYS Dashboard 2.0</a></h2>
            <p class="nhsuk-card__description">MYS Dashboard 2.0</p>
          </div>
        </div>
      </li>

      
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="https://mys-pharmacy.herokuapp.com/mdt/index">Manage Data Transfer</a></h2>
            <p class="nhsuk-card__description">Admin support for MYS.</p>
          </div>
        </div>
      </li>

       
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Dashboard-gp">GP Portal</a></h2>
            <p class="nhsuk-card__description">GP Portal prototype</p>
          </div>
        </div>
      </li>
</ul>

<hr style="margin-top:10px">

<h3>Pages from main dashboard</h3>

<ul class="nhsuk-grid-row nhsuk-card-group">

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable" style="height: 200px;">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Dashboard-manage-users">Manage users</a></h2>
        <p class="nhsuk-card__description">Manage users from Admin</p>
      </div>
    </div>
  </li>
  </ul>

  <hr style="margin-top:10px">


<h3>Services</h3>

            <ul class="nhsuk-grid-row nhsuk-card-group">

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="anticoagulant/patient-details">Anti-coagulants</a></h2>
                    <p class="nhsuk-card__description">Anti-coagulents.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Contraception/optin">Contraception</a></h2>
                    <p class="nhsuk-card__description">NHS Pharmacy Contraception Service</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="covid-antivirals/version1">Covid Antivirals</a></h2>
                    <p class="nhsuk-card__description">Covid Antivirals.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Dashboard-cvp">Covid-19 Expression of Interest</a></h2>
                    <p class="nhsuk-card__description">COVID-19 vaccination programme</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Dashboard-cprp">Covid Premises and Refrigeration Payments</a></h2>
                    <p class="nhsuk-card__description">Use this service to record and submit your monthly submission for Covid premises and refrigeration payments.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Covid/Covid-versions">Covid Vaccination Service</a></h2>
                    <p class="nhsuk-card__description">This service is for the claiming of Covid Vacinations.</p>
                  </div>
                </div>
              </li>


              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="CPCS/registration">CPCS</a></h2>
                    <p class="nhsuk-card__description">Community Pharmacist Consultation Service - to refer patients requiring low acuity advice, treatment and urgent repeat
                      prescriptions to Community Pharmacies.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Covid/Covid-versions">Flu</a></h2>
                    <p class="nhsuk-card__description">This service is claiming for the Flu Jab.</p>
                  </div>
                </div>
              </li>


              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="FP34C/Dashboard">FP34C</a></h2>
                    <p class="nhsuk-card__description">This service is for prescription claims.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="dashboard-fp34d">FP34D</a></h2>
                    <p class="nhsuk-card__description">This service is for prescription claims.</p>
                  </div>
                </div>
              </li>


              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="fp34d/fp34d">HVV</a></h2>
                    <p class="nhsuk-card__description">High volume vaccinations - This service is to claim payment for high volume vaccination items.
                      <br>
                      <br>
                      <a href="https://mys-dispensingdocs.herokuapp.com/fp34d/fp34d"> Old version HVV</a>
                    </p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="../isp/Dashboard">Information Service Portal (ISP)</a></h2>
                    <p class="nhsuk-card__description">Allow user to acces eschedule data file, Prescription item report, Schedule of payments, Supplementary report
                    </p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="lateral-flow-index">Lateral Flow Test</a></h2>
                    <p class="nhsuk-card__description">LFD is where pharmacists can
                      claim for issuing LFD tests.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="nms/Dashboard">New Medicine Service Claims</a></h2>
                    <p class="nhsuk-card__description">This is currently part of the FP34C journey (additional activities)</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Dashboard-pf">Pharmacy First</a></h2>
                    <p class="nhsuk-card__description">Combination of CPCS and CSS. Claim for urgent medicines supply, minor illness referrals and clinical pathway consultations.</p>
                  </div>
                </div>
              </li>


              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="ppc">PPC</a></h2>
                    <p class="nhsuk-card__description">Pharmacy sales for standard and HRT PPCs.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="https://section-twelve.herokuapp.com">Section 12</a></h2>
                    <p class="nhsuk-card__description">This database will give you the approval status for Section 12(2) approved
                      doctors and Approved Clinicians (AC) in England.</p>
                  </div>
                </div>
              </li>


              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="scs/dashboard">Smoking Cessation Service (SCS)</a></h2>
                    <p class="nhsuk-card__description">NHS Smoking Cessation Service</p>
                  </div>
                </div>
              </li>


              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href=" https://mys-optometry.herokuapp.com">SSECS</a></h2>
                    <p class="nhsuk-card__description">This service is for clinical teams who provide eye care to children and young people
                      who attend special schools.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Unpaid-items/unpaid-items">Unpaid items</a></h2>
                    <p class="nhsuk-card__description">This will show pharmacists which of the claims they have made are
                      unsuccessful and will not be paid.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="../bof/puc">Unplanned temporary suspension of services</a></h2>
                    <p class="nhsuk-card__description">To notify us of any
                      unplanned temporary suspension of services to a pharmacy.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="vdps/start-page">Vaccine Damage Payment Scheme</a></h2>
                    <p class="nhsuk-card__description">New digital journey form.</p>
                  </div>
                </div>
              </li>

             
              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable" style="height: 350px;">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="hee-index">WT&E</a></h2>
                    <p class="nhsuk-card__description">Workforce, Training & Education - To make claims for education and training contributions for
                       Trainee Pharmacists, monthly trainee claims.</p>
                  </div>
                </div>
              </li>

             
            </ul>

            <hr style="margin-top:10px">

            <h3>Others</h3>

              <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="https://mys-pharmacy.herokuapp.com/templates/dashboard">Prototype Templates</a></h2>
                  <p class="nhsuk-card__description">Templates for manual journey, API claim screens, manual and API claim journey.</p>
                </div>
              </div>
            </li>


            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="https://mys-pharmacy.herokuapp.com/templates/dashboard">Reg/De-reg (Separate journey)</a></h2>
                  <p class="nhsuk-card__description">One version of the reg/de-reg process for signing up to MYS.</p>
                </div>
              </div>
            </li>

            
            </ul>
          


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
