<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">    
    <div class="nhsBSA-sidebar-content">

 <!-- Notification banner -->
      <div class="alert-banner" style="background-color: #FAE100; padding-bottom: 80px;"></div>
      <div class="nhsuk-width-container" style="margin: 0; padding-left: 30px;">

<!-- Feedback and Notification block starts here -->
      <p style="color: #000;
      font-size: 16px;
      line-height: 1.25;
      margin-top: -7.5%;
      padding: 8px 10px 8px;
      
      letter-spacing: 1px;">
    <span style="text-decoration: none;">
    <strong>Reminder: </strong>
     You must submit your Pharmacy Quality Scheme (PQS) declaration for 2023/24 by 11:59pm on <br> 1 September 2024.</span></p>

    <!--div class="phase-banner"
    style="margin: 5px ;
    line-height: 1.25;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #bfc1c3;">
    <p></strong> Your <a href="https://online1.snapsurveys.com/MYS_FEEDBACK_SURVEY?pgn=ServiceDashboard" target="_blank">feedback (opens in a new tab)</a> will help us improve our service.</p>

  </div-->
<!-- Feedback and Notification block ends here -->
        
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <ul class="nhsuk-grid-row nhsuk-card-group">

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="anticoagulant/patient-details">Anti-coagulants</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../pharmacy/CPCS/registration">Community pharmacy consultation service (CPCS)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>



                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="Community-Seasonal-Influenza-Vaccination-Advanced-Service/dashboard">Community Seasonal Influenza Vaccination Advanced Service</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>
                



                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="Contraception/optin">Contraception</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../pharmacy/covid-antivirals/version1">Covid Antivirals</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../pharmacy/cvp-mys-v2/registration">Covid-19 Expression of Interest</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../pharmacy/cprp/summary">Covid premises and refrigeration claims (CPRC)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="Covid/covid-dashboard-V2">Covid vaccinations</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../mdt/dms">Discharge medicine service (DMS)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>
               
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="Flu/flu-dashboard">Flu claim</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">Flu premises and refrigeration costs (FPRC)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">GP Referral pathway referral</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>



                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">High volume vaccination (HVV)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../isp/v4/eschedule-data-first">Information service portal (ISP)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

              

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../pharmacy/lateralflow-v9/lft-start-page-new">Lateral flow test</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>



                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="nms/Dashboard">NMS</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="pertussis-v1/reg">Pertussis Vaccine Claims</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="CPCS-CCS/registration">Pharmacy First</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>




                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="hrt-ppc-v5/start-page">PPC</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>
             

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">PPE Claims</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="rsv-v1/reg">Respiratory Syncytial Virus</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>


                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="scs/dashboard">Smoking Cessation Service (SCS)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>                   


                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">SSECS</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>       


                <!--li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">Unplanned temporary suspension of services</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li-->   


                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="../pharmacy/vdps/start-page">Vaccine Damage Payment Scheme</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>   

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable" style="width: 300px; height: 205px;">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="mys-hee-v16/PTPT-FTP/version-2-PTPT-only/start-submission-ptpt">Workforce, Training & Education (WT&E)</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>   


                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="summary-new">Summary</a></li>
              <li><a href="index3">Prescription Submissions</a></li>
              <li><a class="active" href="services">Services</a></li>
              <li><a href="pqs">PQS</a></li>
              <li><a href="audits">Audits</a></li>
              <li><a href="admin">Admin</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}