<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-no-session-timeout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Manage your service
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  
  <div class="nhsuk-grid-column-two-thirds">

<br>
      
      <!-- Change the page title here -->
     
      
    
      
          <h1 class="nhsuk-heading-xl">
            You’ve been signed out
          </h1>
      
          <p>
            For your security you have been signed out because you did not do anything for x minutes. 
            
            <p>Any information you have not saved has been deleted.</p>
          </p>
      
<br>          

      <a href="index" class="nhsuk-button">Sign in</a>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Need help with signing in?
          </span>
        </summary>
        <div class="nhsuk-details__text">
         
        <p>Telephone the helpdesk on 0300 330 1368 if the issue continues.</p>
          
      
        </div>
      </details>
     
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
