<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">

    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0</p>
                  <p><a href="Unpaid-items/unpaid-items"
                      class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Unpaid
                      items</a>
                  </p>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption"> </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                          Items with missing information
                        </th>
                        <th role="columnheader" class="" scope="col">

                        </th>
                      </tr>
                    </thead>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">
                            0
                          </strong></td>
                        <td class="nhsuk-table__cell ">EPS items</td>
                      </tr>
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">
                            0
                          </strong></td>
                        </td>
                        <td class="nhsuk-table__cell ">Paper prescription items</td>
                      </tr>

                    </tbody>
                  </table>


                </div>
                <div class="nhsuk-grid-column-full">

                </div>
              </div>
            </div>
          </div>

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <p class="nhsuk-heading-xl nhsuk-u-font-size-24 nhsuk-u-margin-bottom-1">Submissions <br>and payments</p>
                  <br>
                  <p>
                    Missed a submission?
                    <br>
                    Contact the helpdesk on 
                    <br>0300 330 1368 or via email 
                    <br>
                    <a href="mys@nhsbsa.nhs.uk"
                      class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">mys@nhsbsa.nhs.uk
                      </a>
                      for help.
                  </p>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption"> </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                          Period
                        </th>
                        <th role="columnheader" class="" scope="col">
                       Status
                        </th>
                        <th role="columnheader" class="" scope="col">
                          Action
                           </th>
                      </tr>
                    </thead>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td role="row" class="nhsuk-table__cell">
                            November 2023
                          </td>
                        <td role="row" class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--red">
                          Not started</strong></td>
                          <td role="row" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading"></span><a href="">Start submission</a>
                          </td>
                          </tr>

                      <td role="row" class="nhsuk-table__cell">
                        October 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        September 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        August 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>

                      <td role="row" class="nhsuk-table__cell">
                        July 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        June 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        May 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        April 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        March 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        February 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        January 2023
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        December 2022
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                      <td role="row" class="nhsuk-table__cell">
                        November 2022
                      </td>
                    <td role="row" class="nhsuk-table__cell ">
                      Processed</td>
                      <td role="row" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"></span><a href="">View</a>
                      </td>
                      </tr>
                      
                    </tbody>
                  </table>


                </div>
                <div class="nhsuk-grid-column-full">

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a class="active" href="summary-new">Summary</a></li>
              <li><a href="index3">Prescription Submissions</a></li>
              <li><a href="services">Services</a></li>
              <li><a href="pqs">PQS</a></li>
              <li><a href="audits">Audits</a></li>
              <li><a href="admin">Admin</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}