<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Planned/unplanned closures
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <span class="nhsuk-caption-xl nhsuk-caption--bottom">Manage Your Service</span>

    <h1>You have been signed out</h1>

    <p>For your security, we have signed you out of your session because you were inactive for XX minutes.</p>

    <p>Any unsaved information you have entered will be deleted.</p>

    <br>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Sign in again</button>

    <!-- End of content -->

  </div>
</div>
{% endblock %}