<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Respiratory Syncytial Virus
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

    <h1>
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">NHS Community Pharmacy Respiratory Syncytial Virus (RSV) and Pertussis Vaccination Enhanced Services</span>
      Confirm you want to remove June 2025 from your claim
    </h1>

  <table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Submission for June 2025</caption>
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Vaccine</th>
      <th scope="col" class="nhsuk-table__header">Total</th>
    </tr>
  </thead>

  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">RSV</td>
      <td class="nhsuk-table__cell">6</td>
    </tr>
  </tbody>

    <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Pertussis</td>
      <td class="nhsuk-table__cell">6</td>
    </tr>
  </tbody>
</table>

      <br>

      <form action="childrenvaccinedelete" method="post">

<div class="nhsuk-form-group">
 <fieldset class="nhsuk-fieldset">
   <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

    <h1 class="nhsuk-fieldset__heading">
              Are you sure you want to remove this month?
            </h1>
          </legend>
      
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item ">
              <input class="nhsuk-radios__input" id="example-inline-1" name="childrenvaccinedelete" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes, I want to remove this month
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="childrenvaccinedelete" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No, I do not want to remove this month
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <br>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>
     
<!-- End of content -->

  </div>
</div>
{% endblock %}