<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Respiratory Syncytial Virus
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

   
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
                <h1>
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">NHS Community Pharmacy Respiratory Syncytial Virus (RSV) and Pertussis Vaccination Enhanced Service</span>
                 Claim for current months
                </h1>
              </header>



               <table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Current months</caption>
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Month</th>
      <th scope="col" class="nhsuk-table__header">RSV</th>
      <th scope="col" class="nhsuk-table__header">Pertussis</th>
      <th scope="col" class="nhsuk-table__header">Action</th>
    </tr>
  </thead>
  
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">June 2025</td>
                          <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading"></span>4
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading"></span>1
                    </td>
      <td class="nhsuk-table__cell"><a href="">View</a></td>
    </tr>

    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">May 2025</td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span>4
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading"></span>1
      </td>
      <td class="nhsuk-table__cell"><a href="">View</a></td>
    </tr>

    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">April 2025</td>
                          <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading"></span>4
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading"></span>1
                    </td>
      <td class="nhsuk-table__cell"><a href="">View</a></td>
    </tr>
  </tbody>
</table>

              <br>
              <br>

             <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-fieldset__heading">
                        Select the months you want to claim for
                      </h1>
                    </legend>

                    <div class="nhsuk-hint" id="contact-hint">
                      Choose one or more months
                    </div>

                    <div class="nhsuk-checkboxes">

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="june2025" name="june2025" type="checkbox"
                          value="june2025">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="june2025">
                          June 2025
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="may2025" name="may2025" type="checkbox"
                          value="may2025">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="may2025">
                          May 2025
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="april2025" name="april2025" type="checkbox"
                          value="april2025">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="april2025">
                          April 2025
                        </label>
                      </div>

                    </div>
                  </fieldset>

                   <br>
            

              <a href="cya" class="nhsuk-button">Continue</a>

              <br>
              <br>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}