<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Prescribing Consultation Claim (PCC)
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<br>
<br>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">



              <header>
                <h1>
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prescribing Consultation Claim</span>
                  Declaration
                </h1>
              </header>

              <p>Read the summary of terms and conditions, enter your details, and check that you agree to and accept this declaration.</p>

              </div>


              <div class="nhsuk-grid-column-two-thirds">
                <div class="declaration">
                   <p>I declare that:</p>
                  <br>
                  <ul>
                    <li style="margin-left:40px; padding-bottom:10px;">all prescribing activity claimed under the NHS Pharmacy First Clinical Pathway consultations or the NHS Pharmacy Contraception Service has been undertaken in accordance with the relevant service specification and service directions, within the scope of the independent prescribing pharmacist’s competence, informed by the Professional Assurance Framework and in line with applicable clinical guidance, local ICB policy and formularies (where applicable), and in accordance with professional standards;</li>

                    <li style="margin-left:40px; padding-bottom:10px;">for each pharmacist prescriber providing services for which payment is claimed, the contractor has ensured that the prescriber:
                     <ul>
                        <li style="margin-left:40px; padding-bottom:10px;">holds an approved independent prescribing qualification;</li>
                        <li style="margin-left:40px; padding-bottom:10px;">prescribing activity complies with NHS Advanced Service Prescribing Guidance;</li>
                        <li style="margin-left:40px; padding-bottom:10px;">has an active independent prescriber annotation recorded with the General Pharmaceutical Council (GPhC) where no restrictions have been imposed regarding Fitness to Practise proceedings; and</li>
                        <li style="margin-left:40px; padding-bottom:10px;">is appropriately registered against the pharmacy’s ODS code in accordance with service requirements.</li>
                      </ul>
                    </li>

                     <li style="margin-left:40px; padding-bottom:10px;">the contractor has undertaken appropriate checks to confirm the above prescriber requirements at onboarding and maintains processes to ensure ongoing compliance;</li>

                     <li style="margin-left:40px; padding-bottom:10px;">no prescribing consultations <b>claimed for payment</b> under this declaration have also been claimed under a Patient Group Direction (PGD) during the same period (i.e. no duplicate claims for the same activity);</li>

                      <li style="margin-left:40px; padding-bottom:10px;">all prescribing pharmacists working at the pharmacy have <b>not</b> conducted any NHS Pharmacy First Clinical Pathway consultations or the NHS Pharmacy Contraception Service consultations via a Patient Group Direction (PGD) and where applicable this is only performed by non-prescribing pharmacists;</li>
             
                      <li style="margin-left:40px; padding-bottom:10px;">the consultation has been appropriately recorded, a prescription generated where applicable, and relevant information communicated to the patient’s General Practice in accordance with the service specification (or, where this is not possible, a clear record is retained explaining why);</li>

                      <li style="margin-left:40px; padding-bottom:10px;">the contractor holds and will retain reasonable evidence sufficient to demonstrate compliance with the requirements of the service, as set out in the service specification, and will make such evidence available on request for verification, assurance, audit or post-payment review.</li>
                  </ul>
                </div>
                <fieldset>
                  <legend class="visually-hidden">New Submission</legend>
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-width-10">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="first-name" type="text">
                  </div>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-width-10">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="last-name" name="last-name" type="text">
                  </div>
                  <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>A confirmation email will be sent to XXXXXX. If you would like a copy sent to another email
                      address, enter it below.</p>
                  </div>
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="email-with-hint-text">
                      Email address (optional)
                    </label>
                    <!-- <div class="nhsuk-hint" id="email-with-hint-text-hint">
                      <span id="emailHint" class="panel panel-border-narrow">
                        A confirmation email will be sent to <contractor email address>
                          <br>
                          If you would like a copy sent to another email address, enter it below.
                      </span>
                    </div> -->
                    <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text"
                      aria-describedby="email-with-hint-text-hint">
                  </div>


                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="agree-check" name="agree-check" type="checkbox"
                            value="agree-check" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="agree-check">
                            I agree to and accept this declaration
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <br>

                  <div class="form-group">
                    <a href="confirmation" class="nhsuk-button">
                      Submit
                    </a>
                  </div>

                </fieldset>
              </div>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}