<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Prescribing Consultation Claim (PCC)
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<br>
<br>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">


           <header>
                <h1>
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prescribing Consultation Claim</span>
                  Delete this consultation
                </h1>
              </header>

            
     <table class="nhsuk-table-responsive" role="table">
  <caption class="nhsuk-table__caption">
    Consultation summary
  </caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th scope="col" class="nhsuk-table__header" style="width: 30%;"> 
            Service
          </th>
          <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
            Consultation date
          </th>
          <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
            Patient name
          </th>
          <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
            NHS number
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            Pharmacy First Sore Throat
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            15 June 2026
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            Karen Francis
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            111 111 1111
          </td>
        </tr>
        </tbody>
      </table>

              <form action="summarydeletion" method="post">

                
               <div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="delete-record">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h2 class="nhsuk-fieldset__heading">
        Do you want to delete the consultation?
      </h2>
    </legend>
    <div class="nhsuk-radios" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="delete-record" name="summarydeletion" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="delete-record">
          Yes, I would like to delete this consultation
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="delete-record-2" name="summarydeletion" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="delete-record-2">
          No, I want to go back to the submission summary
        </label>
      </div>
    </div>
  </fieldset>
</div>


               <button class="nhsuk-button" type="submit">
        Continue
      </button>

  </form>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}