{% extends 'layout.html' %}

{% block pageTitle %}
Prescribing Consultation Claim (PCC)
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

<br><br>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <header>
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prescribing Consultation Claim</span>
        Prescription items
      </h1>
    </header>

   
 <h2 class="nhsuk-heading-m">This prescription contains x items.</h2>
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       1
    </dt>
    <dd class="nhsuk-summary-list__value">
      Amoxicillin 250mg capsules
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       2
    </dt>
    <dd class="nhsuk-summary-list__value">
      Ibuprofen 200mg tablets
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       3
    </dt>
    <dd class="nhsuk-summary-list__value">
      Metformin 500mg tablets
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       4
    </dt>
    <dd class="nhsuk-summary-list__value">
      Omeprazole 20mg capsules
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       5
    </dt>
    <dd class="nhsuk-summary-list__value">
      Paracetamol 500mg tablets
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       6
    </dt>
    <dd class="nhsuk-summary-list__value">
      Lisinopril 10mg tablets
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       7
    </dt>
    <dd class="nhsuk-summary-list__value">
      Amlodipine 5mg tablets
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       8
    </dt>
    <dd class="nhsuk-summary-list__value">
      Atorvastatin 20mg tablets
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       9
    </dt>
    <dd class="nhsuk-summary-list__value">
      Doxycycline 100mg capsules
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
       10
    </dt>
    <dd class="nhsuk-summary-list__value">
      Prednisolone 5mg tablets
    </dd>
  </div>
  
</dl>

<nav class="nhsuk-pagination nhsuk-pagination--numbered" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-pagination__list">
    <li class="nhsuk-pagination__item nhsuk-pagination__item--current">
      <a class="nhsuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="nhsuk-pagination__item">
      <a class="nhsuk-pagination__link" href="#" aria-label="Page 2">
        2
      </a>
    </li>
  </ul>
  <a href="#" class="nhsuk-pagination__next" rel="next">
    <span class="nhsuk-pagination__title">
      Next<span class="nhsuk-u-visually-hidden"> page</span>
    </span>
    <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
      <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z" />
    </svg>
  </a>
</nav>


{% endblock %}