<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Administration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}


{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
       

        <!-- Change the page title here -->
        <header>
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">Manage the flu and COVID-19 vaccination season</span>
            <h1 class="nhsuk-caption--bottom">Date range</h1>  
        </header>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
        <!-- <h2>Context</h2> -->
<br>
       
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Flu season range
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Enter flue season as a range of year-month pairs e.g. 2018-09, 2019-04
            <input class="nhsuk-input" id="example" name="example" type="text" value="2026-09, 2027-03">            
          </div>
        </div>

        <div class="nhsuk-form-group"></div>
            <label class="nhsuk-label" for="example">
                Covid vaccination claims submission period
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Enter Covid vaccination claims submission period as a range of year-month pairs e.g. 2020-12, 2021-08
            <input class="nhsuk-input" id="example" name="example" type="text" value="2024-12, 2029-12">            
          </div>
        

<br>        

        <a href="confirmation" class="nhsuk-button">Save</a>
      
    </div>
</div>
{% endblock %}