<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Disallowed item
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
                <h1>
                  Disallowed item
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Paper prescription item</span>
                </h1>
              </header>
              
              

              <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                  Appliance or chemical reagent not allowed as not listed in Drug Tariff
                </h2>
                <div class="nhsuk-error-summary__body">
                 
                  <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
                    <li>
                      <a href="https://www.nhsbsa.nhs.uk/pharmacies-gp-practices-and-appliance-contractors/drug-tariff" target="_blank">For more information refer to the Drug Tariff (opens in new window)</a>
                    </li>
                  </ul>
                </div>
              </div>
            
            
              <div class="column-two-thirds">


                <div class="grid-row">
                  <div class="column-third">
                    <h2 class="heading-small" style="margin-top:10px;">Item name not available</h2>
                  </div>
                  <div class="column-two-thirds">
                   
                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Quantity
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          10
                        </dd>
                    
                      </div>
                    
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Additional
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                         FF
                        </dd>
                    
                      </div>
                    
                    
                    </dl>
                    </div>

                    <br>

                    <h3>Information you added</h3>

                    <div class="column-two-thirds">
                   
                      <dl class="nhsuk-summary-list">
  
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Supplier
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Test
                          </dd>
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Pack size
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           10
                          </dd>
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Pack price
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           £10.00
                          </dd>
                        </div>

                        <br>
                        
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Show prescription information
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                      <br>
                      <br>
                      <h3>Patient</h3>
                      <img alt="paper-prescription-patient" class="gallery-item-visible gallery-item gallery-item-preloaded" data-hook="gallery-item-image-img" data-idx="0" src="https://i.ibb.co/qpgbgpf/paper-prescription-patient.png" loading="eager" >
                    <br>
                    <br>
                      <h3>Dispenser</h3>
                      <img alt="paper-prescription-dispenser" class="gallery-item-visible gallery-item gallery-item-preloaded" data-hook="gallery-item-image-img" data-idx="0" src="https://i.ibb.co/sVTNSqR/paper-prescription-dispenser.png" loading="eager" >
                   <br>
                    <br>
                    <h3>Item information</h3>
                    <img alt="paper-prescription-information" class="gallery-item-visible gallery-item gallery-item-preloaded" data-hook="gallery-item-image-img" data-idx="0" src="https://i.ibb.co/377s8Zr/paper-prescription-information.png" loading="eager" >
                
                </details>
                </div>


                <h3>Conversation history </h3>
                <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Show conversation history
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <table class="nhsuk-table">
                      <caption class="nhsuk-table__caption"></caption>
                      <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                          <th role="columnheader" class="" scope="col">
                           
                          </th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b><i>Contractor added the following on 09 Sep 2023 13:52:43</i></b>
                          <br>
                            <b>Supplier: </b> Apex  <b>Pack size: </b> 3  <b>Pack price: </b> £23.33  <b>Quantity: </b> 56  <b>Vial/Amp/Cartridge size: </b> 2.5
                          </td>
                        </tr>
      
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b> <i>Contractor added the following on 23 Jun 2023 11:11:12</i></b>
                          <br>
                            <b>Supplier: </b> Studio1  <b>Pack size: </b> 1 x 200 dose inhaler  <b>Pack price: </b> £3.58  <b>Quantity: </b> 23  
                          </td>
                        </tr>
      
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b>  <i>Contractor added the following on 09 April 2023 09:54:13</i></b>
                          <br>
                            <b>Supplier: </b> Barbie  <b>Pack size: </b> 10  <b>Pack price: </b> £20.30  <b>Quantity: </b> 100  
                          </td>
                        </tr>
      
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b> <i>Previous message from NHSBSA on 09 April 2023 09:54:13</i></b>
                          <br>
                          Eque porro quisquam est qui dolorem ipsum.
                        </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </details>

                <br>

                <!--div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h2 class="nhsuk-fieldset__heading">
                        Do you want to challenge or archive this item?
                      </h2>
                    </legend>
                
                    <div class="nhsuk-radios nhsuk-radios--conditional">
                
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                        <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                          Yes, I want to challenge this item.
                        </label>
                        
                      </div>
                
                      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
                     
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="example">
                            Enter your reason for challenging this disallowed item 
                          </label>
                          <textarea class="nhsuk-textarea nhsuk-u-width-two-thirds" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                        </div>

                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="email">
                            Email address
                          </label>
                          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                        </div>
                       
                        <br>

                        <a href="disallowed-items" class="nhsuk-button">Submit</a>

                        <br>
                
                      </div>
                
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="no" aria-controls="conditional-contact-2" aria-expanded="false">
                        <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                          No I don't want to challenge this item.
                        </label>
                      </div>
                
                      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2" >
                     
                      <br>

                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="if-no">

                        <a href="disallowed-items" class="nhsuk-button" for="if-no">Save and come back later</a>

                        </label>

                       
                
                      </div>
                
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="no" aria-controls="conditional-contact-3" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                        Archive this disallowed item.
                        <div class="nhsuk-hint" id="contact-hint">
                          Archived items can still be challenged.
                        </div>
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3"-->
                   
                    <!--style="margin: 0; border-left: none; padding-left: 0; margin-top: 10px;" --> 

                    <!--br>

                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="if-no">

                      <a href="disallowed-items" class="nhsuk-button" for="if-no">Submit</a>

                      </label>
                    
                  </fieldset>
                

             
                </div>
              </div-->

              

              
        
              
              
              </div>


            </div>


          </div>

        </div>

      </div>

{% endblock %}