<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
WT&E
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
                <h1>
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Foundation Trainee Pharmacist training grant and <br>Pre-registration Trainee Pharmacy Technician education and training contribution payments</span>
                  Administer a trainee record
                </h1>
              </header>
              <hr>

              <p>From this screen you can:</p>
              <ul>
                <li>create a new trainee record</li>
                <li>select a trainee record to view or edit</li>
              </ul>

              <br>

              <!--<h2 class="nhsuk-heading-l">Trainee list for [pharmacy]</h2>-->

              <a href="create-trainee" class="nhsuk-button">
                Create new trainee record
              </a>

              <p>
              <h2>Current trainees</h2>
              </p>

              <p>You do not have any trainees currently registered</p>

              <!-- <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__key">
                    Course
                  </dd>
                  <dd class="nhsuk-summary-list__key">
                    Status
                  </dd>

                  <dd class="nhsuk-summary-list__actions">
                  </dd>

                </div> -->

              <!--<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__value">
      Martin Crane
    </dt>
    <dd class="nhsuk-summary-list__value">
      1234567
    </dd>

            <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag">
        Active
        </strong>
    </dd>


    <dd class="nhsuk-summary-list__actions">

      <a href="edit-trainee-mc">
        view<span class="nhsuk-u-visually-hidden"> trainee record for Martin Crane</span>
      </a>

    </dd>

  </div>-->

              <!-- <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__value">
                    Dianne Nguyen
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Pre-registration Trainee Pharmacy Technician (PTPT)
                  </dd>

                  <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag">
                      Active
                    </strong>
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="cya-dianne">
                      View or edit<span class="nhsuk-u-visually-hidden"> trainee record for Dianne Nguyen</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__value">
                    Jake Peralta
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Pharmacist Foundation Training Programme (Yr.5)
                  </dd>

                  <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag">
                      Active
                    </strong>
                  </dd>


                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      View or edit<span class="nhsuk-u-visually-hidden"> trainee record for Jake Peralta</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__value">
                    Rachel Green
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Pre-registration Trainee Pharmacy Technician (PTPT)
                  </dd>

                  <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag">
                      Active
                    </strong>
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      View or edit<span class="nhsuk-u-visually-hidden"> trainee record for Rachel Green</span>
                    </a>

                  </dd>

                </div> -->



              </dl>




            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

</div>
{% endblock %}