<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Disallowed item
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

              <header>
                <h1>
                  Challenged item
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">EPS prescription item</span>
                </h1>
              </header>
              
              

             <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

              <div class="nhsuk-card__content" style="text-align: center;">

                  <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                    You have challenged this disallowed item
                    
                  </h2>
                  <p> This information will be reviewed</p>
              </div>

          </div>

            <br>
            
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Show prescription information
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <div class="column-two-thirds">
             
                  <dl class="nhsuk-summary-list">
                   <h3>Patient</h3>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Patient surname
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        HAGAN
                      </dd>
                    </div>
                  
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Patient date of birth
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        19/01/1973
                      </dd>
                    </div>
                  
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        NHS number
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        12341234
                      </dd>
                    </div>
                  
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Patient postcode
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        DH1 2QU
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Dispensed date
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        21/01/2017
                      </dd>
                    </div>
                  </dl>
                  </div>
            
                  <dl class="nhsuk-summary-list">
                    <h3>Prescribed item</h3>
                     <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key">
                         Prescriber name
                       </dt>
                       <dd class="nhsuk-summary-list__value">
                         JKFIB
                       </dd>
                     </div>
                   
                     <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key">
                         Prescriber site
                       </dt>
                       <dd class="nhsuk-summary-list__value">
                         A1
                       </dd>
                     </div>
                   
                     <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key">
                         Product name
                       </dt>
                       <dd class="nhsuk-summary-list__value">
                        Muvac vaccine suspension for injection 0.5ml pre-filled syringes
                       </dd>
                     </div>
                   
                     <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key">
                         Quantity
                       </dt>
                       <dd class="nhsuk-summary-list__value">
                         10
                       </dd>
                     </div>
                     <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key">
                        Additional endorsement
                       </dt>
                       <dd class="nhsuk-summary-list__value">
                         FG
                       </dd>
                     </div>
                    

                   </dl>
              </div>
            </details>
        </div>
      </div>

              <div class="column-two-thirds">


                <div class="grid-row">
                  <div class="column-third">
                    <h2 class="heading-small" style="margin-top:10px;">
                      Muvac vaccine suspension for injection
                      0.5ml pre-filled syringes</h2>
                  </div>
                  <div class="column-two-thirds">
                   
                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Quantity
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          100
                        </dd>
                    
                      </div>
                    
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Additional
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                         JP
                        </dd>
                    
                      </div>
                    
                    
                    </dl>
                    </div>

                
                <br>

                <h3>Conversation history </h3>
                <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Show conversation history
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <table class="nhsuk-table">
                      <caption class="nhsuk-table__caption"></caption>
                      <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                          <th role="columnheader" class="" scope="col">
                           
                          </th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b><i>Contractor added the following on 09 Sep 2023 13:52:43</i></b>
                          <br>
                            <b>Supplier: </b> Apex  <b>Pack size: </b> 3  <b>Pack price: </b> £23.33  <b>Quantity: </b> 56  <b>Vial/Amp/Cartridge size: </b> 2.5
                          </td>
                        </tr>
      
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b> <i>Contractor added the following on 23 Jun 2023 11:11:12</i></b>
                          <br>
                            <b>Supplier: </b> Studio1  <b>Pack size: </b> 1 x 200 dose inhaler  <b>Pack price: </b> £3.58  <b>Quantity: </b> 23  
                          </td>
                        </tr>
      
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b>  <i>Contractor added the following on 09 April 2023 09:54:13</i></b>
                          <br>
                            <b>Supplier: </b> Barbie  <b>Pack size: </b> 10  <b>Pack price: </b> £20.30  <b>Quantity: </b> 100  
                          </td>
                        </tr>
      
                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"> 
                            <b> <i>Previous message from NHSBSA on 09 April 2023 09:54:13</i></b>
                          <br>
                          Eque porro quisquam est qui dolorem ipsum.
                        </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </details>

                
          
                
                
                </div>


              </div>


            </div>

          </div>

        </div>
   

  


{% endblock %}