<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
HEE
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container">

        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <div class="nhsuk-back-link">
                <a class="nhsuk-back-link__link" href="javascript:history.back()">
                  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                  </svg>
                  Go back</a>
              </div>

              <header>
                <h1>
                  Pre-Registration Trainee Pharmacy Technicians (PTPTs) and Pharmacist Foundation Training Programme
                  (Yr.5)
                  <span class="nhsuk-caption-xl nhsuk-caption--bottom">View or edit a trainee</span>
                </h1>
              </header>


              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Dianne
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Last name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Nguyen
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01 March 1998
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Trainee Type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Pre-registration Trainee Pharmacy Technician (PTPT)
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <!-- <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    GPhC Number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    2574852
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div> -->

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Training Start Date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01 Oct 2021
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Training End Date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01 Oct 2022
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="edit-trainee-dn-cya">
                      Change<span class="nhsuk-u-visually-hidden"></span>
                    </a>
                  </dd>
                </div>
              </dl>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Suspension history
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                      <ul class="dl-timeline dl-timeline--with-starter-label">


                        <li class="dl-timeline__entry">
                          <h3 class="govuk-heading-s dl-timeline__entry-heading">Resumed</h3>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 June 2022
                          </p>
                          <div class="dl-timeline__entry__content"></div>
                        </li>


                        <li class="dl-timeline__entry">
                          <h3 class="govuk-heading-s dl-timeline__entry-heading">Suspended</h3>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 April 2022
                          </p>
                          <div class="dl-timeline__entry__content"></div>
                        </li>


                        <li class="dl-timeline__entry">
                          <h3 class="govuk-heading-s dl-timeline__entry-heading">Resumed</h3>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 February 2022
                          </p>
                          <div class="dl-timeline__entry__content"></div>
                        </li>


                        <li class="dl-timeline__entry">
                          <h3 class="govuk-heading-s dl-timeline__entry-heading">Suspended</h3>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 January 2022
                          </p>
                          <div class="dl-timeline__entry__content"></div>
                        </li>



                        <li class="dl-timeline__entry">
                          <h3 class="govuk-heading-s dl-timeline__entry-heading">Resumed</h3>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 December 2021
                          </p>
                          <div class="dl-timeline__entry__content"></div>
                        </li>



                        <li class="dl-timeline__entry">
                          <h3 class="govuk-heading-s dl-timeline__entry-heading">Suspended</h3>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 November 2021
                          </p>
                          <div class="dl-timeline__entry__content"></div>
                        </li>


                        <li class="dl-timeline__start-label">
                          <h4 class="govuk-heading-s">Started</h4>
                          <p class="dl-timeline__entry-details govuk-body-s">
                            01 September 2021
                          </p>
                        </li>

                      </ul>

                    </div>
                  </div>
                </div>
              </details>



              <a class="nhsuk-button" href="suspend-dianne">
                Suspend trainee
              </a>

              <a class="nhsuk-button nhsuk-button--secondary" href="withdraw-dianne">
                Withdraw trainee
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}