<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Administration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}


{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <!-- Change the page title here -->
        <header>
            <h1 class="nhsuk-caption--bottom"></span>
                Edit application settings
            </h1>   
        </header>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
        <!-- <h2>Context</h2> -->
<br>
        <p>Use this function to amend the dates that an application is visible. By editing visibility dates you can give or remove users' access to a service.</p>
        


    <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>

    <p>Edit the visibility settings and give access to <a href="non-active-application-settings">inactive MYS services</a>.</p>
    </div>


 <!--summary-->   
        <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-l">Summary tab</h2>
            <label class="nhsuk-label" for="example">
                Summary for the application
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea>         
         </div>

         
<br>
<!--prescriptions-->    
        <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-l">Prescriptions submissions tab</h2>
            <label class="nhsuk-label" for="example">
                Disallowed items
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                FP34C Submissions
            </label>
            <div class="nhsuk-hint" id="example-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times. 
            </div>
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Prescription image request
            </label>
            <div class="nhsuk-hint" id="example-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.
            </div>
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea>
          </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Unpaid items
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>


<!--services-->        
        <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-l">Services tab</h2>
            <label class="nhsuk-label" for="example">
                Children's Flu service - registration
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Contraception Service
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                COVID-19 vaccination programme site selection process
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                COVID-19 vaccination claims submission period
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                COVID-19 premises and refrigeration payments
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
         </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Discharge Medicines Service (DMS)
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Foundation trainee pharmacist training grant and pre-registration trainee pharmacy technician education and training contribution payments
            </label>
            <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Hypertension Case-Finding Advanced Service
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Lateral Flow Device Service
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>


        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Pharmacy First Service
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>


        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Prescription Prepayment Certificate (PPC)
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>


        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Respiratory syncytial virus (RSV) and pertussis vaccine claims
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Smoking Cessation Advanced Service Claim
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

         <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Unplanned temporary suspension of services
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
         </div>
     


        <!--pqs-->

        <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-l">PQS tab</h2>
            <label class="nhsuk-label" for="example">
                PQS submissions
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>


        <!--audits-->
        <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-l">Audits tab</h2>
            <label class="nhsuk-label" for="example">
                Audits
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>


        <!--admin-->
        <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-l">Admin tab</h2>
            <label class="nhsuk-label" for="example">
                Financial reports
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Real Time Exemption Checking (RTEC) declaration
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                Submission reports
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                User management
            </label>
             <div class="nhsuk-hint" id="contact-hint">
                Set the End Date to 9999-12-31 00:00 if the menu or tile should remain visible at all times.   
            </div>            
            <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint">2021-03-01 07:00,9999-03-02 00:30</textarea> 
         </div>
       

<br>
        <a href="confirmation-application-settings" class="nhsuk-button">Save parameters</a>

     </div>
    </div>
</div>
{% endblock %}