<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar-MDT.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container" style="margin: 0; padding-left: 32px;">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <ul class="nhsuk-grid-row nhsuk-card-group">

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">BSA Submission reports</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">BSA All Submissions report</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">Account identifier re-print</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">Import Digital FP34C tolerance check data</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">Delete FP34C Submission</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">FP34C Tolerance Exceptions Report</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">Manage FP34C Claim Periods</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="covid">Covid</a></li>
              <li><a href="covid-lfd">Covid LFD</a></li>
              <li><a href="cpcs">CPCS</a></li>
              <li><a href="cvd">CVD</a></li>
              <li><a href="dms">DMS</a></li>
              <li><a href="flu">Flu</a></li>
              <li><a class="active" href="digital-submissions">Digital Submissions</a></li>
              <li><a href="gp">GP</a></li>
              <li><a href="hep-c">Hep C</a></li>
              <li><a href="home-delivery">Home Delivery</a></li>
              <li><a href="ppe">PPE</a></li>
              <li><a href="pqs">PQS</a></li>
              <li><a href="rb">RB</a></li>
              <li><a href="rtec">RTEC</a></li>
              <li><a href="scs">SCS</a></li>
              <li><a href="settings">Settings</a></li>
              <li><a href="uploads">Uploads</a></li>
              <li><a href="user-reports">User Reports</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}