<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'MDT.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
MYS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">


      <!-- Notification banner -->
      <div class="alert-banner" style="background-color: #FAE100; padding-bottom: 80px;"></div>
      <div class="nhsuk-width-container" style="margin: 0; padding-left: 30px;">

<!-- Feedback and Notification block starts here -->
      <p style="color: #000;
      font-size: 16px;
      line-height: 1.25;
      margin-top: -7.5%;
      padding: 8px 10px 8px;
      text-transform: capitalize;
      letter-spacing: 1px;">
    <span style="text-decoration: none;">
      <strong>Reminder: </strong>
      You Must Submit Your Pharmacy Quality Scheme (PQS) Declaration For 2023/24 By 11:59pm On 1st June 2024.
      </span> </p>

    <div class="phase-banner"
    style="margin: 5px ;
    line-height: 1.25;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #bfc1c3;">
    <p></strong> Your <a href="https://online1.snapsurveys.com/MYS_FEEDBACK_SURVEY?pgn=" target="_blank">feedback (opens in a new tab)</a> will help us improve our service.</p>

  </div>
<!-- Feedback and Notification block ends here -->


      
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <ul class="nhsuk-grid-row nhsuk-card-group">

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="FP34C/Dashboard">DMS Payment Report</a>
                      </h2>
                      <p class="nhsuk-card__description"></p>
                    </div>
                  </div>

                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div class="options" id="options">
            <ul>
              <div class="options" id="options"></div>
              <li><a href="covid">Covid</a></li>
              <li><a href="covid-lfd">Covid LFD</a></li>
              <li><a href="cpcs">CPCS</a></li>
              <li><a href="cvd">CVD</a></li>
              <li><a class="active" href="dms">DMS</a></li>
              <li><a href="flu">Flu</a></li>
              <li><a href="digital-submissions">Digital Submissions</a></li>
              <li><a href="gp">GP</a></li>
              <li><a href="hep-c">Hep C</a></li>
              <li><a href="home-delivery">Home Delivery</a></li>
              <li><a href="ppe">PPE</a></li>
              <li><a href="pqs">PQS</a></li>
              <li><a href="rb">RB</a></li>
              <li><a href="rtec">RTEC</a></li>
              <li><a href="scs">SCS</a></li>
              <li><a href="settings">Settings</a></li>
              <li><a href="uploads">Uploads</a></li>
              <li><a href="user-reports">User Reports</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}