<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-back-link">
                                <a class="nhsuk-back-link__link" href="javascript:history.back()">
                                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" aria-hidden="true">
                                        <path
                                            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                        </path>
                                    </svg>
                                    Back</a>
                            </div>

                            <header>
                                <h1>
                                    Old Pharmacy Dashboard
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">FP34C</span>
                                </h1>
                            </header>
                            <hr>


                            <h2 class="nhsuk-heading-l">Version 1</h2>

                            <p>First version of the old pharmacy prototype. <br><br><a href="V1">Version 1</a></p>


                            <h2 class="nhsuk-heading-l">Version 2</h2>

                            <p>04 Jan 2023. Updated version of the old pharmacy prototype. Added functionality to address ticket BP275-5184. Users can now edit submissions themselves rather than having to call MYS admin. And a warning message lets the user know they have a window to edit their claim in order to recieve payment on time. <br><br><a href="V2">Version 2</a></p>

                            <h2 class="nhsuk-heading-l">Version 3</h2>

                            <p>7 Oct 2023. New version, changed layouts and options. User journey stays the same. <br><br><a href="V3">Version 3</a></p>

                            <h2 class="nhsuk-heading-l">Version 4</h2>

                            <p>30 Apr 2024. New content. User journey stays the same. <br><br><a href="V4/V4">Version 4</a></p>

                            <h2 class="nhsuk-heading-l">Version 5</h2>

                            <p>22 May 2024. Added 'Edit' button after user submitted. <br><br><a href="V5/V4">Version 5</a></p>

                            <br>

                         <h2 class="nhsuk-heading-l">FP34C Items Warning Messages</h2>

                           

                            <p>DMS Changes 09 August 2022 <br><br><a href="paper-warning">FP34C Items Warning Messages</a></p>
                            <br>

                           <p>---- Updated in 2024------</p>

                            <br>

                            <p>24 May 2024 <br>Error 1 -paper<br><a href="paperv4-error">Enter the number of exempt forms you are sending</a></p>

                            <p>28 May 2024 <br>Error 2 -paper<br><a href="paperv4-error-2">Are the numbers of exempt and old rate forms correct? <b>('Continue' for next error page)</b></a>
                                <br>
                                <a href="paperv4-error-2-continue">Correct the number of exempt or old rate forms</a>
                            </p>
                            
                            <p>7 June 2024 <br>Error 2 -paper<br><a href=" paperv4-warning">Discussed in UCD for this error </a>
                            <br>
                            <a href="paperv4-warning-2">Other style</a>
                        </p>

                            <p>4 June 2024 <br>Error 3 -paper<br><a href="paperv4-error-continue">The total number of items you have input is significantly different to your previous month's submission.</a></p>

                            <p>4 June 2024 <br>Error 4 -paper<br><a href="paperv4-error-continue-2">The second set of figures you entered were different to your first set.</a></p>


                           
                            <br>
                           <p>----- Waiting to be confirmed with Brian</p> 

                            <p>4 June 2024 <br>Error 5 -paper<br><a href="paperv4-error-continue-3">Values must not be higher than 9999999.</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 6 -paper<br><a href="paperv4-error-continue-4">The total number of items you have input is significantly different, Please fill in all exempt, paid and old rate items fields</a></p>

                              <br>

                            <p>4 June 2024 <br>Error 7 -eps<br><a href="epsv4-error-continue-5">The total number of items you have input is significantly different, Please fill in all exempt, paid and old rate items fields</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 8 -eps<br><a href="epsv4-error-continue-6">Any of the exempt, paid and old rate values must not be higher than 9999999</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 9 -eps<br><a href="epsv4-error-continue-7">The number of paid forms sent must be 0 or more</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 10 -eps<br><a href="epsv4-error-continue-8">Any of the exempt, paid and old rate values must not be higher than 9999999</a></p>


                            <br>
                          

                           
                           
                        
                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}