<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
                         {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

   

                            <header>
                                <h1>
                                   Items Warning Messages for FP34C
                                    <span class="nhsuk-caption-xl nhsuk-caption--bottom">FP34C prototype dashboard - <a href="Dashboard">View Dashboard</a></span>
                                </h1>
                            </header>
                            <hr>



                            <p>DMS Changes 09 August 2022 <br><br><a href="paper-warning">FP34C Items Warning Messages</a></p>
                            <br>

                           <p>---- Updated in 2024------</p>

                            <br>

                            <p>24 May 2024 <br>Error 1 -paper<br><a href="paperv4-error">Enter the number of exempt forms you are sending</a></p>

                            <p>28 May 2024 <br>Error 2 -paper<br><a href="paperv4-error-2">Are the numbers of exempt and old rate forms correct? <b>('Continue' for next error page)</b></a>
                                <br>
                                <a href="paperv4-error-2-continue">Correct the number of exempt or old rate forms</a>
                            </p>
                            
                            <p>7 June 2024 <br>Error 2 -paper<br><a href=" paperv4-warning">Discussed in UCD for this error </a>
                            <br>
                            <a href="paperv4-warning-2">Other style</a>
                            <br>
                            <a href="paperv4-error-2-suggest">Other style 2</a>
                        </p>

                            <p>4 June 2024 <br>Error 3 -paper<br><a href="paperv4-error-continue">The total number of items you have input is significantly different to your previous month's submission.</a></p>

                            <p>4 June 2024 <br>Error 4 -paper<br><a href="paperv4-error-continue-2">The second set of figures you entered were different to your first set.</a></p>


                            <p>4 June 2024 <br>Error 5 -paper<br><a href="paperv4-error-continue-3">Values must not be higher than 9999999.</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 6 -paper<br><a href="paperv4-error-continue-4">The total number of items you have input is significantly different, Please fill in all exempt, paid and old rate items fields</a></p>

                              <br>

                            <p>4 June 2024 <br>Error 7 -eps<br><a href="epsv4-error-continue-5">The total number of items you have input is significantly different, Please fill in all exempt, paid and old rate items fields</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 8 -eps<br><a href="epsv4-error-continue-6">Any of the exempt, paid and old rate values must not be higher than 9999999</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 9 -eps<br><a href="epsv4-error-continue-7">The number of paid forms sent must be 0 or more</a></p>

                            <br>

                            <p>4 June 2024 <br>Error 10 -eps<br><a href="epsv4-error-continue-8">Any of the exempt, paid and old rate values must not be higher than 9999999</a></p>


                            <br>
                          

                           
                           
                        
                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}