<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
FP34C
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-back-link">
                                <a class="nhsuk-back-link__link" href="javascript:history.back()">
                                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" aria-hidden="true">
                                        <path
                                            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                        </path>
                                    </svg>
                                    Back</a>
                            </div>

                            <div class="main-content">

                                <header>
                                    <h1>
                                      Submission success
                                      <span class="nhsuk-caption-xl nhsuk-caption--bottom">December 2023 submission</Summary></span>
                                    </h1>
                                  </header>
                                


                                <div
                                    class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

                                    <div class="nhsuk-card__content">

                                        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                                            <span id="done-tick"></span>Submission sent
  
                                        </h1>

                                        <div class="nhsuk-date-input" id="example">
                                           
                                            <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                              <div class="nhsuk-form-group">
                                                <p>Paper prescriptions</p>
                                              </div>
                                            </div>
                                            <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                  <p>EPS prescriptions</p>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>
                                            
                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                  <p>Other activities</p>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                  <p>Declaration</p>
                                                </div>
                                              </div>

                                              <div class="nhsuk-date-input__item nhsuk-u-margin-right-2">
                                                <div class="nhsuk-form-group">
                                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="white"></path>
                                                        </svg>
                                                </div>
                                              </div>

                                              
                                              
                                            </div>
                                           
                                          </div>
                                      
                                    </div>
                                <br>
                                </div>

                               

                                <div class="grid-row">
                                    <div class="column-two-thirds">
                                        <h2 class="heading-large">What's next?</h2>

                                        <div class="nhsuk-hint" id="contact-hint">
                                            Sort and send your paper prescriptions
                                          </div>
                                      <br>
                                        
                                                <dt class="cya-question">
                                                    <h3>Sort prescriptions into groups</h3>
                                                </dt>
                                                
                                               
                                              <div class="govuk-warning-text">
                                                <span class="govuk-warning-text__icon" aria-hidden="true" style = top:-13px;">!</span>
                                                <strong class="govuk-warning-text__text">
                                                  <span class="govuk-warning-text__assistive">Warning</span>
                                                  Remove any adhesive tape, pins or staples.
                                                </strong>
                                              </div>
                                              
                                              <br>
                                              
                                              <p>Use dividers to separate your groups</p>

                                              <ol>
                                                <li>Red Separator - Exempt - now including those marked FS, SSP, HMP & Bulk</li>
                                                <li>Exempt - FP10MDA</li>
                                                <li>Exempt</li>
                                                <li>Red Separator - Chargeable</li>
                                                <li>Paid - FP10MDA</li>
                                                <li>Paid</li>
                                                <li>Red Separator - Old Charge Rate (when applicable)</li>
                                              </ol>
                                              
                                              <p>Bulk prescription are identified by the name of the school or insitution - the guidance does not currently require<br> bulk prescriptions to specify the word 'Bulk'.</p>

                                              
                                            </div>
                                            <a href=""><p>Other form types</p></a>
                                            <hr>
                                           
                                           
                                              <h3>Order your group</h3>
                                          

                                          
                                            <p>Each group should be ordered from top to bottom in the following way:</p>
                                           

                                            <ol>
                                                <li>Red separator items</li>
                                                <li>MDA forms</li>
                                                <li>All other FP10 forms</li>
                                            </ol>

                                            <a class="app-side-nav_link" href=""><p>What are red separator items?</p></a>

                                            </div>

                                            <div>
                                               
                                                
                                            <hr>
                                                

                                            </div>


                                            <div>
                                              <h3>Send us your batch</h3>
                                                
                                                    <p>Send batch by a secure, pre-paid postage method with track and trace.</p>

                                                   <hr>

                                           <p>You can <a href="">print your batch documentation</a> again if you have lost it.</p>
                                              
                                          
                                          <br>
                                           <br>
                            <a href="V3"><p>Continue</p></a>
                            
                            <a href="../index" class="nhsuk-link"><p>Back to MYS dashboard</p></a>

                                            </div>


                                          </div>


                                        </dl>


                                    </div>


                                </div>
                            </div>
                           

                            {% endblock %}