<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
WT&E
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}



    <!-- Change the page title here -->
    <header>
      <span class="nhsuk-caption-xl">Foundation trainee pharmacist (FTP) training grant and 
      <br>pre-registration trainee pharmacy technician (PTPT) education and training 
      contribution payments
      </span>
      <h1 class="nhsuk-heading-xl">Start your submission</h1>
    </header>


    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <p>Use this service to make claims for training grant contributions for foundation trainee pharmacists (FTPs) 
      and education and training contributions for pre-registration trainee pharmacy technicians (PTPTs).</p>

    <p>You will need to confirm the details of each FTP or PTPT you are claiming for separately.</p>

    <p>Start making your claim when an FTP or PTPT begins their training with you.</p>

    <p>Payments are made monthly in arrears in accordance with Part XIII of the Drug Tariff for the FTP 
      training grant, and in accordance with a signed NHS England contract for the PTPT education and 
      training contributions.</p>

    <p>For each FTP tell us their</p>
    <ul style="list-style: disc; margin-left: 30px;">
      <li>name</li>
      <li>date of birth</li>
      <li>GPhC registration number</li>
      <li>training start date</li>
      <li>designated supervisor’s name</li>
      <li>designated supervisor’s GPhC registration number</li>
    </ul>

    <p>For each PTPT, you will need to tell us their:</p>
    <ul style="list-style: disc; margin-left: 30px;">
      <li>name</li>
      <li>date of birth</li>
      <li>training start date</li>
      <li>designated supervisor’s name</li>
      <li>designated supervisor’s GPhC registration number</li>
      <!--li>Educational Supervisor’s name</li>
      <li>Educational Supervisor’s GPhC registration number</li-->
    </ul>

    <p>You must inform the NHSBSA if the training situation changes, for example, if you 
      cease to become a training site or if the trainee leaves your training programme.</p>


    <br>


    <!-- <a class="nhsuk-button" href="reg-declaration">Register</a> -->
    <a href="manage-trainees" class="nhsuk-button">
      Start now
    </a>


    <!-- End of content -->

  </div>
</div>
{% endblock %}