<!-- Extends the layout from /docs/views/template.html -->
{% extends 'layout.html' %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/prism.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}Manage Data Transfer{% endblock %}

{% block header %}
  {{ header({
    service: {
      text: 'Manage Data Transfer',
      href: '/mdt/index'
    },
    account: {
      items: [
        {
          text: 'Logged in as Joe Bloggs',
          action: '/',
          icon: false
        },
        {
          text: 'Log out',
          href: '/'
        }
      ]
    }
  }) }}
  
{% endblock %}

{% block footer %}

  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <p class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16">This website only stores the cookies that are needed to make it work. Read more about how <a href="/docs/cookies" class="nhsuk-footer__list-item-link">we use cookies.</a></p>
          </div>
        </div>

        <div class="nhsuk-width-container">

    <div class="nhsuk-footer__meta">

    
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      
      <ul class="nhsuk-footer__list">
      
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/docs">Home</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/docs/about">About and support</a></li>
      
      </ul>

      <p class="nhsuk-body-s">© NHS England</p>
    
    </div>
  </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
              
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-prototype-kit">NHS.UK prototype kit - GitHub</a></li>
            </ul>

            <p class="nhsuk-footer__copyright">&copy; NHS England</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
