
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% set containerClasses = 'nhsuk-width-container-fluid has-sidebar' %}

{% block header %}

  {{ header({
    service: {
      text: serviceName,
      href: '/'
    },
    account: {
      items: [
        {
          text: 'Logged in as Joe Bloggs',
          action: '/',
          icon: false
        },
        {
          text: 'Log out',
          href: '/'
        }
      ]
    },
    containerClasses: 'nhsuk-width-container-fluid'
  }) }}

  {% block secondaryNav %}
    <div class="nhsuk-secondary-navigation">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list"  style="display: flex; justify-content: space-between; align-items: center;">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page">General Care, 41 Beaconsfield St, Newcastle upon Tyne, NE4 9NP (FNE28)</a>
              </li>

              <!--a href="dispenser-selecter-auto" class="nhsuk-button nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-1 nhsuk-u-margin-bottom-1">Change dispenser</a-->

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-button nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-1 nhsuk-u-margin-bottom-1" href="dispenser-selecter-auto">Change dispenser</a>
              </li>

              <!--li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#3">MDT functions</a>
              </li-->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  {% endblock %}

  
{% endblock %}



{% block footer %}

  {{ footer({
    meta: {
      items: [
        {
          href: '#',
          text: 'Home'
        },
        {
          href: '#',
          text: 'Privacy'
        },
        {
          href: '#',
          text: 'Email the MYS support team'
        },
        {
          href: '#',
          text: 'Call us 0300 330 1368'
        },
        { href: 'https://online1.snapsurveys.com/interview/816b552f-4a8a-4786-bcef-0c2fd4d1dc35',
          text: 'Give us your feedback about your experience'
        }
      ]
    },
    containerClasses: 'nhsuk-width-container-fluid'
  }) }}

{% endblock %}

