
{% extends 'layout.html' %}

{% block footer %}

  {{ footer({
    meta: {
      items: [
        {
          href: '#',
          text: 'Home'
        },
        {
          href: '#',
          text: 'Privacy'
        },
        {
          href: '#',
          text: 'Email the MYS support team'
        },
        {
          href: '#',
          text: 'Call us 0300 330 1368'
        },
        { href: 'https://online1.snapsurveys.com/interview/816b552f-4a8a-4786-bcef-0c2fd4d1dc35',
          text: 'Give us your feedback about your experience'
        }
      ]
    }
  }) }}

{% endblock %}