
{% extends 'layout-sidebar-bsa.html' %}

{% block secondaryNav %}
    <div class="nhsuk-secondary-navigation">
    <div class="nhsuk-secondary-navigation__container">
      <div class="nhsuk-secondary-navigation__nav">
        <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
          <ul class="nhsuk-secondary-navigation__list">
            <li class="nhsuk-secondary-navigation__item">
              <a class="nhsuk-secondary-navigation__link" aria-current="page" href="/isp/home-boots">Logged in as Boots UK Ltd</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

  