<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage users
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


   
    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
      }) }}
   

    <!-- Change the page title here -->
    <header>
      <h1>
         
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Admin</span>
         Manage users
      </h1>
    </header>


    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <!-- <h2>Context</h2> -->
    <!-- <p class="nhsuk-body">Content?</p> -->
  

   
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Find a user
            </h1>
          </legend>
          <div class="nhsuk-hint" id="example-hint">
            Search by first name, email or ODS code
          </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
        </div>

       
       
       
    <a class="nhsuk-button" href="users-search-result">Search</a>

    <a href="create-users" class="nhsuk-button nhsuk-button--secondary">Add a new user</a>

    <br>
    <br>
    <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start now</button> -->

    <p>Searching users by term: <b>'Show all users'</b></p>
    <div class="nhsuk-hint" id="example-hint">
      You can sort this table by Name or by ODS Code by selecting the relevant column title.
    </div>
   

   
    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption"></caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            <a href="">Name</a>
          </th>
          <th role="columnheader" class="" scope="col">
            Email address
          </th>
          <th role="columnheader" class="" scope="col">
            <a href="">ODS code</a>
          </th>
          <th role="columnheader" class="" scope="col">
            User role
          </th>
        </tr>
      </thead>
   
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="cya-user">Dianne Nguyen</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Dianne.Nguyen@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Emily Zhang</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Emily.Zhang@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Ethan Walker</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Ethan.Walker@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Grace Morgan</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Grace.Morgan@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Isla Patel</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Isla.Patel@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">James O'Connor</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> James.OConnor@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Liam Murphy</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Liam.Murphy@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Nina Brown</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Nina.Brown@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Sophia Green</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Sophia.Green@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span> <a href="">Zara Ahmed</a></td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Email address</span> Zara.Ahmed@email.com</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">ODS code</span> ANNNNN</td>
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">User role</span> GP level</td>
      </tr>
    </tbody>
  </table>

  <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
      <li class="nhsuk-pagination-item--next">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
          <span class="nhsuk-pagination__title">Next</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">Page 2</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  </div>
</div>
{% endblock %}