<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Flu
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- Feedback and Notification block starts here -->

<!-- Feedback and Notification block ends here -->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">



        {{ backLink({
  href: 'javascript:history.back()',
  text: 'Back'
}) }}

        
        
        <!-- Change the page title here -->
        <header>
             <h1 class="nhsuk-caption--bottom">
              Manage flu vaccines
            </h1>
        </header>

<br>    

       <p>View, add or edit flu vaccines</p>
<br>
       <a href="manage-flu-new" class="nhsuk-button">Add a new vaccine</a>

       
         
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Manufacturer
            </th>
            <th role="columnheader" class="" scope="col">
              Vaccine
            </th>
            <th role="columnheader" class="" scope="col">
              Details
            </th>
            <th role="columnheader" class="" scope="col">
              Cost
            </th>
            <th role="columnheader" class="" scope="col">
              Fee
            </th>
            <th role="columnheader" class="" scope="col">
              Effective from
            </th>
            <th role="columnheader" class="" scope="col">
              Effective to
            </th>
            <th role="columnheader" class="" scope="col">
              Snomed code
            </th>
            <th role="columnheader" class="" scope="col">
              Action
            </th>

          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">FUTURE COMPANY</td>
            <td class="nhsuk-table__cell ">FUTURE VACCINE</td>
            <td class="nhsuk-table__cell ">INACTIVATED VIRUS</td>
            <td class="nhsuk-table__cell ">9.99</td>
            <td class="nhsuk-table__cell ">9.99</td>
            <td class="nhsuk-table__cell ">September 2024</td>
            <td class="nhsuk-table__cell ">December 2024</td>
            <td class="nhsuk-table__cell ">10186111000001100123</td>
            <td class="nhsuk-table__cell "><a href="manage-flu-edit">Edit</a></td>
          </tr>
        
        </tbody>
      </table>
  

    </div>
</div>

{% endblock %}